@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {
/*****************************************PLAYERCARD*****************************************/

.faceCard
{
padding: 49px 10px 0px 0px !important;
height: 0px !important;
left: 0px !important;
background-image: url("chrome://foxtrick/content/resources/img/old-style-face/silhouette.png") !important;
width: 47px !important;
margin: 10px 0px 0px 28px !important;
}

#sidebar .faceCard
{
margin-left:64px !important;
}

.faceCard img
{
top: 0px !important;
left: 0px !important;
width: 47px !important;
height: 0px !important;
padding-top: 49px !important;
display: none;
}

div#teamPhoto {
	height: 400px !important;
}
div#teamPhoto > div {
	padding: 0px 70px 0px 80px !important;
}
div#teamPhoto div.faceCard {
	position: relative !important;
	margin-left: 0px !important;
	top: 90px !important;
}

/******************************************BACKGROUND**************************************/
img[src="/Img/Avatar/backgrounds/bg_blue_int.png"],
img[src="/Img/Avatar/backgrounds/bg_blue.png"]
{
display: inline;
background-image: url("chrome://foxtrick/content/resources/img/old-style-face/backgrounds/bg.png") !important;
}

img[src="/Img/Avatar/backgrounds/y_bg_blue.png"]
{
display: inline;
background-image: url("chrome://foxtrick/content/resources/img/old-style-face/backgrounds/y_bg.png") !important;
}

img[src="/Img/Avatar/backgrounds/bg_hof.png"]
{
display: inline;
background-image: url("chrome://foxtrick/content/resources/img/old-style-face/backgrounds/hof_bg.png") !important;
}

}
