/*****************************************PLAYERCARD*****************************************/

.faceCard
{
padding: 49px 10px 0px 0px;
height: 0px;
left: 0px;
background-image: url("chrome://foxtrick/content/resources/img/old-style-face/silhouette.png") !important;
width: 47px;
margin: 10px 0px 0px 28px;
}

#sidebar .faceCard
{
margin-left:64px;
}

.faceCard img
{
top: 0px !important;
left: 0px !important;
width: 47px;
height: 0px;
padding-top: 49px;
}

.sectorShirt.ft-smallFaceCard img, .faceShirt.smallFaceCard img {
    height: 0px;
    padding-top: 49px;
    position: absolute;
}
.sectorShirt.ft-smallFaceCard img {
    top: -4px;
    left: -4px;
}
.faceShirt.smallFaceCard img {
    top: -2px;
    left: 4px;
}
div#teamPhoto {
	height: 400px;
}
div#teamPhoto > div {
	padding: 0px 70px 0px 80px;
}
div#teamPhoto div.faceCard {
	position: relative;
	margin-left: 0px;
	top: 90px;
}

/******************************************BACKGROUND**************************************/
img[src$="/Img/Avatar/backgrounds/bg_blue_int.png"],
img[src$="/Img/Avatar/backgrounds/bg_blue.png"]
{
display: inline;
background-image: url("chrome://foxtrick/content/resources/img/old-style-face/backgrounds/bg.png");
}

img[src$="/Img/Avatar/backgrounds/y_bg_blue.png"]
{
display: inline;
background-image: url("chrome://foxtrick/content/resources/img/old-style-face/backgrounds/y_bg.png");
}

img[src$="/Img/Avatar/backgrounds/bg_hof.png"]
{
display: inline;
background-image: url("chrome://foxtrick/content/resources/img/old-style-face/backgrounds/hof_bg.png");
}
