/* make space for long skills names */
div.playerInfo table.thin  td {padding-right: 5px;}

a[href*="#skill"] {white-space:nowrap;}

/* SKILL NUMBERS */
td span.ft-skill
{
	vertical-align: text-top;
}
span.ft-skill
{
	font-size:xx-small;
}
#details .experienceAndLeadership span, #details .staminaAndForm span, #details .layalty span {
	text-decoration: none;
}
a.ft-skill{
	text-decoration: none;
}
a.ft-skill-dont-touch{
	color: #fff;
	background-color: inherit;
}
