@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {
/* make space for long skills names */
div.playerInfo table.thin  td {padding-right: 5px !important;}

a[href*="#skill"] {white-space:nowrap;}

/* SKILL NUMBERS */
td span.ft-skill
{
	vertical-align: text-top;
}
span.ft-skill
{
	font-size:xx-small;
}
#details .experienceAndLeadership span, #details .staminaAndForm span, #details .layalty span {
	text-decoration: none !important;
}
a.ft-skill{
	text-decoration: none !important;
}
a.ft-skill-dont-touch{
	color: #fff !important;
	background-color: inherit !important;
}

}
