.*
*.pyc
*.log
*.xpi
*.crx
*.oex
*.safariextz
foxtrick.zip
maintainer/upload.*conf.sh
maintainer/*.pem
maintainer/*.der
maintainer/locale/crowdinKey.py
Credentials.py
maintainer/locale/Hattrick/CHPP/AccessToken.py
build/
content/locale/af/
