<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
		id="http://www.foxtrick.org/"
		version="0.14.0" network="public private">
	<name>FoxTrick</name>
	<description>A set of presentation enhancements for hattrick.org</description>
	<author href="http://www.foxtrick.org/">FoxTrick team</author>
	<license href="http://www.gnu.org/licenses">GNU General Public License</license>
	<icon src="skin/icon-64.png" width="64" height="64"/>
	<content src="background.html" type="text/html" encoding="utf-8"/>
	<access origin="http://*.hattrick.org" subdomains="true"/>
	<access origin="http://*.hattrick.fm" subdomains="true"/>
	<access origin="https://chpp.hattrick.org" subdomains="true"/>
	<access origin="http://chpp.hattrick.org" subdomains="true"/>
	<access origin="http://*.hattrick.ws" subdomains="true"/>
	<access origin="http://*.hattrick.name" subdomains="true"/>
	<access origin="http://*.hatt-rick.net" subdomains="true"/>
	<access origin="http://*.hattrick.interia.pl" subdomains="true"/>
	<access origin="http://*.hattrick.uol.com.br" subdomains="true"/>
	<access origin="http://www.foxtrick.org" subdomains="true"/>
	<access origin="https://www.foxtrick.org" subdomains="true"/>
	<access origin="http://foxtrick.symbiosis.org.gr" subdomains="true"/>
	<access origin="https://foxtrick.c6.ixsecure.com" subdomains="true"/>	 
	<access origin="http://foxtrick.googlecode.com" subdomains="true"/>
	<access origin="https://foxtrick.googlecode.com" subdomains="true"/>
	<access origin="http://www.hattrick-youthclub.org" subdomains="true"/>
	<access origin="http://www.fantamondi.it" subdomains="true"/>
	<access origin="http://htev.org" subdomains="true"/>
	<access origin="http://api.openweathermap.org" subdomains="true"/>
	<access origin="http://pastebin.com" subdomains="true"/>
	<update-description href="https://www.foxtrick.org/nightly/opera/update.xml"/>
	<feature name="opera:contextmenus"/>
</widget>
