<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
Please don't remove the following comments with "version" unless you have
a good reason to. They are for version bumps in Makefile.
-->
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Foxtrick team</string>
	<key>Builder Version</key>
	<string>534.50</string>
	<key>CFBundleDisplayName</key>
	<string>Foxtrick</string>
	<key>CFBundleIdentifier</key>
	<string>www.foxtrick.org</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>0.17.9</string><!--version-->
	<key>CFBundleShortVersionString</key>
	<string>0.17.9</string><!--version-->
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>10485760</real>
		<key>Global Page</key>
		<string>content/background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<!-- essential -->
				<string>content/env.js</string>
				<string>content/prefs-util.js</string>
				<string>content/l10n.js</string>
				<string>content/xml-load.js</string>
				<string>content/pages.js</string>

				<!-- ext-lib -->
				<string>content/lib/oauth.js</string>
				<string>content/lib/sha1.js</string>
				<string>content/lib/PluralForm.js</string>
				<string>content/lib/psico.js</string>
				<string>content/lib/gauge.js</string>
				<!-- end ext-lib -->

				<string>content/lib/integration.js</string>

				<!-- util -->
				<string>content/util/api.js</string>
				<string>content/util/array.js</string>
				<string>content/util/async.js</string>
				<string>content/util/color.js</string>
				<string>content/util/cookies.js</string>
				<string>content/util/copy-button.js</string>
				<string>content/util/css.js</string>
				<string>content/util/currency.js</string>
				<string>content/util/dom.js</string>
				<string>content/util/ht-ml.js</string>
				<string>content/util/id.js</string>
				<string>content/util/inject.js</string>
				<string>content/util/layout.js</string>
				<string>content/util/links-box.js</string>
				<string>content/util/load.js</string>
				<string>content/util/local-store.js</string>
				<string>content/util/log.js</string>
				<string>content/util/match-event.js</string>
				<string>content/util/match-view.js</string>
				<string>content/util/math.js</string>
				<string>content/util/misc.js</string>
				<string>content/util/module.js</string>
				<string>content/util/note.js</string>
				<string>content/util/notify.js</string>
				<string>content/util/permissions.js</string>
				<string>content/util/sanitize.js</string>
				<string>content/util/session-store.js</string>
				<string>content/util/string.js</string>
				<string>content/util/time.js</string>
				<!-- end util -->

				<!-- page-util -->
				<string>content/pages/all.js</string>
				<string>content/pages/match.js</string>
				<string>content/pages/matches.js</string>
				<string>content/pages/player.js</string>
				<string>content/pages/players.js</string>
				<string>content/pages/series.js</string>
				<string>content/pages/transfer-search-results.js</string>
				<string>content/pages/youth-player.js</string>
				<!-- end page-util -->

				<!-- api-util -->
				<string>content/api/hy/common.js</string>
				<string>content/api/hy/matches-report.js</string>
				<string>content/api/hy/matches-training.js</string>
				<string>content/api/hy/players-youth-reject-call.js</string>
				<string>content/api/hy/players-youth-skills.js</string>
				<string>content/api/hy/user-id.js</string>
				<string>content/api/mercattrick/common.js</string>
				<string>content/api/mercattrick/players-stats.js</string>
				<!-- end api-util -->

				<!-- core -->
				<string>content/add-class.js</string>
				<string>content/core.js</string>
				<string>content/fix-links.js</string>
				<string>content/forum-stage.js</string>
				<string>content/read-ht-prefs.js</string>
				<string>content/redirections.js</string>
				<string>content/ui.js</string>
				<!-- end core -->

				<!-- categorized modules -->
				<string>content/access/aria-landmarks.js</string>
				<string>content/alert/live-alert.js</string>
				<string>content/alert/new-mail.js</string>
				<string>content/alert/ticker-alert.js</string>
				<string>content/alert/ticker-coloring.js</string>
				<string>content/forum/auto-post-specs.js</string>
				<string>content/forum/embed-media.js</string>
				<string>content/forum/forum-change-posts-modules.js</string>
				<string>content/forum/forum-change-posts.js</string>
				<string>content/forum/forum-direct-page-links.js</string>
				<string>content/forum/forum-last-post.js</string>
				<string>content/forum/forum-leave-button.js</string>
				<string>content/forum/forum-mod-popup.js</string>
				<string>content/forum/forum-next-and-previous.js</string>
				<string>content/forum/forum-presentation.js</string>
				<string>content/forum/forum-preview.js</string>
				<string>content/forum/forum-strip-hattrick-links.js</string>
				<string>content/forum/forum-templates.js</string>
				<string>content/forum/forum-thread-auto-ignore.js</string>
				<string>content/forum/forum-youth-icons.js</string>
				<string>content/forum/go-to-post-box.js</string>
				<string>content/forum/hide-signatures.js</string>
				<string>content/forum/ht-thread-marker.js</string>
				<string>content/forum/mark-all-as-read.js</string>
				<string>content/forum/show-forum-pref-button.js</string>
				<string>content/forum/staff-marker.js</string>
				<string>content/information-aggregation/cross-table.js</string>
				<string>content/information-aggregation/current-transfers.js</string>
				<string>content/information-aggregation/dashboard-calendar.js</string>
				<string>content/information-aggregation/election-table.js</string>
				<string>content/information-aggregation/extended-player-details.js</string>
				<string>content/information-aggregation/extra-player-info.js</string>
				<string>content/information-aggregation/flag-collection-to-map.js</string>
				<string>content/information-aggregation/history-stats.js</string>
				<string>content/information-aggregation/htms-points.js</string>
				<string>content/information-aggregation/last-login.js</string>
				<string>content/information-aggregation/match-weather.js</string>
				<string>content/information-aggregation/mercattrick-stats.js</string>
				<string>content/information-aggregation/my-monitor.js</string>
				<string>content/information-aggregation/nt-peek.js</string>
				<string>content/information-aggregation/player-birthday.js</string>
				<string>content/information-aggregation/player-positions-evaluations.js</string>
				<string>content/information-aggregation/player-stats-experience.js</string>
				<string>content/information-aggregation/psico-tsi.js</string>
				<string>content/information-aggregation/season-stats.js</string>
				<string>content/information-aggregation/series-flags.js</string>
				<string>content/information-aggregation/series-transfers.js</string>
				<string>content/information-aggregation/show-friendly-booked.js</string>
				<string>content/information-aggregation/show-lineup-set.js</string>
				<string>content/information-aggregation/skill-table.js</string>
				<string>content/information-aggregation/specialty-info.js</string>
				<string>content/information-aggregation/supporterstats-enhancements.js</string>
				<string>content/information-aggregation/table-of-statistical-truth.js</string>
				<string>content/information-aggregation/team-stats.js</string>
				<string>content/information-aggregation/transfer-compare-players.js</string>
				<string>content/information-aggregation/transfer-deadline.js</string>
				<string>content/information-aggregation/u21-lastmatch.js</string>
				<string>content/information-aggregation/youth-promotes.js</string>
				<string>content/information-aggregation/youth-series-estimation.js</string>
				<string>content/information-aggregation/youth-skills.js</string>
				<string>content/links/links-achievements.js</string>
				<string>content/links/links-alliances.js</string>
				<string>content/links/links-arena.js</string>
				<string>content/links/links-challenges.js</string>
				<string>content/links/links-club-transfers.js</string>
				<string>content/links/links-coach.js</string>
				<string>content/links/links-country.js</string>
				<string>content/links/links-economy.js</string>
				<string>content/links/links-fans.js</string>
				<string>content/links/links-league.js</string>
				<string>content/links/links-manager.js</string>
				<string>content/links/links-match.js</string>
				<string>content/links/links-national.js</string>
				<string>content/links/links-player-detail.js</string>
				<string>content/links/links-players.js</string>
				<string>content/links/links-team.js</string>
				<string>content/links/links-tracker.js</string>
				<string>content/links/links-training.js</string>
				<string>content/links/links-world.js</string>
				<string>content/links/links-youth.js</string>
				<string>content/links/links.js</string>
				<string>content/matches/att-vs-def.js</string>
				<string>content/matches/copy-ratings.js</string>
				<string>content/matches/htms-prediction.js</string>
				<string>content/matches/live-match-report-format.js</string>
				<string>content/matches/match-income.js</string>
				<string>content/matches/match-lineup-fixes.js</string>
				<string>content/matches/match-lineup-tweaks.js</string>
				<string>content/matches/match-order-new.js</string>
				<string>content/matches/match-order.js</string>
				<string>content/matches/match-player-colouring.js</string>
				<string>content/matches/match-ratings-tweaks.js</string>
				<string>content/matches/match-report-format.js</string>
				<string>content/matches/match-simulator.js</string>
				<string>content/matches/ratings.js</string>
				<string>content/presentation/bookmark-adjust.js</string>
				<string>content/presentation/country-list.js</string>
				<string>content/presentation/currency-converter.js</string>
				<string>content/presentation/custom-medals.js</string>
				<string>content/presentation/fans.js</string>
				<string>content/presentation/fix-css-problems.js</string>
				<string>content/presentation/friendly-interface.js</string>
				<string>content/presentation/friendly-pool.js</string>
				<string>content/presentation/header-toggle.js</string>
				<string>content/presentation/highlight-cup-wins.js</string>
				<string>content/presentation/highlight-ownerless.js</string>
				<string>content/presentation/ht-date-format.js</string>
				<string>content/presentation/large-flags.js</string>
				<string>content/presentation/league-news-filter.js</string>
				<string>content/presentation/local-time.js</string>
				<string>content/presentation/loyalty-display.js</string>
				<string>content/presentation/mobile-enhancements.js</string>
				<string>content/presentation/move-manager-online.js</string>
				<string>content/presentation/move-player-select-box.js</string>
				<string>content/presentation/move-player-statement.js</string>
				<string>content/presentation/old-style-face.js</string>
				<string>content/presentation/original-face.js</string>
				<string>content/presentation/personality-images.js</string>
				<string>content/presentation/ratings-display.js</string>
				<string>content/presentation/safe-for-work.js</string>
				<string>content/presentation/simple-presentation.js</string>
				<string>content/presentation/skill-coloring.js</string>
				<string>content/presentation/skill-translation.js</string>
				<string>content/presentation/skin-plugin.js</string>
				<string>content/presentation/supporters-list.js</string>
				<string>content/presentation/tabs-test.js</string>
				<string>content/presentation/team-select-box.js</string>
				<string>content/presentation/youth-skill-hide-unknown.js</string>
				<string>content/shortcuts-and-tweaks/add-promotion-reminder.js</string>
				<string>content/shortcuts-and-tweaks/confirm-actions.js</string>
				<string>content/shortcuts-and-tweaks/context-menu-copy.js</string>
				<string>content/shortcuts-and-tweaks/copy-bb-ad.js</string>
				<string>content/shortcuts-and-tweaks/copy-match-id.js</string>
				<string>content/shortcuts-and-tweaks/copy-player-ad.js</string>
				<string>content/shortcuts-and-tweaks/copy-youth.js</string>
				<string>content/shortcuts-and-tweaks/extra-shortcuts.js</string>
				<string>content/shortcuts-and-tweaks/filter.js</string>
				<string>content/shortcuts-and-tweaks/lineup-shortcut.js</string>
				<string>content/shortcuts-and-tweaks/manager-buttons.js</string>
				<string>content/shortcuts-and-tweaks/player-filters.js</string>
				<string>content/shortcuts-and-tweaks/rapid-id.js</string>
				<string>content/shortcuts-and-tweaks/relive-links.js</string>
				<string>content/shortcuts-and-tweaks/senior-team-shortcuts.js</string>
				<string>content/shortcuts-and-tweaks/supportership-expiration-date.js</string>
				<string>content/shortcuts-and-tweaks/table-sort.js</string>
				<string>content/shortcuts-and-tweaks/team-popup-links.js</string>
				<string>content/shortcuts-and-tweaks/transfer-search-filters.js</string>
				<string>content/shortcuts-and-tweaks/transfer-search-result-filters.js</string>
				<!-- end categorized modules -->

				<!-- platform-specific -->
				<string>content/entry.js</string>
				<string>content/loader-chrome.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>A set of presentation enhancements for hattrick.org</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.hattrick.org</string>
				<string>*.hattrick.ws</string>
				<string>*.hattrick.bz</string>
				<string>*.hat-trick.net</string>
				<string>*.hattrick.uol.com.br</string>
				<string>*.hattrick.interia.pl</string>
				<string>*.hattrick.name</string>
				<string>*.hattrick.fm</string>
				<string>*.foxtrick.org</string>
				<string>*.hattrick-youthclub.org</string>
				<string>www.fantamondi.it</string>
				<string>api.openweathermap.org</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://www.foxtrick.org/nightly/safari/update.plist</string><!--updateurl-->
	<key>Website</key>
	<string>https://www.foxtrick.org/</string>
</dict>
</plist>
