#aspnetForm[action*="Read.aspx"] .bookmarkMessage img {
	background:transparent url('chrome://foxtrick/content/resources/img/bookmark_post.png') no-repeat scroll
	0 0!important
}
#aspnetForm[action*="Read.aspx"] .cfWrapper .bookmarkMessage {
top:0px!important;
margin-left:3px!important;
float:right!important;
}
#aspnetForm[action*="Read.aspx"] .bookmarkMessage img{
width:12px!important;
height:13px!important;
}
