@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {
td .myht1 .shy {
color: #666666 !important;
background-image: url('chrome://foxtrick/content/resources/img/bot.png'); background-color: #DCE2DC; background-repeat: no-repeat; padding-left: 18px; padding-right: 2px; !important;
}
}