 @-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws) {

.cfHeader a[class="flag inner"] img
{ border: 0px solid #DDDDDD !important; }

.cfHeader
{
    padding-left:0px !important;
}

.cfHeader, .cfHeader img, .cfHeader a,  .cfHeader .float_right
{
    padding-left:0px;
    padding-right:0px;
    font-size:10px;
	line-height: 12px !important;
}

/*.cfHeader  .float_left {
	margin-left:-4px;
}*/


}