#aspnetForm[action*="Read.aspx"] .cfHeader a.flag.inner img
{ margin: 0 0px 2px 0 !important; }

#aspnetForm[action*="Read.aspx"]  div.cfHeader.doubleLine b:after {content:" " !important;}

#aspnetForm[action*="Read.aspx"]  .cfHeader a.bookmarkMessage img
{margin: 0 0px -2px 0 !important;}

#aspnetForm[action*="Read.aspx"] div.cfHeader.doubleLine
{height:14px!important;}

#aspnetForm[action*="Read.aspx"] div.cfHeader.doubleLine br
{display:none !important; padding: 5px;}

div.cfHeader.ftdoubleLine
{height:30px !important;}

div.cfHeader.ftdoubleLine b:after {content:" " !important;}

/*obsoltete div.cfHeader.ftdoubleLine br
{display:none !important; padding: 5px;}*/

#aspnetForm[action*="Read.aspx"] div.cfHeader.doubleLine p {display:inline;}


/* broken dsign workaround*/
#aspnetForm[action*="Read.aspx"] div.cfHeader>div.float_right.right
{padding: 0px 2px 1px;}

#aspnetForm[action*="Read.aspx"] .cfHeader
{
    padding-right:0px !important;
}


/* broken design workaround*/
#aspnetForm[action*="Read.aspx"] div.mainConf div.cfInnerWrapper,
#aspnetForm[action*="Read.aspx"] div.mainConf div.cfInnerWrapperGreen ,
#aspnetForm[action*="Read.aspx"] div.mainConf div.cfInnerWrapperRed
{margin-top:18px;}

#aspnetForm[action*="Read.aspx"] div.cfHeader>div.float_right.right
{background: inherit;/* #849D84;*/}

#aspnetForm[action*="Read.aspx"] div.mainConf div.cfMessage,
#aspnetForm[action*="Read.aspx"] div.mainConf div.cfUser,
#aspnetForm[action*="Read.aspx"] div.mainConf div.cfMessageNoAvatar
{padding-top:0px !important;}

#aspnetForm[action*="Read.aspx"] div.mainConf div.cfUser  div.faceCard
{ margin-bottom:-5px;}

#aspnetForm[action*="Read.aspx"] div.mainConf div.cfUser div.cfUserInfo
{ padding-top:5px;}
