@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {

.cfHeader, .cfHeader img, .cfHeader a, .cfHeader .float_right 
{
    padding-left:0px;
    padding-right:0px;
    font-size:10px;
}

}