.threadInfo{
	font-size:0px;
	height:16px;
}
.threadInfo .postCountLink{
	font-size:11px;
}
.threadInfo .highlight{
	float:right;
	font-size:11px;
	padding-left:0px;
}
.threadInfo .highlight:before {
	content:"(";
	color:black;
	font-weight:400;
}
.threadInfo .highlight:after {
	content:")";
	color:black;
	font-weight:400;
}
