@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {


/* broken dsign workaround*/
div.mainConf div.cfInnerWrapper 
{padding-top:18px;}

div.mainConf div.cfMessage, div.mainConf div.cfUser 
{padding-top:0px !important;}

div.mainConf div.cfMessageNoAvatar 
{padding-top:0px !important;}

div.mainConf div.cfUser  div.faceCard 
{ margin-bottom:-5px;}

div.mainConf div.cfUser div.cfUserInfo 
{ padding-top:5px;}

div.cfHeader>div[class="float_right right"] 
{background: #849D84;}


}
