@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {

.message .spoiler, .feedItem .spoiler{
    display: none!important;
}

.message .hidden, .feedItem .hidden {
    display: block!important;
}

}