@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

blockquote.spoiler {
    display: none!important;
}

blockquote.spoiler.hidden {
    display: block!important;
}

}
