
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl00_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl01_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl02_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl03_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl04_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl05_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl06_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl07_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl08_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl09_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl10_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl11_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl12_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl13_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl14_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl15_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl16_td1
{
    border-left: 2px solid #DCE0DC;
}

#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl00_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl01_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl02_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl03_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl04_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl05_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl06_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl07_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl08_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl09_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl10_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl11_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl12_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl13_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl14_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl15_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl16_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl00_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl01_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl02_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl03_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl04_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl05_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl06_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl07_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl08_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl09_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl10_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl11_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl12_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl13_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl14_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl15_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl16_td4
{
    border-right: 2px solid #DCE0DC;
}
/*Youth series*/

#ctl00_ctl00_CPContent_CPMain_repLeague_ctl00_td1,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl01_td1,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl02_td1,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl03_td1,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl04_td1,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl05_td1,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl06_td1,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl07_td1,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl08_td1,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl09_td1,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl10_td1,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl11_td1,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl12_td1,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl13_td1,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl14_td1,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl15_td1,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl16_td1
{
    border-left: 2px solid #DCE0DC;
}

#ctl00_ctl00_CPContent_CPMain_repLeague_ctl00_td3,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl01_td3,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl02_td3,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl03_td3,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl04_td3,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl05_td3,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl06_td3,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl07_td3,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl08_td3,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl09_td3,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl10_td3,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl11_td3,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl12_td3,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl13_td3,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl14_td3,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl15_td3,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl16_td3,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl00_td4,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl01_td4,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl02_td4,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl03_td4,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl04_td4,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl05_td4,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl06_td4,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl07_td4,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl08_td4,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl09_td4,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl10_td4,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl11_td4,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl12_td4,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl13_td4,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl14_td4,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl15_td4,
#ctl00_ctl00_CPContent_CPMain_repLeague_ctl16_td4
{
    border-right: 2px solid #DCE0DC;
}

