@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws) {


#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl00_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl01_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl02_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl03_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl04_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl05_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl06_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl07_td1,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl08_td1
{
    border-left: 2px solid #DCE0DC;
}

#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl00_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl01_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl02_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl03_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl04_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl05_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl06_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl07_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl08_td3,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl00_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl01_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl02_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl03_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl04_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl05_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl06_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl07_td4,
#ctl00_ctl00_CPContent_CPMain_repLeagueTable_ctl08_td4
{
    border-right: 2px solid #DCE0DC;
}

}
