@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {

.boxBody .teamInfo .myht1 a[title*="HT-"] , #sidebar a[title*="HT-"] , .feedItem .shy a[title*="HT-"] {
    background-color:red; color:white !important; font-weight:700;padding:1px;text-decoration:none;
}
.boxBody .teamInfo .myht1 a[title*="Mod-"] , #sidebar a[title*="Mod-"] , .feedItem .shy a[title*="Mod-"] {
    background-color:yellow; color:black !important; font-weight:700;padding:1px;text-decoration:none;
}
.boxBody .teamInfo .myht1 a[title*="GM-"] , #sidebar a[title*="GM-"] , .feedItem .shy a[title*="GM-"] {
    background-color:orange; color:black !important; font-weight:700;padding:1px;text-decoration:none;
}
.boxBody .teamInfo .myht1 a[title*="CHPP-"] , #sidebar a[title*="CHPP-"] , .feedItem .shy a[title*="CHPP-"] {
    background-color:green; color:white !important; font-weight:700;padding:1px;text-decoration:none;
}
.boxBody .teamInfo .myht1 a[title*="LA-"], #sidebar a[title*="LA-"] , .feedItem .shy a[title*="LA-"] {
    background-color:white; color:green !important; font-weight:700;padding:1px;text-decoration:none;
}
}