@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

.boxBody .teamInfo a[title^="HT-"],
.boxBody #ctl00_ctl00_CPContent_CPMain_pnlMySupporters a[title^="HT-"],
#sidebar a[title^="HT-"][href*="userId"],
.feedItem .shy a[title^="HT-"] {
	background-color:red;
	color:white !important;
	font-weight:700;
	padding:1px;
	text-decoration:none;
}
.boxBody .teamInfo a[title^="Mod-"],
.boxBody #ctl00_ctl00_CPContent_CPMain_pnlMySupporters a[title^="Mod-"],
#sidebar a[title^="Mod-"][href*="userid"],
.feedItem .shy a[title^="Mod-"] {
	background-color:yellow;
	color:black !important;
	font-weight:700;
	padding:1px;
	text-decoration:none;
}
.boxBody .teamInfo a[title^="GM-"],
.boxBody #ctl00_ctl00_CPContent_CPMain_pnlMySupporters a[title^="GM-"],
#sidebar a[title^="GM-"][href*="userid"],
.feedItem .shy a[title^="GM-"] {
	background-color:orange;
	color:black !important;
	font-weight:700;
	padding:1px;
	text-decoration:none;
}
.boxBody .teamInfo a[title^="CHPP-"],
.boxBody #ctl00_ctl00_CPContent_CPMain_pnlMySupporters a[title^="CHPP-"],
#sidebar a[title^="CHPP-"][href*="userid"],
.feedItem .shy a[title^="CHPP-"] {
	background-color:green;
	color:white !important;
	font-weight:700;
	padding:1px;
	text-decoration:none;
}
.boxBody .teamInfo a[title^="LA-"],
.boxBody #ctl00_ctl00_CPContent_CPMain_pnlMySupporters a[title^="LA-"],
#sidebar a[title^="LA-"][href*="userid"],
.feedItem .shy a[title^="LA-"] {
	background-color:white;
	color:green !important;
	font-weight:700;
	padding:1px;
	text-decoration:none;
}

.boxBody .teamInfo a:hover,
.boxBody #ctl00_ctl00_CPContent_CPMain_pnlMySupporters a:hover,
#sidebar a:hover,
.feedItem .shy a:hover {
	text-decoration:underline;
}

}
