/* default lineup coloring */

td.foxtrick-keeper {
  background-color: #FFCCCC;
}

td.foxtrick-wingback {
  background-color: #FFFFCC;
}

td.foxtrick-centraldefender {
  background-color: #CCFFCC;
}

td.foxtrick-winger {
  background-color: #CCFFFF;
}

td.foxtrick-midfielder {
  background-color: #CCCCFF;
}

td.foxtrick-forward {
 background-color: #FFCCFF;
}
