a.foxtrick-leftarrow {
    float:left;
}

a.foxtrick-rightarrow {
    float:right;
}

div.foxtrick-repostext {
}   

div#foxtrick-playerlist {
 float: right;
 margin-top: 10px;
 padding-left: 10px;
 padding-top: 5px; padding-bottom: 5px;

 width: 140px; height: 100%;
 border: 1px solid;
}


div.foxtrick-playercontainer {
 border: 1px dashed;
 width: 100px;
 height: 17px;
 font-size: 9px;
 
 text-align: center;
 padding: 5px 2px;
}

div.foxtrick-playerdrop {
 border: 1px dashed;
 width: 100px;
 height: 21px;
 font-size: 9px;
 
 text-align: center;
 padding: 5px 2px;
}