#ft-attvsdefOptionsTable td {
	padding: 2px !important;
	vertical-align: middle !important;
}
#ft-attvsdefOptionsTable td:first-child {
	width: 15px;
}
div.foxtrick-graphs-row > div.foxtrick-graphs-cell:first-child {
	width: 58px;
}
