/* forum change post changes */ 
div[class="cfHeader ftdoubleLine"]  {height:30px !important;}
div[class="cfHeader ftdoubleLine"] b:after {content:" " !important;}
div[class="cfHeader ftdoubleLine"] br {display:none !important; padding: 5px;}
div[class="message"] pre {font-size:12px; white-space:pre-wrap;}
