@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {

div.foxtrickLeaveConf {
	cursor: pointer;
	width: 14px;
	height: 16px;
	background: url('chrome://foxtrick/content/resources/linkicons/cross_bigger.png') 50% no-repeat;
}

div.foxtrickLeaveConf:hover {
	cursor: pointer;
	width: 14px;
	height: 16px;
	background: url('chrome://foxtrick/content/resources/linkicons/crossRed_bigger.png') 50% no-repeat;
}


}