@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

html[data-theme="standard"] .copyicon.ft-copy-ratings {
	background-image: url("chrome://foxtrick/content/resources/img/copy/copyMatchRatings.png");
}

html[data-theme="simple"] .copyicon.ft-copy-ratings {
	background-image: url("chrome://foxtrick/content/resources/img/copy/copyMatchRatings_s.png");
}


/* copy ratings */
span.ft_copy_rating { cursor: pointer; font-weight: normal; text-decoration: underline;}
table span.ft_copy_rating { float: right; }
h2.tblBox span.ft_copy_rating { margin-left: 1em; }
th span.ft_copy_rating { margin-left: 0.2em; }

}
