.copyicon.ft-copy-training-report {
	background-image: url("chrome://foxtrick/content/resources/img/copy/copyTrainingReport_s.png");
}

.copyicon.ft-copy-scout-comment {
	background-image: url("chrome://foxtrick/content/resources/img/copy/copyScoutReport_s.png");
}

.copyicon.ft-copy-player-source {
	background-image: url("chrome://foxtrick/content/resources/img/copy/copyPlayerSource_s.png");
}

.copyicon.ft-copy-fixtures-source {
	background-image: url("chrome://foxtrick/content/resources/img/copy/copyNormal_s.png");
}
