@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {

#ctl00_CPMain_ucLeaguesDropdown_ddlLeagues {display:none;}
#ctl00_CPMain_ddlZone {display:none;}
#ctl00_CPMain_ddlBornIn {display:none;}

}