@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

#ctl00_ctl00_CPContent_CPMain_ucLeaguesDropdown_ddlLeagues {display:none;}
#ctl00_ctl00_CPContent_CPMain_ddlZone {display:none;}
#ctl00_ctl00_CPContent_CPMain_ddlBornIn {display:none;}

}
