.ft_ct_head_std {
    border: none !important; padding-right:20px !important; background: url('chrome://foxtrick/content/resources/img/link-up.png') no-repeat 99% 60%; cursor:pointer;
}

.ft_ct_head_std_arrow{
    border: none !important; padding-right:20px !important; background: url('chrome://foxtrick/content/resources/img/link-down.png') no-repeat 99% 60%; cursor:pointer;
}

.ft_ct_head_simple {
    background: url('chrome://foxtrick/content/resources/img/up.gif') 413px 0 no-repeat;padding-right:20px;cursor:pointer;
}

.ft_ct_head_simple_arrow{
    background: url('chrome://foxtrick/content/resources/img/down.gif') 413px 0 no-repeat;padding-right:20px;cursor:pointer;
}