@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

#ft-cross-table td {
	text-align: center !important;
}

.ft-cross-table-div {
	position: relative;
	z-index:99;
}

.ft-cross-table-div  td{
	background-color: white;
	white-space: nowrap;
}

}
