/*ft-embed-media expander prototype*/
/*ltr*/
div.ft-media-expander-unexpanded,
div.ft-media-expander-expanded {
	cursor: pointer;
	background-repeat: no-repeat;
	border-bottom: 1px solid #CCC;
	margin-bottom: 2px;
}
html[dir="ltr"] div.ft-media-expander-unexpanded,
html[dir="ltr"] div.ft-media-expander-expanded {
	background-position: right;
	padding-right: 20px;
	padding-left: 0px;
}
html[dir="rtl"] div.ft-media-expander-unexpanded,
html[dir="rtl"] div.ft-media-expander-expanded {
	background-position: left;
	padding-left: 20px;
	padding-right: 0px;
}
html[dir="ltr"] div.ft-media-site-vimeo.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/vimeo_down.png");
}
html[dir="ltr"] div.ft-media-site-vimeo.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/vimeo_up.png");
}
html[dir="ltr"] div.ft-media-site-dailymotion.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/dailymotion_down.png");
}
html[dir="ltr"] div.ft-media-site-dailymotion.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/dailymotion_up.png");
}
html[dir="ltr"] div.ft-media-site-funnyordie.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/funnyordie_down.png");
}
html[dir="ltr"] div.ft-media-site-funnyordie.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/funnyordie_up.png");
}
html[dir="ltr"] div.ft-media-site-youtube.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/youtube_down.png");
}
html[dir="ltr"] div.ft-media-site-youtube.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/youtube_up.png");
}
html[dir="ltr"] div.ft-media-site-soundcloud.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/soundcloud_up.png");
}
html[dir="ltr"] div.ft-media-site-soundcloud.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/soundcloud_down.png");
}
html[dir="ltr"] div.ft-media-site-deviantart.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/deviantart_up.png");
}
html[dir="ltr"] div.ft-media-site-deviantart.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/deviantart_down.png");
}
html[dir="ltr"] div.ft-media-site-flickr.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/flickr_up.png");
}
html[dir="ltr"] div.ft-media-site-flickr.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/flickr_down.png");
}
html[dir="ltr"] div.ft-media-site-genericImage.ft-media-expander-expanded,
html[dir="ltr"] div.ft-media-site-imgur.ft-media-expander-expanded,
html[dir="ltr"] div.ft-media-site-imageshack.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/generic_up.png");
}
html[dir="ltr"] div.ft-media-site-genericImage.ft-media-expander-unexpanded,
html[dir="ltr"] div.ft-media-site-imgur.ft-media-expander-unexpanded,
html[dir="ltr"] div.ft-media-site-imageshack.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/generic_down.png");
}
div.ft-media-container {
	text-align: center;
}
/*rtl*/
html[dir="rtl"] div.ft-media-expander-unexpanded,
html[dir="rtl"] div.ft-media-expander-expanded {
	background-position: left;
	padding-left: 20px;
	padding-right: 0px;
	cursor: pointer;
	background-repeat: no-repeat;
	border-bottom: 1px solid #CCC;
	margin-bottom: 2px;
}
html[dir="rtl"] div.ft-media-site-vimeo.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/vimeo_down_rtl.png");
}
html[dir="rtl"] div.ft-media-site-vimeo.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/vimeo_up_rtl.png");
}
html[dir="rtl"] div.ft-media-site-dailymotion.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/dailymotion_down_rtl.png");
}
html[dir="rtl"] div.ft-media-site-dailymotion.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/dailymotion_up_rtl.png");
}
html[dir="rtl"] div.ft-media-site-funnyordie.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/funnyordie_down_rtl.png");
}
html[dir="rtl"] div.ft-media-site-funnyordie.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/funnyordie_up_rtl.png");
}
html[dir="rtl"] div.ft-media-site-youtube.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/youtube_down_rtl.png");
}
html[dir="rtl"] div.ft-media-site-youtube.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/youtube_up_rtl.png");
}
html[dir="rtl"] div.ft-media-site-soundcloud.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/soundcloud_up_rtl.png");
}
html[dir="rtl"] div.ft-media-site-soundcloud.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/soundcloud_down_rtl.png");
}
html[dir="rtl"] div.ft-media-site-deviantart.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/deviantart_up_rtl.png");
}
html[dir="rtl"] div.ft-media-site-deviantart.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/deviantart_down_rtl.png");
}
html[dir="rtl"] div.ft-media-site-flickr.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/flickr_up_rtl.png");
}
html[dir="rtl"] div.ft-media-site-flickr.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/flickr_down_rtl.png");
}
html[dir="rtl"] div.ft-media-site-genericImage.ft-media-expander-expanded,
html[dir="rtl"] div.ft-media-site-imgur.ft-media-expander-expanded,
html[dir="rtl"] div.ft-media-site-imageshack.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/generic_up_rtl.png");
}
html[dir="rtl"] div.ft-media-site-genericImage.ft-media-expander-unexpanded,
html[dir="rtl"] div.ft-media-site-imgur.ft-media-expander-unexpanded,
html[dir="rtl"] div.ft-media-site-imageshack.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/generic_down_rtl.png");
}
.ft-embeded-image {
	max-width: 99.9%;
}
.ft-oembed-image {
	width: 99.9%
}
