@-moz-document domain(hattrick.org), 
domain(hattrick.uol.com.br), 
domain(hattrick.interia.pl), 
domain(hattrick.ws) {
/*ft-embed-media expander prototype*/
/*ltr*/
div.ft-media-expander-unexpanded,
div.ft-media-expander-expanded {
	cursor: pointer;
	background-repeat: no-repeat;
	border-bottom: 1px solid #CCC;
	margin-bottom: 2px;
}
html[dir="ltr"] div.ft-media-expander-unexpanded,
html[dir="ltr"] div.ft-media-expander-expanded {
	background-position: right;
	padding-right: 20px;
	padding-left: 0px;
}
html[dir="rtl"] div.ft-media-expander-unexpanded,
html[dir="rtl"] div.ft-media-expander-expanded {
	background-position: left;
	padding-left: 20px;
	padding-right: 0px;
}
html[dir="ltr"] div.vimeo.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/vimeo_down.png");
}
html[dir="ltr"] div.vimeo.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/vimeo_up.png");
}
html[dir="ltr"] div.dailymotion.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/dailymotion_down.png");
}
html[dir="ltr"] div.dailymotion.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/dailymotion_up.png");
}
html[dir="ltr"] div.funnyordie.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/funnyordie_down.png");
}
html[dir="ltr"] div.funnyordie.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/funnyordie_up.png");
}
html[dir="ltr"] div.youtube.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/youtube_down.png");
}
html[dir="ltr"] div.youtube.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/youtube_up.png");
}
div.ft-media-container {
	text-align: center;
}
/*rtl*/
html[dir="rtl"] div.ft-media-expander-unexpanded,
html[dir="rtl"] div.ft-media-expander-expanded {
	background-position: left;
	padding-left: 20px;
	padding-right: 0px;
	cursor: pointer;
	background-repeat: no-repeat;
	border-bottom: 1px solid #CCC;
	margin-bottom: 2px;
}
html[dir="rtl"] div.vimeo.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/vimeo_down_rtl.png");
}
html[dir="rtl"] div.vimeo.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/vimeo_up_rtl.png");
}
html[dir="rtl"] div.dailymotion.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/dailymotion_down_rtl.png");
}
html[dir="rtl"] div.dailymotion.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/dailymotion_up_rtl.png");
}
html[dir="rtl"] div.funnyordie.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/funnyordie_down_rtl.png");
}
html[dir="rtl"] div.funnyordie.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/funnyordie_up_rtl.png");
}
html[dir="rtl"] div.youtube.ft-media-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/youtube_down_rtl.png");
}
html[dir="rtl"] div.youtube.ft-media-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/icons/youtube_up_rtl.png");
}
}