@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws) {

#scSettingsLink{display:none;}
div#shortcuts, div#shortcuts div.scContainer {width: 324px !important;}

[x-theme="standard"] #ticker, [x-theme="standard"] #ticker div {
	width: 400px !important;
}
[x-theme="simple"] #ticker, [x-theme="simple"] #ticker div {
	width: 275px !important;
}

[dir="ltr"][x-theme="standard"] #ticker { left: 235px !important; }
[dir="ltr"][x-theme="simple"] #ticker { left: 165px !important; }
[dir="rtl"] #ticker { left: 350px; }


#ticker div { overflow:hidden !important; white-space:nowrap !important;}
#ticker div a { padding:0 2px !important; }
}
