@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name) {

#scSettingsLink 
{display:none;}

div#shortcuts, 
div#shortcuts div.scContainer
{width: 324px !important;}

/* old ad placement above page */
#header div#shortcutsNoSupporter:first-child,
#header div#shortcutsNoSupporter:first-child div.scContainerNoSupporter 
{width: 200px !important;}

/* new ad placement within header */
#header div+div#shortcutsNoSupporter div.scContainerNoSupporter 
{width: auto !important;}

html[data-theme="standard"] #ticker, html[data-theme="standard"] #ticker div {
	width: 400px !important;
}
html[data-theme="simple"] #ticker, html[data-theme="simple"] #ticker div {
	width: 275px !important;
}

html[dir="ltr"][data-theme="standard"] #ticker { left: 235px !important; }
html[dir="ltr"][data-theme="simple"] #ticker { left: 165px !important; }
html[dir="rtl"] #ticker { left: 350px; }


#ticker div { overflow:hidden !important; white-space:nowrap !important;}
#ticker div a { padding:0 2px !important; }

}
