#scSettingsLink
{display:none;}

div#shortcuts,
div#shortcuts div.scContainer
{width: 324px !important;}
html[data-theme="simple"] div#shortcuts,
html[data-theme="simple"] div#shortcuts div.scContainer
{width: 500px !important;}
div#shortcutsNoSupporter,
div#shortcutsNoSupporter div.scContainerNoSupporter
{width: 200px !important;}
html[data-theme="simple"] div#shortcutsNoSupporter,
html[data-theme="simple"] div#shortcutsNoSupporter div.scContainerNoSupporter
{width: 370px !important;}
#ticker, #ticker div {
	width: 400px !important;
}
html[data-theme="simple"] #ticker, html[data-theme="simple"] #ticker div {
	width: 280px !important;
}
html[dir="ltr"][data-theme="standard"] #ticker { left: 235px !important; }
html[dir="ltr"][data-theme="simple"] #ticker { left: 165px !important; }
html[dir="rtl"][data-theme="standard"] #ticker { left: 360px; }
html[dir="rtl"][data-theme="simple"] #ticker { left: 540px; }


#ticker div { overflow:hidden !important; white-space:nowrap !important;}
#ticker div a { padding:0 2px !important; }
