.flag > img { background-image: url("chrome://foxtrick/content/resources/img/flags.gif"); }
.flag0 { background-position: 0px 0px; }
.flag1 { background-position: -20px 0px; }
.flag2 { background-position: -40px 0px; }
.flag3 { background-position: -60px 0px; }
.flag4 { background-position: -80px 0px; }
.flag5 { background-position: -100px 0px; }
.flag6 { background-position: -120px 0px; }
.flag7 { background-position: -140px 0px; }
.flag8 { background-position: -160px 0px; }
.flag9 { background-position: -180px 0px; }
.flag10 { background-position: -200px 0px; }
.flag11 { background-position: -220px 0px; }
.flag12 { background-position: -240px 0px; }
.flag13 { background-position: -260px 0px; }
.flag14 { background-position: -280px 0px; }
.flag15 { background-position: -300px 0px; }
.flag16 { background-position: -320px 0px; }
.flag17 { background-position: -340px 0px; }
.flag18 { background-position: -360px 0px; }
.flag19 { background-position: -380px 0px; }
.flag20 { background-position: -400px 0px; }
.flag21 { background-position: -420px 0px; }
.flag22 { background-position: -440px 0px; }
.flag23 { background-position: -460px 0px; }
.flag24 { background-position: -480px 0px; }
.flag25 { background-position: -500px 0px; }
.flag26 { background-position: -520px 0px; }
.flag27 { background-position: -540px 0px; }
.flag28 { background-position: -560px 0px; }
.flag29 { background-position: -580px 0px; }
.flag30 { background-position: -600px 0px; }
.flag31 { background-position: -620px 0px; }
.flag32 { background-position: -640px 0px; }
.flag33 { background-position: -660px 0px; }
.flag34 { background-position: -680px 0px; }
.flag35 { background-position: -700px 0px; }
.flag36 { background-position: -720px 0px; }
.flag37 { background-position: -740px 0px; }
.flag38 { background-position: -760px 0px; }
.flag39 { background-position: -780px 0px; }
.flag40 { background-position: -800px 0px; }
.flag41 { background-position: -820px 0px; }
.flag42 { background-position: -840px 0px; }
.flag43 { background-position: -860px 0px; }
.flag44 { background-position: -880px 0px; }
.flag45 { background-position: -900px 0px; }
.flag46 { background-position: -920px 0px; }
.flag47 { background-position: -940px 0px; }
.flag48 { background-position: -960px 0px; }
.flag49 { background-position: -980px 0px; }
.flag50 { background-position: -1000px 0px; }
.flag51 { background-position: -1020px 0px; }
.flag52 { background-position: -1040px 0px; }
.flag53 { background-position: -1060px 0px; }
.flag54 { background-position: -1080px 0px; }
.flag55 { background-position: -1100px 0px; }
.flag56 { background-position: -1120px 0px; }
.flag57 { background-position: -1140px 0px; }
.flag58 { background-position: -1160px 0px; }
.flag59 { background-position: -1180px 0px; }
.flag60 { background-position: -1200px 0px; }
.flag61 { background-position: -1220px 0px; }
.flag62 { background-position: -1240px 0px; }
.flag63 { background-position: -1260px 0px; }
.flag64 { background-position: -1280px 0px; }
.flag65 { background-position: -1300px 0px; }
.flag66 { background-position: -1320px 0px; }
.flag67 { background-position: -1340px 0px; }
.flag68 { background-position: -1360px 0px; }
.flag69 { background-position: -1380px 0px; }
.flag70 { background-position: -1400px 0px; }
.flag71 { background-position: -1420px 0px; }
.flag72 { background-position: -1440px 0px; }
.flag73 { background-position: -1460px 0px; }
.flag74 { background-position: -1480px 0px; }
.flag75 { background-position: -1500px 0px; }
.flag76 { background-position: -1520px 0px; }
.flag77 { background-position: -1540px 0px; }
.flag78 { background-position: -1560px 0px; }
.flag79 { background-position: -1580px 0px; }
.flag80 { background-position: -1600px 0px; }
.flag81 { background-position: -1620px 0px; }
.flag82 { background-position: -1640px 0px; }
.flag83 { background-position: -1660px 0px; }
.flag84 { background-position: -1680px 0px; }
.flag85 { background-position: -1700px 0px; }
.flag86 { background-position: -1720px 0px; }
.flag87 { background-position: -1740px 0px; }
.flag88 { background-position: -1760px 0px; }
.flag89 { background-position: -1780px 0px; }
.flag90 { background-position: -1800px 0px; }
.flag91 { background-position: -1820px 0px; }
.flag92 { background-position: -1840px 0px; }
.flag93 { background-position: -1860px 0px; }
.flag94 { background-position: -1880px 0px; }
.flag95 { background-position: -1900px 0px; }
.flag96 { background-position: -1920px 0px; }
.flag97 { background-position: -1940px 0px; }
.flag98 { background-position: -1960px 0px; }
.flag99 { background-position: -1980px 0px; }
.flag100 { background-position: -2000px 0px; }
.flag101 { background-position: -2020px 0px; }
.flag102 { background-position: -2040px 0px; }
.flag103 { background-position: -2060px 0px; }
.flag104 { background-position: -2080px 0px; }
.flag105 { background-position: -2100px 0px; }
.flag106 { background-position: -2120px 0px; }
.flag107 { background-position: -2140px 0px; }
.flag108 { background-position: -2160px 0px; }
.flag109 { background-position: -2180px 0px; }
.flag110 { background-position: -2200px 0px; }
.flag111 { background-position: -2220px 0px; }
.flag112 { background-position: -2240px 0px; }
.flag113 { background-position: -2260px 0px; }
.flag114 { background-position: -2280px 0px; }
.flag115 { background-position: -2300px 0px; }
.flag116 { background-position: -2320px 0px; }
.flag117 { background-position: -2340px 0px; }
.flag118 { background-position: -2360px 0px; }
.flag119 { background-position: -2380px 0px; }
.flag120 { background-position: -2400px 0px; }
.flag121 { background-position: -2420px 0px; }
.flag122 { background-position: -2440px 0px; }
.flag123 { background-position: -2460px 0px; }
.flag124 { background-position: -2480px 0px; }
.flag125 { background-position: -2500px 0px; }
.flag126 { background-position: -2520px 0px; }
.flag127 { background-position: -2540px 0px; }
.flag128 { background-position: -2560px 0px; }
.flag129 { background-position: -2580px 0px; }
.flag130 { background-position: -2600px 0px; }
.flag131 { background-position: -2620px 0px; }
.flag132 { background-position: -2640px 0px; }
.flag133 { background-position: -2660px 0px; }
.flag134 { background-position: -2680px 0px; }
.flag135 { background-position: -2700px 0px; }
.flag136 { background-position: -2720px 0px; }
.flag137 { background-position: -2740px 0px; }
.flag138 { background-position: -2760px 0px; }
.flag139 { background-position: -2780px 0px; }
.flag140 { background-position: -2800px 0px; }
.flag141 { background-position: -2820px 0px; }
.flag142 { background-position: -2840px 0px; }
.flag143 { background-position: -2860px 0px; }
.flag144 { background-position: -2880px 0px; }
.flag145 { background-position: -2900px 0px; }
.flag146 { background-position: -2920px 0px; }
.flag147 { background-position: -2940px 0px; }
.flag148 { background-position: -2960px 0px; }
.flag149 { background-position: -2980px 0px; }
.flag150 { background-position: -3000px 0px; }
.flag151 { background-position: -3020px 0px; }
.flag152 { background-position: -3040px 0px; }
.flag153 { background-position: -3060px 0px; }
.flag154 { background-position: -3080px 0px; }
.flag155 { background-position: -3100px 0px; }
.flag156 { background-position: -3120px 0px; }
.flag157 { background-position: -3140px 0px; }
.flag158 { background-position: -3160px 0px; }
.flag159 { background-position: -3180px 0px; }
.flag160 { background-position: -3200px 0px; }
.flag161 { background-position: -3220px 0px; }
.flag162 { background-position: -3240px 0px; }
.flag163 { background-position: -3260px 0px; }
.flag164 { background-position: -3280px 0px; }
.flag165 { background-position: -3300px 0px; }
.flag166 { background-position: -3320px 0px; }
.flag167 { background-position: -3340px 0px; }
.flag168 { background-position: -3360px 0px; }
.flag169 { background-position: -3380px 0px; }
.flag170 { background-position: -3400px 0px; }
.flag171 { background-position: -3420px 0px; }
.flag172 { background-position: -3440px 0px; }
.flag173 { background-position: -3460px 0px; }
.flag174 { background-position: -3480px 0px; }
.flag175 { background-position: -3500px 0px; }
.flag176 { background-position: -3520px 0px; }
.flag177 { background-position: -3540px 0px; }
.flag178 { background-position: -3560px 0px; }
.flag179 { background-position: -3580px 0px; }
