@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

.ft-forum-template-container {
	display: inline-block;
	width: 125px;
	overflow: hidden;
}

.ft-forum-template-remover {
	display: inline-block;
	margin-right: 2px;
}

.ft-forum-template-name {
	display: inline-block;
	width: 100px;
	overflow: hidden;
}

}
