.pager a.page {
	line-height:22px !important;
	margin-left: 1px;
}
.pager a.page.oneDigit {
	padding-left: 8px !important;
	padding-right: 8px !important;
}

.pager {
	text-align:center;
	margin-bottom: 6px !important;
}

.pager img {
	margin-right: 0px !important;
}
