.pager a.page {
	line-height:22px;
	margin-left: 1px;
}
.pager a.page.oneDigit {
	padding-left: 8px;
	padding-right: 8px;
}

.pager {
	text-align:center;
	margin-bottom: 6px;
}

.pager img {
	margin-right: 0px;
}
