@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

.pager a.page {
	line-height:22px !important;
	margin-left: 1px;
}
.pager a.page.oneDigit {
	padding-left: 8px !important;
	padding-right: 8px !important;
}

.pager {
	text-align:center;
	margin-bottom: 6px !important;
}

.pager img {
	margin-right: 0px !important;
}

}
