#stageLogo {background-image: url('chrome://foxtrick/content/resources/img/logo_green_stage_foxtrick_simple.png') !important;}

.transferPlayerSkills  {max-width: 62% !important; background-color:white; padding-left:5px !important;}
.transferPlayerInformation {max-width: 30% !important;}

#ctl00_ctl00_CPContent_CPMain_UpdatePanelLiveLeagueTable {white-space:nowrap;}