/* general foxtrick css classes */


/* icons and hover icons */
.ft_actionicon {cursor: pointer; width: 16px; height: 16px; background: 50% no-repeat;}
.ft_icon {width: 16px; height: 16px; background: 50% no-repeat;}

.foxtrickCopy {background: url('chrome://foxtrick/content/resources/img/copy_small.png') no-repeat;}
.foxtrickCopy:hover {background: url('chrome://foxtrick/content/resources/img/copy_yellow_small.png') no-repeat;}
.foxtrickHelp {background: url('chrome://foxtrick/content/resources/img/Aiga_help_green.png') no-repeat;}
.foxtrickHelp:hover {background: url('chrome://foxtrick/content/resources/img/Aiga_help_yellow.png') no-repeat;}
.foxtrickExport {background: url('chrome://foxtrick/content/resources/img/Aiga_downarrow_green.png') no-repeat;}
.foxtrickExport:hover {background: url('chrome://foxtrick/content/resources/img/Aiga_downarrow_yellow.png') no-repeat;}
.foxtrickRemove {background: url('chrome://foxtrick/content/resources/linkicons/cross_small.png') no-repeat;}
.foxtrickRemove:hover {background: url('chrome://foxtrick/content/resources/linkicons/crossRed_small.png') no-repeat;}
.foxtrickInfo {background: url('chrome://foxtrick/content/resources/img/Aiga_information_green.png') no-repeat;}
.foxtrickInfo:hover {background: url('chrome://foxtrick/content/resources/img/Aiga_information_yellow.png') no-repeat;}

/* sidebarbox h2 dropdown image */ 
div.ft_sidebarBoxCollapsed  h2 { border: none !important; padding-right:20px !important; background-image: url('chrome://foxtrick/content/resources/img/link-down.png'); background-repeat:no-repeat; background-position: 99% 60%;}
div.ft_sidebarBoxUnfolded  h2 { border: none !important; padding-right:20px !important; background-image: url('chrome://foxtrick/content/resources/img/link-up.png'); background-repeat:no-repeat;  background-position: 99% 60%;}
div.ft_sidebarBoxCollapsed .boxLeft>div , div.ft_sidebarBoxUnfolded .boxLeft>div { margin-right:8px !important;} 
div.ft_sidebarBoxCollapsed .boxLeft, div.ft_sidebarBoxUnfolded .boxLeft  {border-bottom: 1px solid #CCCCCC;}
div.ft_sidebarBoxCollapsed_rtl  h2 { border: none !important; background-image: url('chrome://foxtrick/content/resources/img/link-down.png'); background-repeat:no-repeat;  background-position: 3% 60%;}
div.ft_sidebarBoxUnfolded_rtl h2 { border: none !important; background-image: url('chrome://foxtrick/content/resources/img/link-up.png'); background-repeat:no-repeat;  background-position: 3% 60%;}
div.ft_sidebarBoxCollapsed_rtl .boxLeft>div , div.ft_sidebarBoxUnfolded .boxLeft>div { margin-left:8px !important;} 
div.ft_sidebarBoxCollapsed_rtl .boxLeft, div.ft_sidebarBoxUnfolded .boxLeft  {border-bottom: 1px solid #CCCCCC;}


/* sidebarbox h3 dropdown image */
h3.ft_sidebarBoxCollapsed { padding-right:20px !important; background-image: url("chrome://foxtrick/content/resources/img/down.gif"); background-repeat:no-repeat; background-position:right;}
h3.ft_sidebarBoxUnfolded { padding-right:20px !important; background-image: url("chrome://foxtrick/content/resources/img/up.gif"); background-repeat:no-repeat; background-position:right;}

/*boxBody h2 dropdown image*/
h2.ft_boxBodyCollapsed {background-image: url("chrome://foxtrick/content/resources/img/down.gif"); background-repeat:no-repeat; background-position:right;}
h2.ft_boxBodyUnfolded {background-image: url("chrome://foxtrick/content/resources/img/up.gif"); background-repeat:no-repeat; background-position:right;}

/*Forum HighlighthreadOpener PostID*/
.ft_slH_PID_right, .ft_slH_PID_left {background-color:#000000!important;}

.sidebarBox h5 { font-size: 100%; margin: 0.5em 0; }

/*skilltable*/
.ft_skilltablediv { margin-top: 35px; margin-bottom: 35px; margin-left: -10px; }
.ft_skilltablediv h2 { cursor: pointer; margin: 10px 0 10px 0 !important; }
.ft_skilltable th, .ft_skilltable td { padding: 1px 2px !important; }
.ft_skilltable th { cursor: pointer; text-align: center !important; }
.ft_skilltable td { border-bottom: 1px solid #DCE0DC; border-collapse: separate; }
.ft_skilltable td:nth-child(even) { background-color: #eeeeee; }
.ft_skilltable tbody td { text-align: center !important; }
.ft_skilltable tbody td:first-child { text-align: left !important; }
.ft_skilltable_maxed { font-weight: bold; }
.ft_skilltable_blockend td { border-bottom: 1px solid #dddddd; }

/*RapidId*/
#ft_rapidid_container { float: right; margin-top: 9px; margin-left: 7px; }
#ft_rapidid_container.simple { margin-top: 20px; margin-left: 5px; }
#ft_rapidid_form { display: none; }
#ft_rapidid_form.display { display: block; }
#ft_rapidid_indicator.hidden { display: none; }
#ft_rapidid_input { width: 9em; }

/* must be at the end of the document!!! */
/* hide all till script finished 
@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {
	body{display:none;}
}*/
