
@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {

#mainBody table {margin-left:-8px;width:440px !important;}
#mainBody table tr>td+td+td+td+td+td+td {display:none;}
#mainBody table tr td {margin-right:2px !important; padding-right:3px !important;}
#mainBody table tr>td+td+td+td+td+td {margin-right:0px !important; padding-right:0px !important;}
#mainBody table tr span.date {padding-right:0px !important;}
/* remove time*/
/*#mainBody table tr td.date span {margin-left: -35px !important; background:white;} */
/* small font */
/*#mainBody table tr .date, #mainBody table tr td.nowrap {font-size: 0.8em !important;}*/
#mainBody table tr td  {font-size: 0.8em !important; /*white-space:nowrap*/}

}