/* settings here apply to all pages, including non hattrick pages.
   so any own class HAS TO start with eg 'foxtrick_' to make it foxtrick specific */

html[data-theme="standard"] #stageLogo {
	background-image: url('chrome://foxtrick/content/resources/img/logo_green_stage_foxtrick.png');
}
html[data-theme="standard"] #logo {
	background-image: url('chrome://foxtrick/content/resources/img/logo_green_foxtrick.png');
}
html[data-theme="simple"] #stageLogo {
	background-image: url('chrome://foxtrick/content/resources/img/logo_green_stage_foxtrick_simple.png');
}
html[data-theme="simple"] #logo {
	background-image: url('chrome://foxtrick/content/resources/img/logo_green_foxtrick_simple.png');
}

html[data-theme="standard"][firefox] #stageLogo, html[data-theme="standard"][android] #stageLogo {
	background-image: url('chrome://foxtrick/content/resources/img/logo_green_stage_foxtrick.png') !important;
}
html[data-theme="standard"][firefox] #logo, html[data-theme="standard"][android] #logo {
	background-image: url('chrome://foxtrick/content/resources/img/logo_green_foxtrick.png') !important;
}
html[data-theme="simple"][firefox] #stageLogo, html[data-theme="simple"][android] #stageLogo {
	background-image: url('chrome://foxtrick/content/resources/img/logo_green_stage_foxtrick_simple.png') !important;
}
html[data-theme="simple"][firefox] #logo, html[data-theme="simple"][android] #logo {
	background-image: url('chrome://foxtrick/content/resources/img/logo_green_foxtrick_simple.png') !important;
}

/* start ft-modal-dialog */
.ft-clearfix:before,
.ft-clearfix:after {
	content: '';
	display: table;
	border-collapse: collapse;
}
.ft-clearfix:after {
	clear: both;
}
.ft-clearfix {
	min-height: 0;
}
.ft-rborder {
	border-radius: 10px;
}

#foxtrick-modal-screen {
	z-index: 100000;
	background-color: hsl(0, 0%, 67%);
	opacity: 0.4;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#foxtrick-modal-dialog {
	position: fixed;
	z-index: 100001;
	width: 600px;
	height: 50%;
	top: 0; right: 0; left: 0; bottom: 0; margin: auto;
	color: black;
}

#foxtrick-modal-dialog h2 {
	color: hsl(0, 0%, 13%) !important;
	border: 0 !important;
	margin: 0.6em 0 !important;
	font-size: 1.6em !important;
}

.ft-dialog-hdrWrapper {
	position: absolute;
	width: 100%;
	background: white;
	border: 1px solid hsl(0, 0%, 67%);
	border-width: 1px 1px 0 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.ft-dialog-header {
	padding: .4em 1em;
	border: 1px solid hsl(0, 0%, 67%);
	background: linear-gradient(to bottom, hsl(210, 100%, 74%) 0%, hsl(210, 92%, 67%) 44%,
	                            hsl(210, 84%, 59%) 100%);
	margin: 0.2em 0.2em 0.8em 0.2em;
}

.ft-dialog-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
	font-size: 2em !important;
	width: 100% !important;
	margin: .1em 0 !important;
	color: hsl(0, 0%, 13%) !important;
	border: 0 !important;
	line-height: 1.3em;
}

.ft-dialog-content {
	background: white;
	padding: 5em 1em 1em 1em;
	margin-right: -2px;
	overflow-y: auto;
	max-height: 100%;
	border: 1px solid hsl(0, 0%, 67%);
	border-width: 1px 1px 0 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.ft-dialog-btnWrapper {
	background: white;
	margin-right: -2px;
	border: 1px solid hsl(0, 0%, 67%);
	border-width: 0 1px 1px 1px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.ft-dialog-button-row {
	border: 1px solid hsl(0, 0%, 67%);
	border-width: 1px 0 0 0;
	margin: 0 0.4em;
}

.ft-dialog-button {
	padding: 0;
	margin: .5em .4em;
	cursor: pointer;
	border: 1px solid hsl(0, 0%, 83%);
	color: hsl(0, 0%, 33%);
	background: hsl(0, 0%, 90%);
	font-size: 1.3em;
}

.ft-dialog-button-text {
	padding: 0.4em 1em;
	display: block;
}

.ft-dialog-button:hover {
	border: 1px solid hsl(0, 0%, 60%);
	background: white;
}
/* end ft-modal-dialog */

/* faux-link */
.ft-link { cursor: pointer; text-decoration: underline; }

/* icons and hover icons */
.ft_actionicon {cursor: pointer; height: 16px; background: 50% no-repeat; }
.ft_icon {width: 16px; height: 16px; background: 50% no-repeat; }
.ft_actionicon_large {cursor: pointer; height: 34px; width:36px; padding:0px 5px 0px 0px; }

.foxtrickCopy {background-image: url('chrome://foxtrick/content/resources/img/copy/copy_small.png'); width: 16px; }
.foxtrickCopy:hover {background-image: url('chrome://foxtrick/content/resources/img/copy/copy_yellow_small.png'); width: 16px; }
.foxtrickHelp {background-image:url('chrome://foxtrick/content/resources/img/help.png'); width: 16px; }
.foxtrickHelp:hover {background-image: url('chrome://foxtrick/content/resources/img/help-hover.png'); width: 16px; }
.foxtrickExport {background-image: url('chrome://foxtrick/content/resources/img/Aiga_downarrow_green.png'); width: 16px; }
.foxtrickExport:hover {background-image: url('chrome://foxtrick/content/resources/img/Aiga_downarrow_yellow.png'); width: 16px; }
.foxtrickRemove { background-image: url('chrome://foxtrick/content/resources/img/cross_small.png'); width: 12px; height: 12px; margin-top: 2px; cursor: pointer; }
.foxtrickRemove:hover { background-image: url('chrome://foxtrick/content/resources/img/crossRed_small.png'); }
.subMenuConf .foxtrickRemove { margin-left: 10px; }
.foxtrickInfo {background-image: url('chrome://foxtrick/content/resources/img/info.png'); width: 16px; }
.foxtrickInfo:hover {background-image: url('chrome://foxtrick/content/resources/img/info-hover.png'); width: 16px; }
.foxtrickScreenshot { background-image: url("chrome://foxtrick/content/resources/img/screenshot.png"); width: 16px; }
.foxtrickScreenshot:hover { background-image: url("chrome://foxtrick/content/resources/img/screenshot-hover.png"); width: 16px; }
.foxtrickBrowse { background-image: url("chrome://foxtrick/content/resources/img/browse.png"); width: 16px; padding:2px; }

div.rightHandBoxBody > div {
	margin: 10px 0;
}
/*
 * expanders
 * TODO - use attribute expanded to denote whether expanded
 */

h2.ft-expander-unexpanded, h2.ft-expander-expanded,
div.ft-expander-unexpanded h2, div.ft-expander-expanded h2,
h4.ft-expander-unexpanded, h4.ft-expander-expanded,
div.ft-expander-unexpanded h4, div.ft-expander-expanded h4 {
	cursor: pointer;
	background-repeat: no-repeat !important;
}
html[dir="ltr"] h2.ft-expander-unexpanded, html[dir="ltr"] h2.ft-expander-expanded,
html[dir="ltr"] div.ft-expander-unexpanded h2, html[dir="ltr"] div.ft-expander-expanded h2,
html[dir="ltr"] h4.ft-expander-unexpanded, html[dir="ltr"] h4.ft-expander-expanded,
html[dir="ltr"] div.ft-expander-unexpanded h4, html[dir="ltr"] div.ft-expander-expanded h4 {
	background-position: right !important;
}
html[dir="rtl"] h2.ft-expander-unexpanded, html[dir="rtl"] h2.ft-expander-expanded,
html[dir="rtl"] div.ft-expander-unexpanded h2, html[dir="rtl"] div.ft-expander-expanded h2,
html[dir="rtl"] h4.ft-expander-unexpanded, html[dir="rtl"] h4.ft-expander-expanded,
html[dir="rtl"] div.ft-expander-unexpanded h4, html[dir="rtl"] div.ft-expander-expanded h4 {
	background-position: left !important;
}

/* div expanders */
div.ft-expander-unexpanded h2, div.ft-expander-unexpanded h4 {
	background-image: url("chrome://foxtrick/content/resources/img/link-down.png") !important;
}
div.ft-expander-expanded h2, div.ft-expander-expanded h4 {
	background-image: url("chrome://foxtrick/content/resources/img/link-up.png") !important;
}

/* h2/h3 expanders */
h2.ft-expander-unexpanded, h3.ft-expander-unexpanded {
	background-image: url("chrome://foxtrick/content/resources/img/down.gif");
}
h2.ft-expander-expanded, h3.ft-expander-expanded {
	background-image: url("chrome://foxtrick/content/resources/img/up.gif");
}
html[dir="ltr"] h3.ft-expander-unexpanded, html[dir="ltr"] h3.ft-expander-expanded {
	padding-right: 20px !important;
}
html[dir="rtl"] h3.ft-expander-unexpanded, html[dir="rtl"] h3.ft-expander-expanded {
	padding-right: 20px !important;
}

/*Forum HighlighthreadOpener PostID*/
.ft_slH_PID_right, .ft_slH_PID_left {background-color:#000000!important;}

.sidebarBox h5 { font-size: 100%; margin: 0.5em 0; }

/* personality images */
.ft-personality-img { height: 8px; width: 8px; margin-left: 0.1em;}

/* lineup shortcut */
td.ft-lineup-cell { vertical-align: middle !important; }

/* history stats */
.historystats th {text-align:left!important;padding:2px!important;}
.historystats td {text-align:left!important;padding:2px!important;}

.bold{font-weight:700 !important;}

/* TeamStats filter */
.ft-select-container { float: right; width: auto; }
.ft-select-container > select { display: block; margin: 0 !important; clear: right; }
#foxtrick-filter-select option[value="attribute-all"] {background-color:#ccc;}

/* same style as HT's a.flag img */
span.flag img {
	width: 20px;
	height: 12px;
	border: #ddc 1px solid;
	vertical-align: middle;
	margin: 0 2px 2px 0;
}

/* FoxTrick note */
.ft-note {
	background-color: #efefff;
	border: 1px solid #2f31ff;
	clear: both;
	margin: 10px 0;
	padding: 7px 10px;
	overflow: hidden;
}

#divReport > .ft-note {
	margin-bottom: 20px;
}
.ft-note a.close {
	cursor: pointer;
	float: right;
}

.ft-youth-series-estimation.near-start {
	color: red;
}

#ft-log {
	background: #dce2dc;
	border: 1px solid #abcdef;
	font-size: 12px !important;
	max-height: 250px;
	overflow: auto;
}

/* max-height no good for mobile devices */
#ctl00_ctl00_pnlMobileLink+form #ft-log {
	max-height: none !important;
}

#ft-log h2 {
	margin: 6px 0 15px 6px !important;
}

#ft-log pre {
	width: auto !important;
}

#foxtrick_links_content a, a.ft-link-keeper, a.ft-link-injury {
	padding: 0 2px !important;
}

#foxtrick_links_content div.ft_actionicon {
	padding-right: 5px !important;
}

.ft-link-span {
	display: inline-block;
}

.ft-links-custom-icon-edit {
	display: inline-block;
	width: 16px;
	height: 16px;
	overflow: hidden;
}

.ft-last-login-diff {
	margin-left: 10px;
}

.ft-ownerless {
	background-image: url("chrome://foxtrick/content/resources/img/ownerless.png");
	background-repeat: no-repeat;
	padding: 0px 0px 0px 11px;
}


/* pop lists that are displayed when hovering */
.ft-pop-up-container {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.ft-pop-up-container.icon {
	padding-right: 4px;
	background: url(chrome://foxtrick/content/resources/img/pop-up.png) 24px 4px no-repeat;
}
.ft-pop-up-container.icon.header {
	position: absolute;
	padding-right: 4px;
	background: url(chrome://foxtrick/content/resources/img/pop-up.png) 24px 4px no-repeat;
}

ul.ft-pop {
	color: #000;
	background-color: #eee;
	border: solid 1px #aaa;
	border-bottom: 0px; /* use the border provided by the last item */
	display: none;
	position: absolute;
	list-style-type: none;
	z-index: 101;
	padding: 0px;
	margin: 0px;
}
html[dir="ltr"] ul.ft-pop.right {
	right: 0px;
	left: initial;
	text-align:left;
}
html[dir="rtl"] ul.ft-pop.right {
	left: 0px;
	right: initial;
	text-align:right;
}
ul.ft-pop.top {
	top: 0px;
}
.ft-pop-up-container:hover > ul.ft-pop {
	display: block;
}
ul.ft-pop > li {
	white-space: nowrap;
	padding: 2px 2px !important;
	border-bottom: solid 1px #aaa;
	margin: 0px 0px;
}
ul.ft-pop > li:hover {
	background-color: #d0d0d0;
}
ul.ft-pop > li a, ul.ft-pop span {
	text-decoration: none;
	display: block;
	cursor: pointer;
}
#ft_clear_cache, #ft_report_bug {cursor: pointer; color:#3F7137; margin: 0 6px;}


#ft-monitor-sidebar-box {
	overflow: hidden;
}

#ft_versionInfo {
}

.ft-nowrap {
	white-space: nowrap;
}
.ft-bordertop {
    border-top: 1px solid #000;
}

.ftTeamHighlight {
background-color: #eed;
}

.ft-clear-both {
	clear:both;
}

/* rating differences highlighting */
.ft-colorLower {
	color: orange;
}
.ft-colorHigher {
	color: #00A9E0;
}
.ft-tableHighlight {
	background-color: yellow !important;
}

/* why use this shit anyway?! */
.mainRegular > .boxBody {
	overflow: visible !important;
}
/* disable useless block styling for SVG pie charts */
.percentage {
	display: inline-block !important;
}

html[data-theme="simple"] tr.darkereven {
	background-color: #dde1dd;
}
