/* general foxtrick css classes */
.hidden { display: none; }

/* icons and hover icons */
.ft_actionicon {cursor: pointer; height: 16px; background: 50% no-repeat; }
.ft_icon {width: 16px; height: 16px; background: 50% no-repeat; }

.HT_thread { background: #FF7A7A;}

.foxtrickCopy {background-image: url('chrome://foxtrick/content/resources/img/copy_small.png'); width: 16px; }
.foxtrickCopy:hover {background-image: url('chrome://foxtrick/content/resources/img/copy_yellow_small.png'); width: 16px; }
.foxtrickHelp {background-image:url('chrome://foxtrick/content/resources/img/Aiga_help_green.png'); width: 16px; }
.foxtrickHelp:hover {background-image: url('chrome://foxtrick/content/resources/img/Aiga_help_yellow.png'); width: 16px; }
.foxtrickExport {background-image: url('chrome://foxtrick/content/resources/img/Aiga_downarrow_green.png'); width: 16px; }
.foxtrickExport:hover {background-image: url('chrome://foxtrick/content/resources/img/Aiga_downarrow_yellow.png'); width: 16px; }
.foxtrickRemove { background-image: url('chrome://foxtrick/content/resources/linkicons/cross_small.png'); width: 12px; height: 12px; margin-left: 2px; margin-top: 2px; }
.foxtrickRemove:hover { background-image: url('chrome://foxtrick/content/resources/linkicons/crossRed_small.png'); height: 12px; width: 12px; margin-left: 2px; margin-top: 2px; }
.foxtrickInfo {background-image: url('chrome://foxtrick/content/resources/img/Aiga_information_green.png'); width: 16px; }
.foxtrickInfo:hover {background-image: url('chrome://foxtrick/content/resources/img/Aiga_information_yellow.png'); width: 16px; }

div.ft_sidebarBoxCollapsed h2 { background: url("chrome://foxtrick/content/resources/img/link-down.png") right no-repeat; }
div.ft_sidebarBoxUnfolded h2 { background: url("chrome://foxtrick/content/resources/img/link-up.png") right no-repeat; }
div.ft_sidebarBoxCollapsed_rtl h2 { background: url("chrome://foxtrick/content/resources/img/link-down.png") left no-repeat; }
div.ft_sidebarBoxUnfolded_rtl h2 { background: url("chrome://foxtrick/content/resources/img/link-up.png") left no-repeat; }

/* sidebarbox h3 dropdown image */
h3.ft_sidebarBoxCollapsed { padding-right:20px !important; background-image: url("chrome://foxtrick/content/resources/img/down.gif"); background-repeat:no-repeat; background-position:right;}
h3.ft_sidebarBoxUnfolded { padding-right:20px !important; background-image: url("chrome://foxtrick/content/resources/img/up.gif"); background-repeat:no-repeat; background-position:right;}

/*boxBody h2 dropdown image*/
h2.ft_boxBodyCollapsed {background-image: url("chrome://foxtrick/content/resources/img/down.gif"); background-repeat:no-repeat; background-position:right;}
h2.ft_boxBodyUnfolded {background-image: url("chrome://foxtrick/content/resources/img/up.gif"); background-repeat:no-repeat; background-position:right;}

/*Forum HighlighthreadOpener PostID*/
.ft_slH_PID_right, .ft_slH_PID_left {background-color:#000000!important;}

.sidebarBox h5 { font-size: 100%; margin: 0.5em 0; }

/*skilltable*/
.ft_skilltablediv { margin-top: 35px; margin-bottom: 35px; margin-left: -10px; }
.ft_skilltablediv h2 { cursor: pointer; margin: 10px 0 10px 0 !important; }
.ft_skilltablediv table { width: 100%; margin: 0 0 0.5em 0; white-space: nowrap; }
.ft_skilltablediv table td:nth-child(even) { background-color: #eeeeee; }
.ft_skilltablediv table td:nth-child(odd) { background-color: white; }
.ft_skilltablediv table th { text-align: center !important; }
.ft_skilltablediv a { cursor: pointer; margin: 0 0.5em 0 0; }
.ft_skilltable_wrapper, .ft_skilltable_customizewrapper { width: 100%; overflow: auto; }
.ft_skilltable_links { margin-bottom: 0.5em !important; }
.ft_skilltable_links a { display: none; }
.ft_skilltable_links .secondary { float: right; }
.ft_skilltable_links .customize_item { display: inline; }
.ft_skilltable_links.customizing a { display: inline; }
.ft_skilltable_links.customizing .customize_item { display: none; }
.ft_skilltable_container { background-color: #fff; }
.ft_skilltable_container.on_top { position: absolute; z-index: 100; padding: 1em; border: 2px solid #888; }
.ft_skilltable th, .ft_skilltable td { padding: 1px 2px !important; }
.ft_skilltable th { cursor: pointer; }
.ft_skilltable td { border-bottom: 1px solid #DCE0DC; border-collapse: separate; }
.ft_skilltable_maxed { font-weight: bold; }
.ft_skilltable_blockend td { border-bottom: 1px solid #dddddd; }

/* must be at the end of the document!!! */
/* hide all till script finished 
@-moz-document domain(hattrick.org); , domain(hattrick.interia.pl); , domain(hattrick.ws);  {
	body{display:none;}
}*/
