
@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {


table[class="indent left thin"] td, table[class="indent right thin"] td {font-size: 0.95em !important; padding:1px 1px !important; height:24px;}


#aspnetForm[action*="Default.aspx?LeagueLevelUnitID="] #mainBody>table.indent  { margin-left: -10px;}
#aspnetForm[action*="Default.aspx?LeagueLevelUnitID="] table.left  { width:48%;}
#aspnetForm[action*="Default.aspx?LeagueLevelUnitID="] table.right  { width:52%;}


}
