/* Module GoaldifferenceToTables */

/* positive goal difference */
.ft-gd-positive {
	color: green;
}

/* goal difference is zero */
.ft-gd-zero {
	color: black;
}

/* negative goal difference */
.ft-gd-negative {
	color: red;
}
