#ctl00_CPMain_ucThread_ucPagerTop_txtMessageNumber {display:none;}
#ctl00_CPMain_ucThread_ucPagerTop_btnViewMessage {display:none;}
#ctl00_CPMain_ucThread_ucPagerBottom_txtMessageNumber {display:none;}
#ctl00_CPMain_ucThread_ucPagerBottom_btnViewMessage {display:none;}
			

