#ft-haruspextable tr td:first-child {
	width: 141px;
	font-weight: bold;
}

#ft-haruspextable tr td:nth-child(2) {
	text-align: left;
}

#ft-haruspextable tr td:nth-child(3) {
	text-align: center;
}

#ft-haruspextable tr td:nth-child(4) {
	text-align: right;
}

.haruspex-graph {
	height: 15px;
	display: inline-block;
}

.haruspex-graph:nth-child(1) {
	background-color: #738c73;
}

.haruspex-graph:nth-child(2) {
	background-color: #e5e6e5;
}

.haruspex-graph:nth-child(3) {
	background-color: #abbaab;
}

