/* HeaderFix by Catalyst2950 */

/* Fix the header on screen */
#header {
position: fixed !important;
top: 0;
margin: 0;
width: 764px;
padding-right: 1em;
background-color: white !important;
z-index: 9999;
}

/* compensate for fixed header, move menu from the edge */
#hattrick #menu {
width: 765px !important;
}
	
/* add whitespace below header */
#hattrick #menu {
margin-bottom: 0.5em;
}

/* compensate for fixed header */
#hattrick #content {
padding-top: 100px !important;
}

/* fix left submenu */
#hattrick #content .subMenu {
position: fixed;
}

/* compensate for fixed left submenu */
#hattrick #content #mainWrapper {
margin-left: 135px;
min-height: 630px !important; /* temporary height hack before sticky footer */
}

/* fix team name being cut off on the left side menu and possibly other similar quirks */
#hattrick h2 {
height: auto !important;
}

/* conference message headers */
#hattrick #mainBody .cfHeader {
padding: 0.4em 0.25em !important;
}

div#shortcuts {
padding-right: 1em;
}
