@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {

a.copyicon {
	cursor: pointer; 
	position:absolute;
	 top:6px;
	 z-index:99;	
}

#hattrickNoSupporter   a.ci_first { left:3px;}
#hattrick   a.ci_first {left:25px;}

#hattrickNoSupporter   a.ci_second { left:31px;}
#hattrick   a.ci_second {left:31px;}

#hattrickNoSupporter   a.ci_third {left:58px;}
#hattrick   a.ci_third{left:58px;}

#hattrickNoSupporter   a.ci_forth{left:85px;}
#hattrick   a.ci_forth{left:85px;}

#hattrickNoSupporter   a.ci_fifth{left:112px;}
#hattrick   a.ci_fifth{left:112px;}

.copyicon img {
	padding: 0px 0px 0px 0px; 
	height:22px; 
	width:22px; 
}

.copyplayerad img {
	background: transparent url(chrome://foxtrick/content/resources/img/copyPlayerAd_s.png) no-repeat scroll 0 0;
}

.copyplayerscource img {
	background: transparent url(chrome://foxtrick/content/resources/img/copyPlayerSource_s.png) no-repeat scroll 0 0;
}

.copytrainingreport img {
	background: transparent url(chrome://foxtrick/content/resources/img/copyTrainingReport_s.png) no-repeat scroll 0 0;
}

.copyscoutreport img {
	background: transparent url(chrome://foxtrick/content/resources/img/copyScoutReport_s.png) no-repeat scroll 0 0;
}

}

