@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {

a.copyicon {
	cursor: pointer;
	position:absolute;
	 top:11px;
	 z-index:99;
}


.copyicon img {
	padding: 0px 0px 0px 0px;
	height:36px;
	width:36px;
}

/* header icons postitions */
.ci_first { right:14px;}
.ci_second { right:51px;}
.ci_third {right:88px;}
.ci_fourth{right:125px;}
.ci_fifth{right:162px;}


.copyplayerad img {
	background: transparent url(chrome://foxtrick/content/resources/img/copy/copyPlayerAd.png) no-repeat scroll 0 0;
}

.copyplayerscource img {
	background: transparent url(chrome://foxtrick/content/resources/img/copy/copyPlayerSource.png) no-repeat scroll 0 0;
}

.copytrainingreport img {
	background: transparent url(chrome://foxtrick/content/resources/img/copy/copyTrainingReport.png) no-repeat scroll 0 0;
}

.copyscoutreport img {
	background: transparent url(chrome://foxtrick/content/resources/img/copy/copyScoutReport.png) no-repeat scroll 0 0;
}

.copyratings img {
	background: transparent url(chrome://foxtrick/content/resources/img/copy/copyMatchRatings.png) no-repeat scroll 0 0;
}

.copyratingshome img {
	background: transparent url(chrome://foxtrick/content/resources/img/copy/copyHomeRatings.png) no-repeat scroll 0 0;
}

.copyratingsaway img {
	background: transparent url(chrome://foxtrick/content/resources/img/copy/copyAwayRatings.png) no-repeat scroll 0 0;
}

}

