/* no mozdoc needed */

#ctl00_ctl00_ucClubSwitcher_btnSwitchClub {
	position: fixed !important;
	top: 0px;
	z-index: 10001;
}
#ctl00_ctl00_ucClubSwitcher_pnlSwitchClub {
	margin-top: 0px !important;
}
#header {
	top: 20px !important;
}
