/* HeaderFix by Catalyst2950 and foxtrick devs*/
@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {


/* Fix the header on screen */
#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"]) #header {
position: fixed !important;
top: 0px; 
margin-left: -11px;
width: 764px;
padding-right:10px;
padding-left: 11px;
background-color: white !important;
z-index: 990;
border-color: #DDDDDD;
border-style: solid;
border-width:  0 1px 0 1px;
height: 103px !important
}


/* compensate for fixed header, move menu from the edge */
#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"]) #menu {
width: 765px !important;
margin-left:10px !important;
}

/* add whitespace below header */
#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"]) #menu {
margin-bottom: 2px !important;
}

/* compensate for fixed header */
#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"]) #content {
padding-top: 100px !important;
}

/* compensate for fixed left submenu */
#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"]):not([action*="Live.aspx"]) #content #mainWrapper {
margin-left: 135px;
min-height: 400px !important; /* temporary height hack before sticky footer */
}
/* Alltid fix */
#aspnetForm[action*="Default.aspx?path=country"] #content #mainWrapper {
min-height:0px !important ; 
}

#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"]) div#shortcuts {
padding-right: 10px;
}

/* fix for forumbookmark z-index 99999 */
.cfWrapper .bookmarkMessage {
	z-index: 9 !important;
}



/* STADIONIMAGEFIX */

/* part 2 not needed now
#aspnetForm[action*="Default.aspx?ArenaID="] div#ctl00_CPMain_pnlMain>h1.hasByline {
margin-top:-125px !important;
}

#aspnetForm[action*="Default.aspx?ArenaID="] div#ctl00_CPMain_pnlMain>div.mainBox {
margin-top:-475px !important;
}

#aspnetForm[action*="Default.aspx?ArenaID="]  div#ctl00_CPMain_pnlMain>div.mainBox table {
margin-top:-425px !important;
}

#aspnetForm[action*="Default.aspx?ArenaID="]  div#ctl00_CPMain_pnlMain>div.arenaInfo {
width:180px !important;
float:right !important;
margin-top:-260px !important;
margin-right:15px }

#aspnetForm[action*="Default.aspx?ArenaID="]  div[class="main mainRegular"]>div#mainBody.boxBody {
margin-top:135px;
}

#aspnetForm[action*="Default.aspx?ArenaID="]  object#ARENA>embed {
margin-top:150px !important;
}
*/

/* part 3 */
/* Kitdesignerfix */
#aspnetForm[action*="?TeamID="]:not([action*="Alltid"]) div#mainWrapper>div[class="main mainFull"] {
margin-left:-135px !important;
width: 765px !important;}


/*forum search fix*/
#ctl00_ctl00_CPContent_CPMain_updSearch { z-index:9999 !important;}

/* --------------- */

}