/* HeaderFix by Catalyst2950 */
@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws) {

/* fix left submenu */
#content .subMenu {
	position: fixed !important;
}
html[data-theme="simple"] #content .subMenu {
	background: white !important;
	border-color: #ddd !important;
	border-style: solid !important;
}
html[dir="ltr"][data-theme="simple"] #content .subMenu {
	margin-left: -11px !important;
	padding-left: 11px !important;
	border-width: 0 0 0 1px !important;
}
html[dir="rtl"][data-theme="simple"] #content .subMenu {
	margin-right: -11px !important;
	padding-right: 11px !important;
	border-width: 0 1px 0 0 !important;
}

/* show main over left menu */
#content.mainRegular {
	z-index:10;
	background-color:white;
}

/* compensate for fixed left submenu */
html[dir="ltr"][data-theme="standard"] #content #mainWrapper {
	margin-left: 175px;
}
html[dir="ltr"][data-theme="simple"] #content #mainWrapper {
	margin-left: 135px;
	min-height: 400px !important;
}
html[dir="rtl"][data-theme="standard"] #content #mainWrapper {
	margin-right: 175px;
}
html[dir="rtl"][data-theme="simple"] #content #mainWrapper {
	margin-right: 125px;
	min-height: 400px !important;
}

/* compensate for fixed left submenu Forum */
html[data-theme="standard"] #content #mainWrapper>div[class="main mainConf"] {
	width:655px !important;
}
html[dir="ltr"][data-theme="standard"] #content #mainWrapper>div[class="main mainConf"] {
	float: left !important;
	margin-left: -175px;
}
html[dir="rtl"][data-theme="standard"] #content #mainWrapper>div[class="main mainConf"] {
	float: right !important;
	margin-right: -175px;
}

/* Kitdesignerfix */
html[data-theme="standard"] div#mainWrapper>div[class="main mainFull"] {
	width: 950px !important;
}
html[data-theme="simple"] div#mainWrapper>div[class="main mainFull"] {
	width: 765px !important;
}
html[dir="ltr"][data-theme="standard"] div#mainWrapper>div[class="main mainFull"] {
	margin-left: -175px !important;
}
html[dir="ltr"][data-theme="simple"] div#mainWrapper>div[class="main mainFull"] {
	margin-left: -135px !important;
}
html[dir="rtl"][data-theme="standard"] div#mainWrapper>div[class="main mainFull"] {
	margin-right: -135px !important;
}
html[dir="rtl"][data-theme="simple"] div#mainWrapper>div[class="main mainFull"] {
	margin-right: -135px !important;
}

}
