/* HeaderFix by Catalyst2950 */
@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {

/* fix left submenu */
#aspnetForm:not([action*="useFlashVersion=True"]) #content .subMenu {
position: fixed !important;
/* getting borders right if menu overflows content */
background: white !important;
margin-left: -11px !important;
padding-left: 11px !important;
border-color: #DDDDDD !important;
border-style: solid !important;
border-width: 0 0 0 1px !important;
}

}