/* HeaderFix by Catalyst2950 */
@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws) {

/* fix left submenu */
#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action*="Live.aspx"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"])  #content .subMenu {
position: fixed !important;
}

/* show main over left menu */
#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action*="Live.aspx"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"])  #content.mainRegular {
	z-index:10;
	background-color:white;
}

#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action*="Live.aspx"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"])  content .subMenu .subMenuBox {
margin-right: 0px !important;
}

/* compensate for fixed left submenu */
#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action*="Live.aspx"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"])  #content #mainWrapper {
margin-right: 175px !important;
/* min-height: 620px !important; /* temporary height hack before sticky footer */
}

#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action*="Live.aspx"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"])  #content #mainWrapper .main {
margin-right: 10px !important;
}

/* compensate for fixed left submenu Forum */
#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action*="Live.aspx"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"])  #content #mainWrapper>div[class="main mainConf"] {
float:right !important;
margin-right: -175px !important;
width:655px !important;
}

/* part 3 */
/* Kitdesignerfix */
#aspnetForm[action*="?TeamID="] div#mainWrapper>div[class="main mainFull"] {
margin-right:-175px !important;
width: 950px !important;
}

}