@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {
/* HeaderFix by Catalyst2950 */

/* Fix the header on screen */
#aspnetForm:not([action*="useFlashVersion=True"])  #header  {
position: fixed !important;
top: 0px; 
margin-left: -11px;
margin-right: -11px;
width: 764px;
padding-right:10px;
padding-left: 11px;
background-color: white !important;
z-index: 9999;
border-color: #DDDDDD;
border-style: solid;
border-width:  0 1px 0 1px;
}


/* compensate for fixed header, move menu from the edge */
#aspnetForm:not([action*="useFlashVersion=True"])  #menu {
width: 765px !important;
margin-left:10px !important;
}

/* add whitespace below header */
#aspnetForm:not([action*="useFlashVersion=True"])  #menu {
margin-bottom: 6px !important;
}

/* compensate for fixed header */
#aspnetForm:not([action*="useFlashVersion=True"]) #content {
padding-top: 100px !important;
}

/* fix left submenu */
#aspnetForm:not([action*="useFlashVersion=True"]) #content .subMenu {
position: fixed;
/* getting borders right if menu overflows content */
background: white;
margin-right: -11px !important; 
padding-right: 11px !important;
border-color: #DDDDDD !important;
border-style: solid !important;
border-width:  0 1px 0 0 !important;
}

/* compensate for fixed left submenu */
#aspnetForm:not([action*="useFlashVersion=True"])  #content #mainWrapper {
margin-right: 135px !important;
min-height: 630px !important; /* temporary height hack before sticky footer */
}

#aspnetForm:not([action*="useFlashVersion=True"])  div#shortcuts {
padding-right: 10px !important;
}

/* fix for forumbookmark z-index 99999 */
.cfWrapper .bookmarkMessage {
	z-index: 9 !important;
}



/* STADIONIMAGEFIX */

/* moves Arena to the bottom */
#aspnetForm:not([action*="isYouth=True"])  #ctl00_CPMain_pnlPreMatch object#ARENA {
float:left !important;
margin-top:690px !important;
}

/* moves Arena info to the bottom */
#aspnetForm:not([action*="isYouth=True"])  #ctl00_CPMain_pnlPreMatch div.arenaInfo {
float:left !important;
width: 200px !important;
margin-top:-250px !important;
}

/* moves rest to the top */
#aspnetForm:not([action*="isYouth=True"])  #ctl00_CPMain_pnlPreMatch div#ctl00_CPMain_pnlTeamInfo {
margin-top:-970px !important;
float:right !important;
}

/* part 2*/
#aspnetForm[action*="Default.aspx?ArenaID="] div#ctl00_CPMain_pnlMain>h1.hasByline {
margin-top:-125px !important;
}

#aspnetForm[action*="Default.aspx?ArenaID="] div#ctl00_CPMain_pnlMain>div.mainBox {
margin-top:-475px !important;
}

#aspnetForm[action*="Default.aspx?ArenaID="] div#ctl00_CPMain_pnlMain>div.mainBox table {
margin-top:-425px !important;
}

#aspnetForm[action*="Default.aspx?ArenaID="] div#ctl00_CPMain_pnlMain>div.arenaInfo {
width:180px !important;
float:left !important;
margin-top:-260px !important;
margin-left:15px }

#aspnetForm[action*="Default.aspx?ArenaID="] div[class="main mainRegular"]>div#mainBody.boxBody {
margin-top:135px;
}

#aspnetForm[action*="Default.aspx?ArenaID="] object#ARENA>embed {
margin-top:150px !important;
}

/* --------------- */

}