/* HeaderFix by Catalyst2950 */
@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {

/* Fix the header on screen */
#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"]) #header {
position: fixed !important;
top: 0px; 
width: 949px;
z-index: 990;
}

/* compensate for fixed header, move menu from the edge */
#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"]) #menu {
width: 953px !important;
margin-left:0px !important;
padding:0px 0px 0px 4px !important;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
}

/* Logout botton +radius */
#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"]) #menu .logout {
margin-right:11px !important; 
}

/* add whitespace below header */
#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"]) #menu {
margin-bottom: 2px !important;
}

/* compensate for fixed header */
#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"]) #content {
padding-top: 100px !important;
}


/* fix for forumbookmark z-index 99999 */
.cfWrapper .bookmarkMessage {
z-index: 0 !important;
}



/* STADIONIMAGEFIX */

/*part 2  not needed now
#aspnetForm[action*="Default.aspx?ArenaID="]  div#ctl00_CPMain_pnlMain>div.mainBox {
margin-top:-420px !important;
}

#aspnetForm[action*="Default.aspx?ArenaID="]  div#ctl00_CPMain_pnlMain>div.mainBox table {
margin-top:-360px !important;
}

#aspnetForm[action*="Default.aspx?ArenaID="]  div#ctl00_CPMain_pnlMain>div.arenaInfo {
margin-top:100px !important;
}

#aspnetForm[action*="Default.aspx?ArenaID="]  object#ARENA>embed {
margin-top:125px !important;
}*/

/* --------------- */

/*forum search fix*/
#ctl00_ctl00_CPContent_CPMain_updSearch { z-index:9999 !important;}


}