@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws) {
/* HeaderFix by Catalyst2950 */

/* fix left submenu */
#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action*="Live.aspx"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"]) #content .subMenu {
position: fixed;
/* getting borders right if menu overflows content */
background: white;
margin-right: -11px !important;
padding-right: 11px !important;
border-color: #DDDDDD !important;
border-style: solid !important;
border-width:  0 1px 0 0 !important;
}

/* show main over left menu */
#aspnetForm:not([action*="Simple.aspx?matchId="]):not([action*="Default.aspx?MatchID="]):not([action*="useFlashVersion=True"]):not([action*="Live.aspx"]):not([action="Live_Flash.aspx"]):not([action*="Alltid"])  #content.mainRegular {
	z-index:10;
	background-color:white;
}

}