/* HeaderFix by Catalyst2950 */
/* fix left submenu */
#content .subMenu {
	position: fixed !important;
}

html[data-theme="simple"] #content .subMenu {
	background: white !important;
	border-color: #ddd !important;
	border-style: solid !important;
}

/* show main over left menu */
#content.mainRegular {
	z-index:10;
	background-color:white;
}


/* following is used on stage. use it generally */
html[dir="ltr"] #content #mainWrapper {
	float:right;
}

html[dir="rtl"] #content #mainWrapper {
	float:left;
}
