@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

/* fixing toggle icon interferences */

/* kicking ht archieve icon */
#ctl00_ctl00_CPContent_CPMain_lnkArchive  img.archiveLinkIcon {
	background-image: none !important;
}

/* removing toggle icon for my-monitor */
#ft-monitor-container div.ft-monitor-frame
{
	background-image: none;
}

/* removing expander icon match ratings */
h2.tblBox.ft-expander-expanded
{
	background-image: none;
}

.ft-headertoggle-hidden {
	display: none;
}

/* rendering inconsistenty for hto toggle on matches page*/
html[firefox] #ctl00_ctl00_CPContent_CPMain_spnToggleTournamentMatches {
	display: block;
	position: relative;
	top: -20px;
}

}
