@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {

a.copyicon {
	cursor: pointer;
	position:absolute;
	 top:6px;
	 z-index:99;
}

/* header icons postitions */
.ci_first { right:6px;}
.ci_second { right:31px;}
.ci_third {right:56px;}
.ci_fourth{right:81px;}
.ci_fifth{right:106px;}


.copyicon img {
	padding: 0px 0px 0px 0px;
	height:22px;
	width:22px;
}

.copyplayerad img {
	background: transparent url(chrome://foxtrick/content/resources/img/copy/copyPlayerAd_s.png) no-repeat scroll 0 0;
}

.copyplayerscource img {
	background: transparent url(chrome://foxtrick/content/resources/img/copy/copyPlayerSource_s.png) no-repeat scroll 0 0;
}

.copytrainingreport img {
	background: transparent url(chrome://foxtrick/content/resources/img/copy/copyTrainingReport_s.png) no-repeat scroll 0 0;
}

.copyscoutreport img {
	background: transparent url(chrome://foxtrick/content/resources/img/copy/copyScoutReport_s.png) no-repeat scroll 0 0;
}

.copyratings img {
	background: transparent url(chrome://foxtrick/content/resources/img/copy/copyMatchRatings_s.png) no-repeat scroll 0 0;
}

.copyratingshome img {
	background: transparent url(chrome://foxtrick/content/resources/img/copy/copyHomeRatings_s.png) no-repeat scroll 0 0;
}

.copyratingsaway img {
	background: transparent url(chrome://foxtrick/content/resources/img/copy/copyAwayRatings_s.png) no-repeat scroll 0 0;
}


}

