/* HeaderFix by Catalyst2950 */
@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {

/* Fix the header on screen */
#header {
position: fixed !important;
top: 0px; 
width: 949px;
z-index: 9999;
}

/* compensate for fixed header, move menu from the edge */
#menu {
width: 953px !important;
margin-right:0px !important;
padding:0px 0px 0px 4px !important;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
}

/* Logout botton +radius */
#menu .logout {
margin-left:11px !important; 
}

/* add whitespace below header */
#menu {
margin-bottom: 6px !important;
}

/* compensate for fixed header */
#content {
padding-top: 100px !important;
}

/* fix left submenu */
#content .subMenu {
position: fixed !important;
}

content .subMenu .subMenuBox {
margin-right: 0px !important;
}

/* compensate for fixed left submenu */
#content #mainWrapper {
margin-right: 175px !important;
min-height: 620px !important; /* temporary height hack before sticky footer */
}

#content #mainWrapper .main {
margin-right: 10px !important;
}

/* compensate for fixed left submenu Forum */
#content #mainWrapper>div[class="main mainConf"] {
float:right !important; 
margin-right: -175px !important;
width:655px !important;
}

/* fix for forumbookmark z-index 99999 */
.cfWrapper .bookmarkMessage {
z-index: 0 !important;
}




/* STADIONIMAGEFIX */

/* moves Arena to the bottom */
#ctl00_CPMain_pnlPreMatch object#ARENA {
float:right !important;
margin-top:600px !important;
}

/* moves Arena info to the bottom */
#ctl00_CPMain_pnlPreMatch div.arenaInfo {
margin-top:600px !important;
}

/* moves rest to the top */
#ctl00_CPMain_pnlPreMatch div#ctl00_CPMain_pnlTeamInfo {
margin-top:-850px !important;
float:left !important;
}

/* --------------- */

}