@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

.htms-bar {
	height: 20px;
	display: inline-block;
}

.ft-htms-graph {
	border: 1px solid black;
}

.htms-stats-win {
	background-color: white;
}

.htms-stats-draw {
	background-color: #ddd;
}

.htms-stats-loss {
	background-color: #849d84;
}

}
