
/* Link dropdown image */
div.sidebarBoxCollapsed h2 {
background: url('chrome://foxtrick/content/resources/img/link-down.png') 11px 5px no-repeat;
background-color:#849D84;
}

/* Link fold image */
div.sidebarBoxUnfolded  h2 {
background: url('chrome://foxtrick/content/resources/img/link-up.png') 11px 4px no-repeat;
background-color:#849D84;
}

#sidebar #foxtrick_OnPagePrefs_box .checkbox_label div {width:115px; overflow:hidden;}
.subMenu #foxtrick_OnPagePrefs_box .checkbox_label div {width:55px; overflow:hidden;}
.subMenuConf #foxtrick_OnPagePrefs_box .checkbox_label div {width:115px; overflow:hidden;}
