
/* Link dropdown image */
div.sidebarBoxCollapsed>div.boxLeft h2 {
background: url('chrome://foxtrick/content/resources/img/link-down.png') 175px 8px no-repeat;
background-color:#849D84;
margin-left:1px !important;
margin-bottom:-5px !important;
margin-top:1px !important;
padding:7px 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
color: #fff !important; 
}

/* Link fold image */
div.sidebarBoxUnfolded>div.boxLeft h2 {
background: url('chrome://foxtrick/content/resources/img/link-up.png') 175px 7px no-repeat;
background-color:#849D84;
margin-left:1px !important;
margin-bottom:-5px !important;
margin-top:1px !important;
padding:7px 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
color: #fff !important; 
}

#sidebar #foxtrick_OnPagePrefs_box .checkbox_label div {width:115px; overflow:hidden;}
.subMenu #foxtrick_OnPagePrefs_box .checkbox_label div {width:75px; overflow:hidden;}
.subMenuConf #foxtrick_OnPagePrefs_box .checkbox_label div {width:195px; overflow:hidden;}
