div.foxtrickCopy {
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url('chrome://foxtrick/content/resources/img/copy_small.png') 50% no-repeat;
}

div.foxtrickCopy:hover {
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url('chrome://foxtrick/content/resources/img/copy_yellow_small.png') 50% no-repeat;
}

div.foxtrickHelp {
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url('chrome://foxtrick/content/resources/img/Aiga_information_green.png') 50% no-repeat;
}

div.foxtrickHelp:hover {
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url('chrome://foxtrick/content/resources/img/Aiga_information_yellow.png') 50% no-repeat;
}


div.foxtrickExport {
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url('chrome://foxtrick/content/resources/img/Aiga_downarrow_green.png') 50% no-repeat;
}

div.foxtrickExport:hover {
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url('chrome://foxtrick/content/resources/img/Aiga_downarrow_yellow.png') 50% no-repeat;
}


/* Link dropdown image */
div.sidebarBoxCollapsed h2 {
background: url('chrome://foxtrick/content/resources/img/link-down.png') 161px 5px no-repeat;
background-color:#849D84;
}

/* Link fold image */
div.sidebarBoxUnfolded  h2 {
background: url('chrome://foxtrick/content/resources/img/link-up.png') 161px 4px no-repeat;
background-color:#849D84;
}
