@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws) {

#ft-local-time {
	float: left;
	margin-top: 9px;
}

#ft-local-time, #time {
	cursor: pointer;
}

.date[x-ht-date] {
	background: url("chrome://foxtrick/content/resources/img/tz-local.png") no-repeat right center;
	padding-right: 14px !important;
}

#ft-local-time {
	background: url("chrome://foxtrick/content/resources/img/tz-local.png") no-repeat right 0;
	padding-right: 14px !important;
}

#time {
	background: url("chrome://foxtrick/content/resources/img/tz-hattrick.png") no-repeat right 0;
	padding-right: 14px !important;
}

}