img.ft-percentImage-homegrown {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyality/loyality_homegrown.png") top left no-repeat;
	margin: 0 0 -3px;
	padding: 0;
}

img.ft-percentImage-loyality-100 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyality/loyality_1000.png") top left no-repeat;
	margin: 0 0 -3px;
	padding: 0;
}

img.ft-percentImage-loyality-875 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyality/loyality_875.png") top left no-repeat;
	margin: 0 0 -3px;
	padding: 0;
}

img.ft-percentImage-loyality-750 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyality/loyality_750.png") top left no-repeat;
	margin: 0 0 -3px;
	padding: 0;
}

img.ft-percentImage-loyality-625 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyality/loyality_625.png") top left no-repeat;
	margin: 0 0 -3px;
	padding: 0;
}

img.ft-percentImage-loyality-500 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyality/loyality_500.png") top left no-repeat;
	margin: 0 0 -3px;
	padding: 0;
}

img.ft-percentImage-loyality-375 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyality/loyality_375.png") top left no-repeat;
	margin: 0 0 -3px;
	padding: 0;
}

img.ft-percentImage-loyality-250 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyality/loyality_250.png") top left no-repeat;
	margin: 0 0 -3px;
	padding: 0;
}

img.ft-percentImage-loyality-125 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyality/loyality_125.png") top left no-repeat;
	margin: 0 0 -3px;
	padding: 0;
}