.ft-percentImage {
	margin: 0 0 -3px;
	padding: 0;
}

html[data-theme="standard"] img.ft-percentImage-loyalty-homegrown {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_homegrown.png") top left no-repeat;
}

html[data-theme="simple"] img.ft-percentImage-loyalty-homegrown {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_homegrown_simple.png") top left no-repeat;
}

html[data-theme="standard"] img.ft-percentImage-loyalty-1000 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_1000.png") top left no-repeat;
}

html[data-theme="simple"] img.ft-percentImage-loyalty-1000 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_1000_simple.png") top left no-repeat;
}

html[data-theme="standard"] img.ft-percentImage-loyalty-875 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_875.png") top left no-repeat;
}

html[data-theme="simple"] img.ft-percentImage-loyalty-875 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_875_simple.png") top left no-repeat;
}

html[data-theme="standard"] img.ft-percentImage-loyalty-750 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_750.png") top left no-repeat;
}

html[data-theme="simple"] img.ft-percentImage-loyalty-750 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_750_simple.png") top left no-repeat;
}

html[data-theme="standard"] img.ft-percentImage-loyalty-625 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_625.png") top left no-repeat
}

html[data-theme="simple"] img.ft-percentImage-loyalty-625 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_625_simple.png") top left no-repeat;
}

html[data-theme="standard"] img.ft-percentImage-loyalty-500 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_500.png") top left no-repeat;
}

html[data-theme="simple"] img.ft-percentImage-loyalty-500 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_500_simple.png") top left no-repeat;
}

html[data-theme="standard"] img.ft-percentImage-loyalty-375 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_375.png") top left no-repeat;
}

html[data-theme="simple"] img.ft-percentImage-loyalty-375 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_375_simple.png") top left no-repeat;
}

html[data-theme="standard"] img.ft-percentImage-loyalty-250 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_250.png") top left no-repeat;
}

html[data-theme="simple"] img.ft-percentImage-loyalty-250 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_250_simple.png") top left no-repeat;
}

html[data-theme="standard"] img.ft-percentImage-loyalty-125 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_125.png") top left no-repeat;
}

html[data-theme="simple"] img.ft-percentImage-loyalty-125 {
	background: #EEE url("chrome://foxtrick/content/resources/img/loyalty/loyalty_125_simple.png") top left no-repeat;
}
