@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

#ft-drop-down-menu, #ft-drop-down-menu ul {
    list-style-type:none;
    padding: 0 10px 0px;
    margin: 0 2px;
    min-width: 110px;
}

html[dir="ltr"] #ft-drop-down-menu > li {
    float:left;
}

html[dir="rtl"] #ft-drop-down-menu > li {
    float:right;
}

#ft-drop-down-menu li ul {
    display:none;
}
#ft-drop-down-menu li:hover ul {
    display:block;
}

html[data-theme="standard"] #ft-drop-down-menu > li > a {
	color: white !important;
	line-height: 35px;
	font-size: 1.2em;
	font-weight: 700;
	font-family: Tahoma;
	text-decoration: none;
	margin: 0 0 0 2px;
	padding: 0 15px;
	float: left;
}

html[data-theme="simple"] #ft-drop-down-menu > li > a {
	color: white;
	font-weight: 700 !important;
	text-decoration: none;
	height: 23px;
	line-height: 23px;
	text-align: center;
	margin: 0 6px 0 0;
	padding: 0 6px;
	float: left;
}

#ft-drop-down-menu > li > a:hover {
	background-color: #3E9C49;
}


.ft-drop-down-submenu > li:hover {
    background-color: #3E9C49;
}

html[data-theme="standard"] .ft-drop-down-submenu {
	position: absolute;
	z-index: 203;
	top: 35px;
	background-color: #277F31;
}

html[data-theme="simple"] .ft-drop-down-submenu {
	position: absolute;
	z-index: 203;
	top: 23px;
	background-color: #277F31;
}

.ft-drop-down-submenu a {
	color: white !important;
	line-height: 15px !important;
	font-weight: 200 !important;
	font-family: Tahoma;
	text-decoration: none;
	margin: 0 0 0 2px;
	padding: 0 4px;
	white-space: nowrap;
	display: block;
	height: 15px !important;
	float: none !important;
	text-align: left !important;
}

.ft-drop-down-submenu h3 {
	margin-top: 8px;
	margin-bottom: 5px;
	font-size: 1em;
	color: white !important;
	width: auto;
	border: 0;
	padding: 0;
}

/* Some fixes for varios z shit, no idea*/
#timeline {
	z-index: 0 !important;

} 

/*those icons in top right corner, settings thingy*/
.backIcon, .statsIcon, .alltidIcon, .bookmark, .forumSettings, .forumSearch, .forumSearch2, .forumStats, .backIcon2, .helpIcon {
	z-index: 0 !important;
}

/*match order page*/
ul.ui-tabs-nav, #loading {
	z-index: 2 !important;	
} 
#fieldOverlay {
	z-index: 201 !important;	
}

}
