#menu h3 {
	margin-top: 2px;
	margin-bottom: 1px;
	color: white;
}

#ft-drop-down-menu {
	margin: 0;
	padding: 0;
	position: absolute;
}
#ft-drop-down-menu hr {
	border: 0;
	height: 2px;
	border-style: none;
	margin-top: 1px;
	margin-bottom: 1px;
}
#ft-drop-down-menu li {
	position: relative;
	list-style-type: none;
}
#ft-drop-down-menu > li {
	display: inline-block;
}

.ft-drop-down-submenu {
	top: 35px;
	background-color: #277F31;
	width: 155px;
}
.ft-drop-down-submenu-2 {
	top: 0px;
	left: 155px;
	margin-top: -5px;
}
.ft-drop-down-submenu-2,
.ft-drop-down-submenu {
	position: absolute;
	z-index: 203;
	padding: 5px 5px 5px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.ft-drop-down-submenu a {
	margin: 0 !important;
	padding: 0 !important;
	font-weight: 200 !important;
	font-size: 1em !important;
	line-height: 1.3em !important;
	float: none !important;
	text-align: left !important; /* important for simple */
	height: 13px !important; /* important for simple */
	display: block;
	overflow: hidden;
	text-decoration: none;
	white-space: nowrap;
}

.ft-drop-down-submenu li span {
	position: absolute;
	top: 0px;
	right: 6px;
}

html[data-theme="simple"] .ft-drop-down-submenu {
	top: 23px;
}
html[data-theme="simple"] .ft-drop-down-submenu-2,
html[data-theme="simple"] .ft-drop-down-submenu {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

html[dir="rtl"] .ft-drop-down-submenu-2 {
	right: 155px;
	left: initial;
}
html[dir="rtl"] .ft-drop-down-submenu a {
	text-align: right !important; /* important for simple */
}
html[dir="rtl"] .ft-drop-down-submenu li span{
	left: 6px;
	right: initial;
}

#ft-drop-down-menu ul.ft-drop-down-submenu {
	display:none;
}

#ft-drop-down-menu li:hover ul.ft-drop-down-submenu {
	display:block;
}

#ft-drop-down-menu ul.ft-drop-down-submenu li .ft-drop-down-submenu-2 {
	display:none;
}

#ft-drop-down-menu ul.ft-drop-down-submenu li:hover .ft-drop-down-submenu-2 {
	display:block;
}


/*z fixes to ensure menu is overlay,
i have no idea what i am doing, but just setting those ridiculously high values to 0 or 2 does not cause any trouble at all */
#timeline, .copyicon, .backIcon, .statsIcon, .alltidIcon, .bookmark, .forumSettings, .forumSearch,
.forumSearch2, .forumStats, .backIcon2, .helpIcon, .ratingInnerBox .sectorShirt, div.sectorResult,
#divPlayers .playerRating, .goUp::after, .goRight::after, .goLeft::after, .goDown::after, .hfBubble {
	z-index: 0 !important;
}

ul.ui-tabs-nav, #loading {
	z-index: 2 !important;
}
#orders .position .player, #orders #field .player .shirt, .hf .arrow {
	z-index: 1 !important;
}
#orders .position .player.ui-draggable-dragging {
	z-index: 2 !important;
}
#tabs_lineups, #fieldOverlay {
	z-index: 3 !important;
}
.dimPattern{
	z-index: 3 !important;
}
#supporterHighlightBox {
	z-index: 4 !important;
}

html[data-theme="standard"] ul#ft-drop-down-menu > li > a {
	padding-right: 18px;
	padding-left: 12px;
}
html[data-theme="standard"][firefox] ul#ft-drop-down-menu > li > a {
	padding-right: 12px;
	padding-left: 8px;
}
