@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

.ft-mmdd-annoy {
	color: #ffa !important;
}

ul#ft-drop-down-menu li {
	position: relative;
}

ul#ft-drop-down-menu {
	margin: 0;
	padding: 0;
}

#ft-drop-down-menu hr {
	border: 0;
	height: 1px;
	color: white; /* to be removed later */
	border-style: none !important;
	margin-top: 1px;
	margin-bottom: 1px;
}

ul.ft-drop-down-submenu a {
	overflow: hidden;
}
ul.ft-drop-down-submenu {
	background-color: #277F31;
	width: 155px;
}
html[data-theme="standard"] .ft-drop-down-submenu a,
html[data-theme="simple"] .ft-drop-down-submenu a {
	margin: 0 !important;
	padding: 0 !important;
}
html[dir='rtl'] .ft-drop-down-submenu-2 {
	right: 155px;
	left: initial;
}
.ft-drop-down-submenu-2 {
	top: 0px !important;
	left: 155px;
	margin-top: -5px;
}
html[dir="rtl"] .ft-drop-down-submenu li span{
	left: 6px !important;
	right: initial;
}
.ft-drop-down-submenu li span {
	position: absolute;
	top: 0px;
	right: 6px;
	color: white; /* to be removed later */
}

#ft-drop-down-menu > li {
	display: inline-block;
	list-style-type: none !important;
}

html[data-theme="standard"] ul.ft-drop-down-submenu-2,
html[data-theme="standard"] ul.ft-drop-down-submenu {
	position: absolute;
	z-index: 203;
	top: 35px;
	padding: 5px 5px 5px !important;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

html[data-theme="simple"] ul.ft-drop-down-submenu-2,
html[data-theme="simple"] ul.ft-drop-down-submenu {
	position: absolute;
	z-index: 203;
	top: 23px;
	padding: 5px 5px 5px !important;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

html[dir="rtl"] ul.ft-drop-down-submenu a {
	text-align: right !important;
}

ul.ft-drop-down-submenu a {
	font-weight: 200 !important;
	font-size: 1em !important;
	line-height: 1.3em !important;
	float: none !important;
	display: block;
	text-decoration: none;
	white-space: nowrap;
	text-align: left !important;
	height: 13px !important;
	padding: 0 !important;
}


ul#ft-drop-down-menu ul.ft-drop-down-submenu {
	display:none;
}

ul#ft-drop-down-menu li:hover ul.ft-drop-down-submenu {
	display:block;
}

ul#ft-drop-down-menu ul.ft-drop-down-submenu li .ft-drop-down-submenu-2 {
	display:none;
}

ul#ft-drop-down-menu ul.ft-drop-down-submenu li:hover .ft-drop-down-submenu-2 {
	display:block;
}

#menu h3 {
	margin-top: 2px;
	margin-bottom: 1px;
	color: white;
}


/*z fixes to ensure menu is overlay,
i have no idea what i am doing, but just setting those ridiculously high values to 0 or 2 does not cause any trouble at all */
#timeline, .copyicon, .backIcon, .statsIcon, .alltidIcon, .bookmark, .forumSettings, .forumSearch,
.forumSearch2, .forumStats, .backIcon2, .helpIcon, .ratingInnerBox .sectorShirt, div.sectorResult,
#divPlayers .playerRating, .goUp::after, .goRight::after, .goLeft::after, .goDown::after, .hfBubble {
	z-index: 0 !important;
}

ul.ui-tabs-nav, #loading {
	z-index: 2 !important;
}
#orders .position .player, #orders #field .player .shirt, .hf .arrow {
	z-index: 1 !important;
}
#orders .position .player.ui-draggable-dragging {
	z-index: 2 !important;
}
#tabs_lineups, #fieldOverlay {
	z-index: 3 !important;
}
.dimPattern{
	z-index: 3 !important;
}
#supporterHighlightBox {
	z-index: 4 !important;
}

ul#ft-drop-down-menu > li > a {
	padding-right: 20px;
	padding-left: 15px;
}

ul#ft-drop-down-menu > li.ft-hasSubMenu::after {
    position: absolute;
    top: 17px;
    right: 6px;
    display: inline-block;
    border-right: 4px solid transparent;
    border-top: 4px solid white;
    border-left: 4px solid transparent;
    content: '';
  }

}
