/*retro skin by smates*/

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws) {

body
{
	font: normal 10px verdana, helvetica, arial, sans-serif !important;
	line-height: 1.3em !important;
	background-image: none !important;
	background-color: #ccc !important;
	margin: 0 !important;
	padding: 0 !important;
}


#hattrick, #hattrickNoSupporter
{
  margin: 0px auto 0px auto !important;
  width: 765px !important;


}

#hattrickNoSupporter
{
	width: 765px !important;
}
#page
{
	float: left !important;
	width: 765px !important;
	background-color: #fff !important;
	border: solid 1px #ddd !important;
	padding: 0 10px !important;
	padding-bottom: 30px !important;
}

#top
{
	display: none !important;
}

#ctl00_ctl00_CPContent_CPSidebar_UpdateProgress1{
display: none !important;
width: 2px !important;
height: 2px !important;
}

#header
{
	position: relative !important;
	height: 100px !important;
}

#teamLinks, #time, #online
{
	margin-top: 30px !important;
	margin-left: 5px !important;
}

#teamLinks
{
	float: left !important;
}

#shortcuts
{
	position: absolute !important;
	top: 10px !important;
	right: 0px !important;
}

#time, #online
{
	float: right !important;
}

#menu
{



	width: 100% !important;
	height: 16px !important;
	margin-top: 15px !important;
	background: none !important;
	background-image: url(http://u20.hattrick-cz.com/img/headerbar.gif) !important;
	position: absolute !important;
	bottom: 0 !important;
	left: 0 !important;
-moz-border-radius: 5px 5px 0 0 !important;
}

#menu a
{
	color: #fff !important;
	font-size: 10px !important;
	text-decoration: none !important;
	height: 16px !important;
	font-weight: bold !important;
	line-height: 16px !important;
	text-align: center !important;
	float: left !important;
	margin: 0 6px 0 0 !important;
	padding: 0 6px 0 6px !important;
background: none !important;
}

#menu a:hover
{

	background: none !important;
	text-decoration: underline !important;
}

#menu a.logout
{
	float: right !important;
}

#logo
{
	height: 35px !important;
	background: url(http://www.hattrick.org/App_themes/Simple/logo_green.png) top left no-repeat !important;

	width: 150px !important;
	display: block !important;
	position: relative !important;
	left: 12px !important;
	top: 18px !important;
}

#content
{
	padding-top: 10px !important;
}

#bottom
{
	display:none !important;
}
#footer
{
	text-align: center !important;
	width: 765px !important;
	clear:both !important;
}

#footer a
{
	line-height: 30px !important;
	padding-right: 10px !important;
	color: #000 !important;
}


a.skill
{
	text-decoration: none !important;
}
a.skill:hover
{
	text-decoration: underline !important;
}
.block
{
	display: block !important;
}

div.h1Crumbs
{
	color: #999 !important;
	margin: 3px 0 15px -8px !important;
}

div.h1Crumbs a
{
	color: #999 !important;
}

h1
{
	font-size:14px !important;
	line-height: 1.0em !important;
	color: #000 !important;
	margin: 20px 0 15px -8px !important;
}

h1 span
{
	color: #000 !important;

	font-size: 14px !important;
}


h1.hasByline
{
 font-size: 14px !important;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 5px !important;
}
div.byline
{
	color: #000 !important;
	margin: 6px 0 0 -8px !important;
	padding-bottom: 20px !important;
}

div.byline a
{
font: normal 10px verdana, helvetica, arial, sans-serif !important;
text-decoration: underline !important;
color: #267F30 !important;
}

div.byline a:hover
{

color: gray !important;
text-decoration: none !important;
}

h2
{
	border-bottom: solid 2px #fc0 !important;
	background-color: #fff !important;
	color: #377f31 !important;
	font: normal 11px verdana, helvetica, arial, sans-serif !important;
	font-weight: bold !important;
	padding: 1px !important;
}

h2.info
{
	margin-top: 15px !important;
	margin-bottom: 5px !important;
	color: #FFF !important;
	width: auto !important;
	border: 0 !important;
		font: normal 10px verdana, helvetica, arial, sans-serif !important;
}


/*  left menu */

h3
{
background: #005826 url(http://u20.hattrick-cz.com/CHPP/mainheader.gif) no-repeat !important;


  -moz-border-radius-topleft: 3px !important;
	-moz-border-radius-topright: 3px !important;

	margin-top: 10px !important;
	margin-bottom: 0px !important;
	margin-right:-10px !important;

	color: #FFF !important;
	padding-left: 3px !important;

	height: 15px !important;
	width: 118px !important;
	border: 0 !important;
	text-transform: uppercase !important;
	font-size: 10px !important;
}
.subMenu h3
{
	margin-left: 0px !important;
	margin-top:10px !important;
	font: bold 10px verdana, helvetica, arial, sans-serif !important;
}

/* ------------------
		subMenu
   ------------------  */
.subMenu
{
	width: 125px !important;
	margin-right: 10px !important;
	float: left !important;
}

.subMenu .boxBody
{
	background: #eee !important;
}
.subMenuConf
{
	float: left !important;
	margin: 0 11px 0 0 !important;
	width: 225px !important;
}

.subMenuBox li
{
	color: #000 !important;
	list-style-position: outside !important;
	list-style-type: none !important;
	font-size: 10px !important;
	margin-bottom: 0px !important;
	margin-left: 5px !important;
}
.subMenuBox ul
{


	  width:118px !important;
    margin-bottom: 10px !important;
    padding: 3px 0 5px 0 !important;

    border: solid 1px #666 !important;
    position:relative !important;

}
.subMenuBox h1
{
	color: #277f31 !important;
	font-size: 10px !important;
		font-weight: bold !important;
	margin: 0 !important;
	padding: 7px 5px 2px !important;
}





.subMenuBox .boxBody
{
	padding: 0 !important;
}

.subMenuBox a:hover
{
	text-decoration: underline !important;
}

/* ------------------
		main
   ------------------  */

.main .boxBody
{
	padding: 0 0 0 10px !important;
}
.mainWide
{
	position: relative !important;
	width: 630px !important;
	margin-right: 0 !important;
	float: left !important;
}

.mainFull
{
	width: 765px !important;
	margin-right: 0 !important;
}

.mainConf
{
	width: 529px !important;
	margin-right: 0 !important;
	padding-right: 0px !important;
}

.mainRegular
{
	position: relative !important;
	width: 440px !important;
	margin: 0 10px 0 0 !important;


	float: left !important;
}

.mainRegular, .mainConf, .mainFull, .mainWide
{
	float: left !important;
	position: relative !important;
}


.subMenuBox, .sidebarBox
{
	margin-bottom: 12px !important;
}

.inner, .sidebarBox a.inner, #sidebar td a
{
	display: inline !important;
}

.sidebarBox a
{
	display: block !important;
	padding-bottom: 5px !important;
}

.sidebarBox a:hover
{
	text-decoration: none !important;
	color: #849d84 !important;
}

.main .boxHead h2
{ background: url(http://u20.hattrick-cz.com/CHPP/mainheader.gif) no-repeat !important;
	background-color: #FFF !important;
	color: #fff !important;
	font-size: 10px !important;
	border: none !important;
	margin: -1px 0 0 0 !important;
	height: 16px !important;
   padding-top: 1px !important;
  padding-left: 3px !important;
   -moz-border-radius-topleft: 3px !important;
	-moz-border-radius-topright: 3px !important;

}

.subMenuBox h2{
/*background: url(http://u20.hattrick-cz.com/CHPP/mainheader.gif) no-repeat !important;*/
	background-color: #FFF !important;
	color: #267F30 !important;
	font-size: 10px !important;
	clear: both !important;
	font-weight: bold !important;
	border: none !important;
	margin: 0 0 10px !important;
	padding: 0px 10px 0 0px !important;
	margin-left: 5px !important;
	/*height: 16px !important;*/
}
.sidebarBox h2
{
  background: url(http://u20.hattrick-cz.com/CHPP/h3.gif) no-repeat !important;
	background-color: #CCC !important;
	color: #1D5123 !important;
	font-size: 10px !important;
	border: none !important;
	margin: 0 0 10px !important;
	padding: 2px 10px 0 10px !important;
	height: 16px !important;
	text-transform:uppercase !important;
}
.main .mainBox h2
{
	border-bottom: solid 2px #fc0 !important;
	background-color: #fff !important;
	color: #377f31 !important;
	font-size: 11px !important;
	font-weight: bold !important;
	padding: 1px !important;




}

.main .mainBox
{
	margin-top: 20px !important;
}

/* ------------------
		sideBar
   ------------------  */
#sidebar
{
	width: 180px !important;
	float: left !important;
}

#sidebar select
{
	width: 80px !important;
}

#sidebar select.wide
{
	width: 100% !important;
}

#sidebar ul li
{
	color: #000 !important;
	list-style-position: outside !important;
	list-style-type: none !important;
	font-size: 10px !important;
	padding-bottom: 3px !important;
}

#sidebar h1
{

	color: #898989 !important;
	font-size: 10px !important;
	margin: 12px 0 4px !important;
}

/* ------------------
		TABLE
   ------------------  */
table
{
	border-collapse: collapse !important;
}

table td.top
{
	vertical-align: top !important;
}

table td, .main table th
{
	text-align: left !important;
	vertical-align: middle !important;
	margin: 0 !important;
	padding: 2px 10px 2px 0 !important;
}

#sidebar table td
{
	padding: 1px 0 1px 6px !important;
}

#sidebar table td:first-child
{
	padding-left: 0 !important;
}

.main table th
{
	font-weight: 700 !important;
	color: #222 !important;
	background-color: #edf1ed !important;
	border-bottom: solid 2px #dce0dc !important;
}

.main table.spacy td, #main table.spacy th
{
	padding: 4px 15px 4px 0 !important;
}

.main table.indent td, #main table.indent th
{
	padding: 2px 5px !important;
}

.main table, #sidebar table, .subMenuBox table
{
	width: 100% !important;
}

.main table.thin
{
	width: auto !important;
}

.main table.left
{
	float: left !important;
	width: 48% !important;
	margin-right: 0px !important;
}

.main table.right
{
	float: right !important;
	width: 48% !important;
	margin-right: 0 !important;
}

table tr.topBorder td
{
	border-top: solid 1px #dce0dc !important;
}

table tr.bottomBorder td
{
	border-bottom: solid 1px #dce0dc !important;
}

.main .floatLeft
{
	float: left !important;
	width: 48% !important;
	margin-right: 15px !important;
}

.main .floatRight
{
	float: right !important;
	width: 48% !important;
	margin-right: 0 !important;
}

table tr.odd
{
	border-top: solid 1px #ddd !important;
}

table tr.even
{
	border-top: solid 1px #ddd !important;
}

table.form td, th
{
	padding-bottom: 5px !important;
	width: auto !important;
}


/* ------------------
   FaceCards
------------------ */
.faceCard
{
	width: 110px !important;
	height: 155px !important;
	float: left !important;
	margin-top: 5px !important;
	margin-right: 5px !important;
	margin-left: 0 !important;
	position: relative !important;
}

.faceCard img
{
	position: absolute !important;
}

.faceEdit
{
	float: left !important;
}

.faceMenu
{
}

.faceCategories
{
	width: 300px !important;
	float: left !important;
}

#sidebar .faceCard
{
	margin-left: 25px !important;
}

#sidebar .boxFace, #sidebar .boxLogo
{
	text-align: center !important;
}

/* ------------------
		MISC
   ------------------  */
.left
{
	text-align: left !important;
}

.center
{
	text-align: center !important;
}

.right
{
	text-align: right !important;
}

.date
{
	color: #666 !important;
	padding-right: 8px !important;
	font-weight: 400 !important;
}
.shy
{
	color: #666 !important;
}

div.quote
{
	font-style: italic !important;
	font-size: 0.9em !important;
	padding-bottom: 10px !important;
}

div.newsItem
{
	margin: 0 0 20px 0 !important;
	padding: 0 !important;
}

h3.feed
{
	background: none !important;

	border-bottom: solid 2px #fc0 !important;
	background-color: #fff !important;
	color: #377f31 !important;
	font-weight: bold !important;
	padding: 1px !important;
	font-size: 10px !important;

}
div.feedItem
{
	padding: 5px !important;
}
.user, .national
{
	background-color: #FFF !important;
	margin-top: 10px !important;
}
.gb
{
	width: 600px !important;
	overflow: hidden !important;
}
.gbPreviewMsg
{
	width: 430px !important;
	overflow: hidden !important;
}
.forum
{
	background-color: #DCDCE2 !important;
	margin-top: 10px !important;
}

a.author
{
	display: block !important;
	font-size: 0.9em !important;
	padding: 5px 0 !important;
}


.separator, .borderSeparator
{
	font-size: 0 !important;
	line-height: 0 !important;
	height: 20px !important;
	clear: both !important;
	/*border-bottom: 1px solid #000 !important;*/
	margin: 0 !important;
	/*margin-bottom: 5px !important;*/
	padding: 0 !important;
}

p.borderSeparator
{
	border-bottom: solid 1px #eee !important;
}

.nowrap
{
	white-space: nowrap !important;
}

img
{
	border: 0 !important;
}

div.arenaInfo
{
	clear: both !important;
}

div.playerInfo
{
	float: left !important;
	width: 70% !important;
}

div.playerInfo p
{
	margin: 5px 0 8px !important;
	padding: 0 !important;
}

div.teamInfo
{
	width: 45% !important;
}

br.clear, div.clear
{
	clear: both !important;
	height: 1px !important;
}

.bookmark
{
	position: absolute !important;
	top: 6px !important;
	right: 6px !important;
	padding: 0 !important;
}

.alltidIcon
{
	position: absolute !important;
	top: 6px !important;
	right: 43px !important;
	padding: 0 !important;
}

.actionLinkDisabled
{
	text-decoration: none !important;
	color: Gray !important;
}

/* ------------------
   Progressbar
------------------ */
img.percentImage
{
	background: #eee url(http://www.hattrick.org/App_Themes/Simple/progressBar/b3.png) top left no-repeat !important;
	margin: 0 0 -3px !important;
	padding: 0 !important;
}

.progressLink
{
	margin-left: 20px !important;
}

.possesionbar
{
	height: 12px !important;
	width: 107px !important;
	float: left !important;
	background-image: url(chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Icons/possesionbar.gif.gif) !important;
	background-repeat: no-repeat !important;
	margin: 2px 3px 5px !important;
}

.sidebarBox a.footer
{
	display: block !important;
	width: 100% !important;
	text-align: right !important;
	color: gray !important;
	font-size: 0.9em !important;
}

.minus
{
	color: Red !important;
}

.subMenuBox ul, #sidebar ul, input
{
	margin: 0 !important;
	padding: 0 !important;
}

.subMenuBox input.text
{
	width: 86% !important;
}

p.strong, span.strong, .sidebarBox a.supporter, table td.ch /* cell heading */, .won, .lost, .draw
{
	font-weight: 700 !important;
}

.boxBody h2
{
	background-color: #FFF !important;
	color: #377f31 !important;
	font-size:11px !important;
	font-weight: bold !important;
	margin: 12px 0 4px !important;
}
.subMenuBox h2
{
	background-color: #fff !important;
	color: #FFF !important;
	font-size:0px !important;
	margin: -35px 0 4px !important;
	padding-bottom: 10px !important;

	display: block !important;

}
#sidebar table
{
	margin-bottom: 5px !important;
}
.float_right
{
	float: right !important;
}
.float_left
{
	float: left !important;
}

/* ------------------
      Highlights
   --------------- */
.won, .positive
{
	color: #000 !important;
}

.draw
{
	color: #DDD !important;
}

.lost, .negative, .red
{
	color: gray !important;
}

.error, .ok, .alert
{
	background-color: #f3e4e4 !important;
	border: solid 1px #fc0 !important;
	margin: 10px 0 !important;
	padding: 7px 10px !important;
}

.error
{
	border: solid 1px #a00 !important;
}

.ok
{
	border: solid 1px #a5d18a !important;
	background-color: #e7fbdb !important;
}

.alert
{
	border: solid 1px orange !important;
	background-color: #fcf6df !important;
}

.isOnline
{
	color: #3f7137 !important;
	margin-left: 10px !important;
	font-weight: 700 !important;
}

.highlight
{
	font-weight: 700 !important;
	color: Orange !important;
}
a.higlight
{
	font-weight:400 !important;
	color: Orange !important;
}

.smallText, .paging
{
	font-size: 10px !important;
}
input, textarea{
font: normal 10px verdana, helvetica, arial, sans-serif !important;
text-decoration: none !important;
}
select{
font: normal 11px verdana, helvetica, arial, sans-serif !important;
color: #000000 !important;
text-decoration: none !important;
}
#ticker
{
	position: absolute !important;
	top: 10px !important;
	left: 230px !important;
}

#ticker div
{
	/*background-image: url(http://u20.hattrick-cz.com/CHPP/images/star_WhiteBG2.gif) !important;*/
	background-image: url("chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Icons/star10x8.gif.gif") !important;
	background-repeat: no-repeat !important;
	padding-left: 11px !important;
	padding-bottom: 3px !important;
	margin: 0 !important;
}

#ticker div a
{
	padding-bottom: 2px !important;
	color: #000 !important;
	text-decoration: none !important;
	line-height: 1.1em !important;
}
#ticker div a:hover
{
	padding-bottom: 2px !important;
	color: #000 !important;
	text-decoration: underline !important;
	line-height: 1.1em !important;
}
.notebook
{
	width: 400px !important;
	height: 200px !important;
}

.ownerNotes textarea
{
	width: 148px !important;
	height: 148px !important;
}

a, #subMenuWrapper.Forum a
{
	color: #3f7137 !important;
}
a:hover
{
color:#7bb381 !important;
text-decoration:underline !important;
}
.subMenuBox a, .subMenuBox a, .sidebarBox a.active
{
	text-decoration: none !important;
	color: #000 !important;
}

#crumbs a, .main h2 a
{
	text-decoration: none !important;
	color: #fff !important;
}

/* page specific */
.kitDesigner
{
	padding-top: 10px !important;
}
.teamLogo
{
	float: right !important;
	margin-right: 5px !important;
	width: 210px !important;
	overflow: hidden !important;
}

.teamNoLogo
{
	display: none !important;
}

.ntKitRow .ntKitIcon{
text-align: center !important;
margin: 5px !important;
width: 70px !important;
border: 1px solid #ccc !important;
float: left !important;
padding: 5px 0 5px 0 !important;
}

.ntKitRow img{
vertical-align: middle !important;
}

.ntKitRow{
height: 120px !important;
clear: both !important;
}
/* Forum */

div.forumprogress
{
    position: absolute !important;
    margin: 0px !important;
    width: 203px !important;

}

#cfPoll
{
	margin-bottom: 10px;
}

div.cfPollStanding
{
	background: #cc9999 !important;
	color: #ffffff !important;
	text-align: right !important;
	padding: 3px;
}

tr.emptyPollOption div.cfPollStanding
{
	background: #ffffff !important;
	color: #666666 !important;
	text-align: left !important;
}

tr.topPollOption div.cfPollStanding
{
	background: #ff0000 !important;
}

#cfModFunctions
{
	margin-top: 10px !important;
	padding: 10px !important;
	background: #ebeeeb !important;
}

.pollSummary
{
	border-top: 2px solid #DCE0DC !important;
}

textarea.large
{
	width: 400px !important;
	height: 200px !important;
}

textarea.medium
{
	width: 400px !important;
	height: 100px !important;
}

.folderItem td.url div
{
    width: 130px !important;
    overflow: hidden !important;
}

.folderItem div.ignore
{
	cursor: pointer !important;
	width: 10px !important;
	height: 10px !important;
	background: url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/low_prio.gif.gif') no-repeat!important;
}

.folderItem div.ignore:hover
{
	background: url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/low_prio.gif.gif') !important;
}

.folderItem div.unignore
{
	cursor: pointer !important;
	width: 10px !important;
	height: 10px !important;
	background: url('http://www.hattrick.org/App_Themes/Img/Icons/tick_small.png') !important;
}

.folderItem div.unignore:hover
{
	background: url('http://www.hattrick.org/App_Themes/Img/Icons/tickGreen_small.png') !important;
}

.forumTabs a.new, .forumTabs a.all, .forumTabs a.shortcuts
{
	padding: 2px 5px !important;
}

.forumTabs a.active
{
	background-color: #ddd !important;
}

.forumTabs
{
	border-bottom: 1px solid #ddd !important;
	margin: 5px 0 5px 0 !important;
}

.subMenuBox .forumTabs a, .subMenuBox .forumTabs a:hover
{
	font-weight: bold !important;
	text-decoration: none !important;
}

.subMenuBox div.nothreads
{
	padding: 2px 0px 5px 15px !important;
}

.folderHeader div.markAsRead
{
	cursor: pointer !important;
	width: 12px !important;
	height: 16px !important;
	background: url('http://www.hattrick.org/App_Themes/Simple/images/tickers/tick2.png') 50% no-repeat !important;
}

.subMenuBox div.footer
{
	padding: 5px 0 0 15px !important;
	margin: 0 0 10px 0 !important;
	color: #666 !important;
}

.subMenuBox div.footer a
{
	text-decoration: none !important;
	padding: 0 !important;
	display: block !important;
}

.subMenuBox div.footer a.strong
{
	font-weight: 700 !important;
}

.subMenuBox div.footer a:hover
{
	text-decoration: underline !important;
}

.quickViewBox
{
	width: 80px !important;
}

.subMenuBox div.footer
{
	padding: 5px 0 0 15px !important;
	margin: 0 0 10px 0 !important;
}

.subMenuBox div.footer a
{
	text-decoration: none !important;
	padding: 0 !important;
	display: block !important;
}

.threadMenu
{
	height: 20px !important;
}

.viewInactive
{
	color: #ccc;
}

.viewActive
{
	color: #000 !important;
}

.bookmarkSmall img
{
	width: 17px !important;
	height: 18px !important;
}

.cfWrapper .bookmarkSmall img
{
	width: 11px !important;
	height: 12px !important;
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/bookmark.gif.gif') no-repeat !important;
}
/* End of addition */

.folderHeader
{
	background-color: #ddd !important;
	border-top: solid 1px #aaa !important;
	border-bottom: solid 1px #aaa !important;
	margin: 2px 0 0 0 !important;
	padding: 0 4px 1px 4px !important;
}
.expand
{
	display: none !important;
}

.url
{
	padding: 0 4px !important;
}

table.folderList td
{
	padding: 1px 2px !important;
}
table.folderList tr:hover
{
	background-color: #eee !important;
}
table.folderList td.mark
{
	background-color: #fff !important;
	border-bottom: solid 1px #fff !important;
	padding: 1px !important;
}

.refresh
{
	margin-bottom: -2px !important;
}

.info
{
	color: #999 !important;
}



#bugReport
{
	display: none !important;
}


.cfWrapper
{
	border: solid 1px #267F30 !important;
	margin: 0 0 10px 0 !important;
}

.cfWrapper a
{
	text-decoration: none !important;
}
.cfWrapper a:hover
{
	text-decoration: underline !important;
}

.cfHeader
{
	background: #267F30 !important;
	padding: 2px 10px !important;
	color: #ffffff !important;
	height:15px !important;
}

.cfHeader a
{
	color: #ffffff !important;
	font-weight: bold !important;
}

.cfUser
{
	width: 120px !important;
	margin: 0 !important;
	padding: 10px 0px 10px 0px !important;
	float: right !important;
}

.cfUserInfo
{
	clear: both !important;
	overflow: hidden !important;
	margin-right: 10px !important;
	text-align: center !important;
}

.cfUserInfo img
{
	vertical-align: middle !important;
}

.cfMessagePreview, .cfMessage
{
	/*word-wrap: break-word !important;*/
	overflow: auto !important;
	padding: 15px 10px 10px 10px !important;
}

.cfMessage
{
	float: left !important;
	width: 70% !important;
}

.cfMessageNoAvatar
{
	padding: 15px 10px 10px 10px !important;
}

.cfFooter, .cfDeleted, .cfIgnored, .cfBookmarked
{
	clear: both !important;
	padding: 2px 10px !important;
	background: #FFF !important;
	overflow: auto !important;
	height:15px !important;
}

.cfBookmarked
{
	background: #FEFBC8 !important;
}

.cfDim
{
	background: #ebeeeb !important;
}

.cfFooter .float_left a
{
	margin-right: 5px !important;
}

.cfFooter .float_right a
{
	margin-left: 5px !important;

}

.cfDeleted
{
	height: auto !important;
	background: #ffcccc !important;
}


.cfWrapper div.message
{
	/*word-wrap: break-word !important;*/
	overflow: auto !important;
	margin: 0 0 10px 0 !important;
}

.cfWrapper div.responseMessage
{
	border: 1px solid #cccccc !important;
	padding: 10px !important;
}

.cfWrapper div.signature
{
	/*word-wrap: break-word !important;*/
	overflow: auto !important;
	border-top: 1px solid #cccccc !important;
	padding: 5px 0 !important;
	color: #999 !important;
}

.cfWrapper div.signature-trunc
{
   /* word-wrap: break-word !important;*/
    overflow: hidden !important;
	border-top: 1px solid #cccccc !important;
	padding: 5px 0 !important;
	color: #999 !important;
	height: 1em !important;
}

.cfWrapper div.signature-expand
{
    float: right !important;
}

.cfWrapper div.signature a, div.signature-trunc a, div.signature-expand a
{
	color: #999 !important;
	text-decoration: underline !important;
}

.cfUser
{
	display: block !important;
}

/* ------------------
   Adverisment
------------------ */
.ad_skyscraper
{       max-width: 500px !important;
        position: absolute !important;
        top: 10px !important;
        left: 5px !important;
	float: left !important;
	z-index: 1 !important;
	margin: 0 0 0 10px !important;
}

.ad_bottom
{       display: block !important;
        margin-top: 10px !important;

}

.ad_top
{
        position: fixed !important;
        left: auto !important;
        z-index: -2 !important;
	margin: 0 0 10px 0 !important;
}


/* Shortcut Icons */

#shortcuts img
{
	width: 17px !important;
	height: 18px !important;
	margin: 2px !important;
}

#shortcuts a
{
	text-decoration: none !important;
}

img.scLive
{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Icons/live.gif.gif') no-repeat !important;
}
img.scTransfer
{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Icons/dollar.gif.gif') no-repeat !important;
}
img.scMail
{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Icons/mapp.gif.gif') no-repeat !important;
}
img.scNewMail
{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Icons/mappopen.gif.gif') no-repeat !important;
}
img.scNotes
{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Icons/notes.gif.gif') no-repeat !important;
}
img.scSearch
{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Icons/search.gif.gif') no-repeat !important;
}
img.scMySupporters
{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Matches/star_replaced.gif.gif') no-repeat !important;
}
img.scReminders
{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Icons/reminder.gif.gif') no-repeat !important;
}
img.scBookmarks
{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Icons/bookmarks.gif.gif') no-repeat !important;
}


/* Bookmark and Alltid Icons */

.alltidIcon, .bookmark
{
	position: absolute !important;
	top: 0px !important;
	padding: 0 !important;
	z-index: 99 !important;
}

.alltidIcon
{
	right: 31px !important;
}

.bookmark
{
	right: 6px !important;
}

/*.bookmarkSmall img
{
	width: 17px !important;
	height: 18px !important;
}*/

.cfWrapper .bookmarkSmall img
{
	width: 6px !important;
	height: 12px !important;
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Icons/bookmarksmall.gif.gif') no-repeat !important;
}

.bookmark img, .alltidIcon img
{
	width: 21px !important;
	height: 22px !important;
}

.bookmark img
{
	background: transparent url('http://u20.hattrick-cz.com/CHPP/images/bookmark.gif') no-repeat !important;
}

.alltidIcon img
{
	background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Icons/alltid.png') no-repeat !important;
}

.bookmarkSmall img
{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Icons/bookmarksmall.gif.gif') no-repeat !important;

width: 6px !important;
height: 12px !important;
}

/* 18px icons */

input.bmRemove,
input.bmNotes,
input.bmNotesEmpty,
img.bmPhone,
img.bmPhoneDisabled,
img.matchHTLive,
img.matchFriendly,
img.matchLeague,
img.matchCup,
img.matchQualification,
img.matchMasters,
img.matchOrder,
img.matchOrderSet,
img.matchOrderSetDisabled,
img.matchOrderWrite,
img.matchOrderWriteDisabled{
width: 18px !important;
height: 18px !important;
}
/*http://u20.hattrick-cz.com/CHPP/images/live.gif*/
input.bmNotes{background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Icons/notes.gif.gif') no-repeat !important;}
input.bmNotesEmpty{background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Icons/bm_notes_empty.png') no-repeat !important;}
input.bmRemove{background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Icons/bm_trash.png') no-repeat !important;}
img.bmPhoneDisabled{background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Icons/bm_phone_disabled.png') no-repeat !important;}
img.bmPhone{background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Icons/bm_phone.png') no-repeat !important;}
img.matchHTLive{background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Icons/live.gif.gif') no-repeat !important;}
img.matchFriendly{background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Matches/friendly.png') no-repeat !important;}
img.matchLeague{background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Matches/league.png') no-repeat !important;}
img.matchCup{background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Matches/cup.png') no-repeat !important;}
img.matchQualification{background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Matches/qualification.png') no-repeat !important;}
img.matchMasters{background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Matches/masters.png') no-repeat !important;}
img.matchOrder{background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Matches/matchorder.png') no-repeat !important;}
img.matchOrderSet{background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Matches/matchorder_set.png') no-repeat !important;}
img.matchOrderSetDisabled{background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Matches/matchorder_set_disabled.png') no-repeat !important;}
img.matchOrderWrite{background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Matches/matchorder_write.png') no-repeat !important;}
img.matchOrderWriteDisabled{background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Matches/matchorder_write_disabled.png') no-repeat !important;}


/* Formatting icons */

img.f_quote1,
img.f_quote2,
img.f_bold,
img.f_italic,
img.f_ul,
img.f_hr,
img.f_player,
img.f_team,
img.f_match,
img.f_fed,
img.f_message,
img.f_series,
img.f_www{
	width: 23px !important;
	height: 22px !important;
	margin: 3px !important;
}

img.f_quote1:hover,
img.f_quote2:hover,
img.f_bold:hover,
img.f_italic:hover,
img.f_ul:hover,
img.f_hr:hover,
img.f_player:hover,
img.f_team:hover,
img.f_match:hover,
img.f_fed:hover,
img.f_message:hover,
img.f_series:hover,
img.f_www:hover{
	cursor: pointer !important;
}

img.f_quote1{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/new_quote.gif.gif') no-repeat !important;
}
img.f_quote2{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/new_quote2.gif.gif') no-repeat !important;
}
img.f_bold{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/new_bold.gif.gif') no-repeat !important;
}
img.f_italic{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/new_italic.gif.gif') no-repeat !important;
}
img.f_ul{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/new_underline.gif.gif') no-repeat !important;
}
img.f_hr{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/new_hr.gif.gif') no-repeat !important;
}
img.f_player{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/new_player.gif.gif') no-repeat !important;
}
img.f_team{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/new_team.gif.gif') no-repeat !important;
}
img.f_match{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/new_match.gif.gif') no-repeat !important;
}
img.f_fed{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/new_fed.gif.gif') no-repeat !important;
}
img.f_message{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/new_messagelink.gif.gif') no-repeat !important;
}
img.f_series{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/new_serie.gif.gif') no-repeat !important;
}
img.f_www{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/new_extermal.gif.gif') no-repeat !important;
}

span.unclosedtag
{
    color: Red !important;
}

/* FLAGS */

div.flagCount
{
	clear: both !important;
	font-weight: bold !important;
	padding-top: 10px !important;
}

a.flag img
{
	width: 20px !important;
	height: 12px !important;
	margin: 0 !important;
	border: #ddc 1px solid !important;
	margin: 0 2px 2px 0 !important;
	vertical-align: middle !important;
}

a.flag
{
	margin: 0 !important;
	padding: 0 !important;
}


/* --------------
       Paging
  -------------- */

.threadPagingLeft a, .threadPagingRight a
{
	text-decoration: none !important;
}

img.next, input.next, input.nextSeries, input.prevSeries, input.prev, img.prev, img.last, img.first
{
	width: 23px !important;
	height: 18px !important;
}

input.downSeries, input.upSeries, img.confRight, img.confDown
{
	width: 12px !important;
	height: 12px !important;
}

img.confDown, img.confRight
{
	margin-right: 2px !important;
}

input.downSeries
{
	background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Browse/down_s.png') no-repeat !important;
}

input.upSeries
{
	background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Browse/up_s.png') no-repeat !important;
}

img.confDown
{
	background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Browse/conf_down.png') no-repeat !important;
}

img.confRight
{
	background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Browse/conf_right.png') no-repeat !important;
}

img.next, input.next, input.nextSeries
{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/next.gif.gif') no-repeat !important;
}

img.last
{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/last.gif.gif') no-repeat !important;
}

img.prev, input.prev, input.prevSeries
{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/previous.gif.gif') no-repeat !important;
}

img.first
{
	background: transparent url('chrome://foxtrick/content/resources/img/foxtrick_skin/HT-Images/Conf/first.gif.gif') no-repeat !important;
}

img.disabled.next
{
	background: transparent url('') no-repeat !important;
}

img.disabled.last
{
	background: transparent url('') no-repeat !important;
}

img.disabled.prev
{
	background: transparent url('') no-repeat !important;
}

img.disabled.first
{
	background: transparent url('') no-repeat !important;
}

.threadPagingCenter
{
	line-height: 28px !important;
	text-align: center !important;
	padding: 0 !important;
}

.threadPagingLeft
{
	text-align: left;
	padding: 0 !important;
}

.threadPagingRight
{
	text-align: right !important;
	padding: 0 !important;
}

/* Ads */


.ad
{
	margin-top: 5px !important;
	border: 1px solid #849d84 !important;
	margin-bottom: 5px !important;
}

.adHeader
{
	background-color: #849d84 !important;
	padding: 5px !important;
	color: #fff !important;
}

.adHeader a, .listHeader span
{
	color: #fff !important;
}

.adHeader .date
{
	color: #fff !important;
	float: right !important;
}

.adBody
{
	width: 610px !important;
	overflow: auto !important;
	padding: 10px !important;
}

.adFooter
{
	background-color: #dce2dc !important;
	text-align: right !important;
	height: 15px !important;
	padding: 5px !important;
}

.adFooter a
{
	margin-right: 5px !important;
}

ul.aboutSupporter
{
	margin: 0 !important;
	padding: 0 !important;
}

ul.aboutSupporter li
{
	background: url('http://www.hattrick.org/App_Themes/Simple/images/Icons/micro_star.gif') no-repeat 0 2px !important;
	padding: 0 0 0 15px !important;
	list-style-type: none !important;
}

/* parser */

span.quote
{
	display: block !important;
	border-top: 1px solid #cccccc !important;
	border-bottom: 1px solid #cccccc !important;
	background: #ebeeeb !important;
	font-style: italic !important;
	padding: 10px 10px 10px 10px !important;
	margin: 0 !important;
}

span.quote span.quote
{
	background: #d4d8d6 !important;
	border: 0 !important;
}
span.quote span.quote span.quote
{
	background: #c1c5c4 !important;
	border: 0 !important;
}
span.quote span.quote span.quote span.quote
{
	background: #aeb2b1 !important;
	border: 0 !important;
}
span.quote span.quote span.quote span.quote span.quote
{
	background: #9b9f9f !important;
	border: 0 !important;
}
span.quote span.quote span.quote span.quote span.quote span.quote
{
	background: #888c8c !important;
	border: 0 !important;
}
span.quote span.quote span.quote span.quote span.quote span.quote span.quote
{
	background: #767a7a !important;
	border: 0 !important;
}

/* --------------
       Partners
  -------------- */

#menu a.interia
{
    float: right !important;
    padding: 0 !important;
    margin-right:-4px !important;
}

img.interia
{
	height:23px !important;
	width:70px !important;
	background: transparent url('http://www.hattrick.org/App_Themes/Simple/images/Partners/interia.png') no-repeat scroll 0 0 !important;
}


/*GRIDS*/


/* ------------------
   nakedGrid
------------------ */
div.RadGrid_nakedGrid{
margin-left: 8px !important;
}

table.MasterTable_nakedGrid{
margin-left: -8px !important;
}

table.MasterTable_nakedGrid h2{
margin-left: 0 !important;
}

table.MasterTable_nakedGrid td.indent span{
margin-left: 8px !important;
}

table.MasterTable_nakedGrid tr.GroupHeader_nakedGrid h2{
margin-top: 0 !important;
}

table.MasterTable_nakedGrid tr.GroupHeader_nakedGrid p{
	font-size:1.2em !important;
	color: #683 !important;
	/*color:#277f31 !important;*/
	width:auto !important;
	margin:15px 0 10px -8px !important;
	border-bottom: 1px solid #ccc !important;
	font-weight:700 !important;
}

/* ------------------
   nakedPG
------------------ */
div.RadGrid_nakedPG{
margin-left: 8px !important;
}

table.MasterTable_nakedPG{
margin-left: -8px !important;
}

table.MasterTable_nakedPG h2{
margin-left: 0 !important;
}

table.MasterTable_nakedPG td.indent span{
margin-left: 8px !important;
}

table.MasterTable_nakedPG tr.GroupHeader_nakedPG h2{
margin-top: 0 !important;
}

table.MasterTable_nakedPG tr.GroupHeader_nakedPG p{
display: none !important;
font-size: 0px !important;
}

/* Paging in forum folders */

div.ForumPager
{
    float: right !important;
    margin-top:1px !important;
}


/* ------------------
   Paging
------------------ */
.GridPager_Default .PagerLeft_Default a, .GridPager_Default .PagerLeft_Default span {
border:solid 1px #ddd !important;
margin-right:2px !important;
text-decoration:none !important;
background-color:#edf1ed !important;
padding:2px !important;
line-height: 40px !important;
}
.GridPager_Default  .PagerLeft_Default input
 {
 	margin: 2px 2px 2px 2px !important;
}

.GridPager_Default .PagerLeft_Default span{font-weight: bold !important;}

.GridPager_Default{
vertical-align: top !important;
}

input.rgPagePrev{
width: 10px !important;
border: none !important;
background: url('Grid/PagingPrev.png') 60% 50% no-repeat !important;
}

input.rgPageNext{
width: 10px !important;
border: none !important;
background-color:transparent !important;
background: url('Grid/PagingNext.png') 60% 50% no-repeat !important;
}

.paging .next{
border:none !important;
text-decoration:underline !important;
}

.paging .more{
margin-right:4px !important;
text-decoration:none !important;
color:#ddd !important;
}





/* ------------------
   basicGrid
------------------ */


table.MasterTable_Default tr.GroupHeader_Default td{
border-top: 3px solid #fff !important;
border-bottom: 3px solid #fff !important;
background-color: #cde1dd !important;
color:#330 !important;
font-weight:bold !important;
padding: 0 0 2px 2px !important;
}

table.MasterTable_Default tr.GroupHeader_Default p{
margin:0 !important;
}

/*---------others-----------*/

.float_left h3{
background: none !important;
color: #000 !important;
}

/*---------pre format-----------*/

pre{
font-size:13px!important;
line-height:13px;
padding:0px;
margin:0px;
}

}