.ft-mark-all-as-read  {
	background: url("chrome://foxtrick/content/resources/img/tick2.png") no-repeat scroll 50% 50% transparent;
	cursor: pointer;
	height: 16px;
	width: 12px;
	display: inline;
	margin-bottom: 4px;
}

html[data-theme="standard"] .ft-mark-all-as-read {
	position: relative;
	top : -2px;
	right :7px;
}

html[dir="ltr"] .ft-mark-all-as-read  {
	float: right;
}
html[dir="rtl"] .ft-mark-all-as-read  {
	float: left;
}
