/* field overlay alongside */
#fieldOverlay {
	height: 520px;
	position: relative;
	top: -80px;
}
html[dir="rtl"] #fieldOverlay {
	right: 775px !important;
}
html[dir="ltr"] #fieldOverlay {
	left: 775px !important;
}

