/*no @moz-doc since it's inject and only on that page anyway.adding @moz-doc will break sandboxed version */


/*div.foxtrick-showgraph {
 float:right;
}

a.foxtrick-showgraphs {
 font-size: 9px !important;
 color: #000000 !important;
}

a.foxtrick-showgraphs:hover {
 font-size: 9px !important;
 color: #000000 !important;
 background-color: inherit !important;
 border-style: none !important;

}*/

div.foxtrick-showgraphs {
 background-color: #FFFFFF !important;
  text-align:center;
 color: #000000 !important;
 padding-left: 2px; padding-right: 2px;
}

/*------------------------*/

/*
div.foxtrick-graphs {
  width: 203;
  display: none;
  text-align:center;
  margin: 0px;
  padding: 0px;
}*/

div.foxtrick-graphs-table {
  width: 100%;
  display: table;
  margin-bottom: 1px;
  border-spacing :2px;
/*  border:1px solid blue;*/
}

div.foxtrick-graphs-header {
  padding: 0px;
  margin: 0px;
/*  border: 1px solid red;*/
  clear:both;
  font-weight:bold;
}
div.foxtrick-graphs-row {
  display: table-row;
}

div.foxtrick-graphs-cell {
  display: table-cell;
}

div.foxtrick-graphs-label {
 display: table-cell;
 width: 50%;
}

div.foxtrick-graphs-left-bar {
 display: table-cell;
 position: relative;
 width: 50px;
 text-align: left;
 border:1px solid #000000;
 font-size:9px;
}

div.foxtrick-graphs-bar-container {
  width: 100%;
  display: block; position: relative; z-index: 2; overflow: hidden;
}

div.foxtrick-graphs-bar-inner {
 position: absolute;
 left: 0px; top: 0px;
 z-index: 1;
  height: 100%;
}

div.foxtrick-graphs-bar-values {
 position: absolute; left: 0px; top: 0px; width: 100%; z-index: 2;
}

div.foxtrick-graphs-right-bar {
 display: table-cell;
 width: 50px;
 border:1px solid #000000;
 background-color: #CC0000;
 font-size:9px;
}
