/* our ratings as number */
.overlayRatingsNum {
	border-bottom: 1px solid #79A777;
	padding-bottom: 3px;
}
/* our percent comparions */
.percentNumber {
	margin-bottom:2px;
}

/* other teams ratings */
.ft-otherWrapper{
	border-top: 1px solid #79A777;
	padding-top: 3px;
	padding-bottom: 3px;
}
.posLabelOther {
	color: #79A777;
}
.overlayRatingsOther {
}
.overlayRatingsNumOther {
}


/* other teams tactics level */
#tacticLevelLabelOther {
	position: absolute;
	top: 470px;
	background-color: #fff;
	padding: 3px;
	border-radius: 7px;
	border: 2px solid #79A777;
}
html[dir="rtl"] #tacticLevelLabelOther {
	right: 20px;
}
html[dir="ltr"] #tacticLevelLabelOther {
	right: 20px;
}

/* match icons */
.ftOptionIcon {
	background-repeat: no-repeat;
	padding: 0 20px;
}
.ftMatchLeague { background-image: url("chrome://foxtrick/content/resources/img/matches/matchLeague.png"); }
.ftMatchQualification { background-image: url("chrome://foxtrick/content/resources/img/matches/matchQualification.png"); }
.ftMatchCupA { background-image: url("chrome://foxtrick/content/resources/img/matches/matchCup.png"); }
.ftMatchMasters { background-image: url("chrome://foxtrick/content/resources/img/matches/matchMasters.png"); }
.ftMatchFriendly, .ftMatchFriendlyNT { background-image: url("chrome://foxtrick/content/resources/img/matches/matchFriendly.png"); }
.ftMatchSingle { background-image: url("chrome://foxtrick/content/resources/img/matches/matchSingle.png"); }
.ftMatchTournament { background-image: url("chrome://foxtrick/content/resources/img/matches/matchTournament.png"); }
.ftMatchTournamentLadder { background-image: url("chrome://foxtrick/content/resources/img/matches/matchTournamentLadder.png"); }
.ftMatchLeagueNT { background-image: url("chrome://foxtrick/content/resources/img/matches/upcomingNationalIcon.png"); }


html[safari] .ftMatchLeague , html[chrome] .ftMatchLeague  { background-color: #C7FBBB}
html[safari] .ftMatchQualification , html[chrome] .ftMatchQualification  { background-color: #66CC66}
html[safari] .ftMatchMasters , html[chrome] .ftMatchMasters  { background-color: #FF9999}
html[safari] .ftMatchCupA , html[chrome] .ftMatchCupA  { background-color: #CCD2CC}
html[safari] .ftMatchFriendlyNT , html[chrome] .ftMatchFriendlyNT ,
html[safari] .ftMatchFriendly , html[chrome] .ftMatchFriendly  { background-color: white}
html[safari] .ftMatchSingle , html[chrome] .ftMatchSingle ,
html[safari] .ftMatchTournamentLadder , html[chrome] .ftMatchTournamentLadder ,
html[safari] .ftMatchTournament , html[chrome] .ftMatchTournament  { background-color: #FFC880}
html[safari] .ftMatchLeagueNT , html[chrome] .ftMatchLeagueNT  { background-color: #FFC880}


/* bottom box */
#ft-overlayBottom {
	background-color: white;
	border: 2px solid #79A777;
	top: 520px;
	position: absolute;
	width: 597px;
}
html[data-theme="simple"] #ft-overlayBottom {
	min-height: 530px;
}
html[data-theme="standard"] #ft-overlayBottom {
	min-height: 560px;
}

#ft_simulation_ratings {
	margin: 4px 40px;
	padding: 10px 20px;
}
#overlayHTMSCurrent {
	margin: 4px 40px;
	padding: 10px 20px;
}
#overlayHTMSPrevious {
	margin: 4px 40px;
	padding: 10px 20px;
	background-color:#eee;
}

/* adjustings hts rating comparison display*/
#nisse {
	display: none;
}
.visible {
	visibility: visible !important;
}
#fieldOverlay .ratingInnerBox {
	margin: 10px 3px 0px 3px;
	padding: 0px;
}
#fieldOverlay .ratingInnerBox div[id$="Rating"], .overlayRatingsOther, .overlayRatingsDiscounted {
	font-weight: normal;
}
#fieldOverlay.not_flipped .overlayRightDefense, #fieldOverlay.not_flipped .overlayMidDefense, #fieldOverlay.not_flipped .overlayLeftDefense {
	top: 9px;
}
#fieldOverlay.not_flipped .overlayMidfield {
	top: 160px;
}
#fieldOverlay.not_flipped .overlayRightAttack, #fieldOverlay.not_flipped .overlayMidAttack, #fieldOverlay.not_flipped .overlayLeftAttack {
	top: 310px;
}
#fieldOverlay.flipped .overlayRightDefense, #fieldOverlay.flipped .overlayMidDefense, #fieldOverlay.flipped .overlayLeftDefense {
	top: 310px;
}
#fieldOverlay.flipped .overlayMidfield {
	top: 160px;
}
#fieldOverlay.flipped .overlayRightAttack, #fieldOverlay.flipped .overlayMidAttack, #fieldOverlay.flipped .overlayLeftAttack {
	top: 9px;
}
html[dir="rtl"] .overlayMidDefense, .overlayMidAttack {
	right: 202px;
}
html[dir="ltr"] .overlayMidDefense, .overlayMidAttack {
	left: 202px;
}
#fieldOverlay .overlaySector {
	height: 150px;
}
#fieldOverlay .ratingInnerBox img{
	margin-top:7px;
}
.posLabel  {
	padding-top: 3px;
}
#tacticLevelLabel {
	top: 470px !important;
}
#trainerTypeLabel {
	top: 0px !important;
	left: 20px;
	right: moz-initial !important;
	right: initial !important;

}
#ft_matchsimulator_options {
	left: 395px;
}
#ft_matchsimulator_options div{
	float:left;
	padding-left: 20px;
}

/* field overlay display options */
#fieldOverlay.displayBelow {
	height: 520px;
	position: relative;
	top: 630px;
}
#fieldOverlay.displayBelow.newME {
	top: 650px;
}
#fieldOverlay.displayRight {
	height: 520px;
	position: relative;
	top: -80px;
}
html[dir="rtl"] #fieldOverlay.displayRight {
	right: 775px;
}
html[dir="ltr"] #fieldOverlay.displayRight {
	left: 775px;
}

#ft-copyRatingsButton {
	float: left; position: absolute; bottom: 0px; left: 10px;
}


#ft-matchSelect {
	float: left;
	position: absolute;
	bottom: 0px;
	left: 80px;
}

#addMatchDiv, #addTeamDiv {
	float: left;
	left: 80px;
	position: absolute;
	bottom: 0px;
}

#addMatchhomeAwayLabel, #addMatchisHTOIntegrated, #addMatchButton, #addTeamText, #addTeamButton {
	margin-left: 20px;
}
