.sidebarBox .ft-match-player-home, .sidebarBox .ft-match-player-away,
.sidebarBox .ft-match-player-mine, .sidebarBox .ft-match-player-unknown {
	border: 1px solid #ccc;
}

.ft-match-player-home, .ft-match-player-away,
.ft-match-player-mine, .ft-match-player-unknown {
	padding: 0 2px !important;
}

.ft-match-player-home {
	color: #849D84 !important;
	border: 1px solid #849D84;
	background-color: white !important;
}

.ft-match-player-away {
	background: none repeat scroll 0 0 #849D84;
	color:white !important;
}

.ft-match-player-mine {
}

.ft-match-player-unknown {
	background: #f0f0f0;
}
