@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

html[dir="rtl"] #timelineEventDetails {
	top: 243px !important;
	left: 166px !important;
	right: auto !important;
}
html[dir="ltr"] #timelineEventDetails {
	top: 245px !important;
	right: 166px !important;
	left: auto !important;
}

.ft-match-lineup-tweaks-teamname {
	color: white;
	font-size: 12px;
	font-weight: bold;

	border: solid 2px #79A777;
	background: #3F7137;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 3px;
	position: absolute;
}
html[dir="rtl"] .ft-match-lineup-tweaks-teamname-home {
	top: 15px;
	right: 15px;
	left: initial;
}
html[dir="rtl"] .ft-match-lineup-tweaks-teamname-away {
	bottom: 15px;
	right: 15px;
	left: initial;
}


html[dir="ltr"] .ft-match-lineup-tweaks-teamname-home {
	top: 15px;
	left: 15px;
	right: initial;
}
html[dir="ltr"] .ft-match-lineup-tweaks-teamname-away {
	bottom: 15px;
	left: 15px;
	right: initial;
}


.ft-match-lineup-tweaks-star-counter, .ft-match-lineup-tweaks-stamina-counter
{
	font-size: 12px;
	font-weight: bolder;
	color: #ffcc00;
	margin: 0;
	font-style: italic;

	position: absolute;
	border: solid 2px #79A777;
	background: #3F7137;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 5px 3px;
	width: 65px;
	text-align: center;
}
.isYouthMatch .ft-match-lineup-tweaks-star-counter, .isYouthMatch .ft-match-lineup-tweaks-stamina-counter
{
	color: #6ec6e9;
}

.ft-match-lineup-tweaks-stars-counter-sum-home, .ft-match-lineup-tweaks-stamina-counter-sum-home {
	top: 289px;
}
.ft-match-lineup-tweaks-stars-counter-sum-away, .ft-match-lineup-tweaks-stamina-counter-sum-away {
	top: 349px;
}
.ft-match-lineup-tweaks-stars-counter-diff, .ft-match-lineup-tweaks-stamina-counter-diff {
	top: 319px;
	border: solid 1px #dfb920;
}
.isYouthMatch .ft-match-lineup-tweaks-stars-counter-diff {
	border: solid 1px #6ec6e9;
}

html[dir="rtl"] .ft-match-lineup-tweaks-stars-counter-sum-home,
html[dir="rtl"] .ft-match-lineup-tweaks-stars-counter-sum-away,
html[dir="rtl"] .ft-match-lineup-tweaks-stars-counter-diff,
html[dir="ltr"] .ft-match-lineup-tweaks-stamina-counter-sum-home,
html[dir="ltr"] .ft-match-lineup-tweaks-stamina-counter-sum-away,
html[dir="ltr"] .ft-match-lineup-tweaks-stamina-counter-diff
{
	right: 15px;
	left: initial;
}
html[dir="ltr"] .ft-match-lineup-tweaks-stars-counter-sum-home,
html[dir="ltr"] .ft-match-lineup-tweaks-stars-counter-sum-away,
html[dir="ltr"] .ft-match-lineup-tweaks-stars-counter-diff,
html[dir="rtl"] .ft-match-lineup-tweaks-stamina-counter-sum-home,
html[dir="rtl"] .ft-match-lineup-tweaks-stamina-counter-sum-away,
html[dir="rtl"] .ft-match-lineup-tweaks-stamina-counter-diff
{
	left: 15px;
	right: initial;
}

.ft-highlight-playerDiv-bench {
	border-color: red !important;
}
.ft-highlight-playerDiv-field {
	border-color: #fc0 !important;
}
.ft-highlight-playerDiv-url {
	border-color: #3fd6fc !important;
}
.ft-highlight-playerDiv-bench, .ft-highlight-playerDiv-field, .ft-highlight-playerDiv-url {
	animation-name: ft-highlight-shake;
	animation-duration: 0.8s;
	transform-origin:50% 50%;
	animation-iteration-count: 2;
	animation-timing-function: linear;

	-webkit-animation-name: ft-highlight-shake;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-timing-function: linear;

	-moz-animation-name: ft-highlight-shake;
	-moz-animation-duration: 0.8s;
	-moz-transform-origin:50% 50%;
	-moz-animation-iteration-count: 2;
	-moz-animation-timing-function: linear;
}
@keyframes ft-highlight-shake {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-3deg); }
	20% { transform: translate(-3px, 0px) rotate(3deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(3deg); }
	50% { transform: translate(-1px, 2px) rotate(-3deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-3deg); }
	80% { transform: translate(-1px, -1px) rotate(3deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-3deg); }
}
@-webkit-keyframes ft-highlight-shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-3deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(3deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(3deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-3deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-3deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(3deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-3deg); }
}

@-moz-keyframes ft-highlight-shake {
	0% { -moz-transform: translate(2px, 1px) rotate(0deg); }
	10% { -moz-transform: translate(-1px, -2px) rotate(-3deg); }
	20% { -moz-transform: translate(-3px, 0px) rotate(3deg); }
	30% { -moz-transform: translate(0px, 2px) rotate(0deg); }
	40% { -moz-transform: translate(1px, -1px) rotate(3deg); }
	50% { -moz-transform: translate(-1px, 2px) rotate(-3deg); }
	60% { -moz-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -moz-transform: translate(2px, 1px) rotate(-3deg); }
	80% { -moz-transform: translate(-1px, -1px) rotate(3deg); }
	90% { -moz-transform: translate(2px, 2px) rotate(0deg); }
	100% { -moz-transform: translate(1px, -2px) rotate(-3deg); }
}
div.playerDiv .sectorShirt.ft-smallFaceCard {
	background-image: url() !important;
}
html[dir="rtl"] div.playerDiv .sectorShirt.ft-smallFaceCard {
	top: -18px !important;
	right: -3px !important;
}
html[dir="ltr"] div.playerDiv .sectorShirt.ft-smallFaceCard {
	top: -18px !important;
	left: -3px !important;
}
/* the 'wall' */
div.playerDiv .sectorShirt.ft-smallFaceCard img[src^="/Img/Avatar/hair/"] {
	border-bottom: solid 2px #79A777 !important;
}
.ft-match-lineup-tweaks-specialty-icon {
	display: block;
	position: absolute;
	left: -8px; /* 0 for rtl */
	top: -30px;
	background-color: #295223 !important;
	border: 1px solid #79A777 !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.ft-indicator-wrapper {
	position: absolute;
	width: 98px;
	left: 2px; /* 0 for rtl */
	line-height: 1.2em;
	direction: ltr;
}
.ft-indicator {
	display: inline-block;
	background-color: #ffcc00;
}
.isYouthMatch .ft-indicator{
	background-color: #cccccc;
}
/* stamina */
div.playerDiv div.sectorShirt + div > div {
	width: 4px !important;
	height: 50px !important;
	left: auto !important;
	right: -5px !important;
	top: -10px !important;
}
div.playerDiv div.sectorShirt + div > div > div {
	width: 100% !important;
}
.ft-staminaText {
	display: inline-block;
	float: right;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	color: black;
	border: 1px solid black;
}
.statsPlayer {
	top: -6px !important;
	margin-right: 3px !important;
}
.goRight::after {
	left: 94px !important;
}
.goDown::after {
	top: 4px !important;
}
#playersBenchHome > div, #playersBenchAway > div {
	margin-bottom: 24px !important;
}
#playersBenchHome, #playersBenchAway {
	padding: 0 !important;
}



/* split lineup */

#playersField.ft-field-split {
	min-height: 430px !important;
}
.ft-field-away {
	background-position: bottom !important;
}

.ft-field-away .ft-match-lineup-tweaks-stamina-counter-sum-home,
.ft-field-away .ft-match-lineup-tweaks-stars-counter-sum-home {
	top: 56px;
}
.ft-field-away .ft-match-lineup-tweaks-stamina-counter-sum-away,
.ft-field-away .ft-match-lineup-tweaks-stars-counter-sum-away {
	top: 116px;
}
.ft-field-away .ft-match-lineup-tweaks-stamina-counter-diff,
.ft-field-away .ft-match-lineup-tweaks-stars-counter-diff {
	top: 86px;
}

#ft-split-arrow {
	position: absolute;
	cursor: pointer;
	display: block;
	left: 268px;
	bottom: 20px;
	height: 64px;
	background: url(chrome://foxtrick/content/resources/img/arrows.png) no-repeat left bottom;
	width: 64px;
}
.ft-field-away #ft-split-arrow {
	background-position: top;
	bottom: initial;
	top: 20px;
}
#ft-split-lineup-toggle-div {
	font-size: 1.2em;
	line-height: normal;
	color: white;
}
.ft-match-lineup-tweaks-teamname-home, .ft-match-lineup-tweaks-stars-counter-sum-home,
.ft-match-lineup-tweaks-stamina-counter-sum-home {
	background: #295223;
}

}
