#fieldOverlay {
	height: 380px;
	position: relative;
	top: 530px !important;
}

#nisse {
	display: none;
}

.visible {
	visibility: visible !important;
}

#fieldOverlay input {
	bottom: 52px !important;
}

.ratingInnerBox {
	font-size: inherit !important;
	font-weight: inherit !important;
}

.overlaySector {
	height : auto !important;
}

.overlayMidfield {
	top: 98px !important;
}

.ratingInnerBox {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

#tacticLevelLabel {
	top: 273px !important;
}

.overlayRightAttack, .overlayMidAttack, .overlayLeftAttack {
	top: 184px !important;
}

