#fieldOverlay {
	height: 370px;
	position: relative;
	top: 530px !important;
}
#nisse {
	display: none;
}

.visible {
	visibility: visible !important;
}

.playedLast {
	border-right : 5px solid #48f;
	padding: 3px 9px 3px 2px !important;
}
