@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

html[dir="rtl"] #timelineEventDetails {
	top: 240px !important;
	left: 166px !important;
	right: auto !important;
}
html[dir="ltr"] #timelineEventDetails {
	top: 242px !important;
	right: 166px !important;
	left: auto !important;
}

.ft-match-lineup-tweaks-teamname {
	color: white;
	font-size: 12px;
	font-weight: bold;

	border: solid 2px #79A777;
	background: #3F7137;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 3px;
}

html[dir="rtl"] .ft-match-lineup-tweaks-teamname-home {
	top: 15px;
	right: 15px;
	position: absolute;
}
html[dir="rtl"] .ft-match-lineup-tweaks-teamname-away {
	bottom: 15px;
	right: 15px;
	position: absolute;
}


html[dir="ltr"] .ft-match-lineup-tweaks-teamname-home {
	top: 15px;
	left: 15px;
	position: absolute;
}
html[dir="ltr"] .ft-match-lineup-tweaks-teamname-away {
	bottom: 15px;
	left: 15px;
	position: absolute;
}


.ft-match-lineup-tweaks-star-counter, .ft-match-lineup-tweaks-stamina-counter
{
	font-size: 12px;
	font-weight: bolder;
	color: #ffcc00;
	margin: 0;
	font-style: italic;

	position: absolute;
	border: solid 2px #79A777;
	background: #3F7137;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 5px 3px;
	width: 65px;
	text-align: center;
}


html[dir="rtl"] .ft-match-lineup-tweaks-stars-counter-sum-home {
	top: 289px !important;
	right: 15px;
}
html[dir="rtl"] .ft-match-lineup-tweaks-stars-counter-sum-away {
	top: 349px !important;
	right: 15px;
}
html[dir="rtl"] .ft-match-lineup-tweaks-stars-counter-diff {
	top: 319px !important;
	right: 15px;
}


html[dir="ltr"] .ft-match-lineup-tweaks-stars-counter-sum-home {
	top: 289px !important;
	left: 15px;
}
html[dir="ltr"] .ft-match-lineup-tweaks-stars-counter-sum-away {
	top: 349px !important;
	left: 15px;
}
html[dir="ltr"] .ft-match-lineup-tweaks-stars-counter-diff {
	top: 319px !important;
	left: 15px;
}

/* stamina counter */

html[dir="rtl"] .ft-match-lineup-tweaks-stamina-counter-sum-home {
	top: 289px !important;
	left: 15px;
	right: inherit !important; /* have to cancel stupid HT values */
}
html[dir="rtl"] .ft-match-lineup-tweaks-stamina-counter-sum-away {
	top: 349px !important;
	left: 15px;
	right: inherit !important;
}
html[dir="rtl"] .ft-match-lineup-tweaks-stamina-counter-diff {
	top: 319px !important;
	left: 15px;
	right: inherit !important;
}


html[dir="ltr"] .ft-match-lineup-tweaks-stamina-counter-sum-home {
	top: 289px !important;
	right: 15px;
}
html[dir="ltr"] .ft-match-lineup-tweaks-stamina-counter-sum-away {
	top: 349px !important;
	right: 15px;
}
html[dir="ltr"] .ft-match-lineup-tweaks-stamina-counter-diff {
	top: 319px !important;
	right: 15px;
}


.ft-highlight-playerDiv {
	border-color: red !important;
	-webkit-animation-name: ft-highlight-shake;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-timing-function: linear;

	-moz-animation-name: ft-highlight-shake;
	-moz-animation-duration: 0.8s;
	-moz-transform-origin:50% 50%;
	-moz-animation-iteration-count: 2;
	-moz-animation-timing-function: linear;
}
.ft-highlight-playerDiv-other {/* #3fd6fc */
	border-color: #fc0 !important;
	-webkit-animation-name: ft-highlight-shake;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-timing-function: linear;

	-moz-animation-name: ft-highlight-shake;
	-moz-animation-duration: 0.8s;
	-moz-transform-origin:50% 50%;
	-moz-animation-iteration-count: 2;
	-moz-animation-timing-function: linear;
}

@-webkit-keyframes ft-highlight-shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-3deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(3deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(3deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-3deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-3deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(3deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-3deg); }
}

@-moz-keyframes ft-highlight-shake {
	0% { -moz-transform: translate(2px, 1px) rotate(0deg); }
	10% { -moz-transform: translate(-1px, -2px) rotate(-3deg); }
	20% { -moz-transform: translate(-3px, 0px) rotate(3deg); }
	30% { -moz-transform: translate(0px, 2px) rotate(0deg); }
	40% { -moz-transform: translate(1px, -1px) rotate(3deg); }
	50% { -moz-transform: translate(-1px, 2px) rotate(-3deg); }
	60% { -moz-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -moz-transform: translate(2px, 1px) rotate(-3deg); }
	80% { -moz-transform: translate(-1px, -1px) rotate(3deg); }
	90% { -moz-transform: translate(2px, 2px) rotate(0deg); }
	100% { -moz-transform: translate(1px, -2px) rotate(-3deg); }
}

html[dir="rtl"] .sectorShirt.ft-smallFaceCard {
	top: -18px !important;
	right: -3px !important;
}
html[dir="ltr"] .sectorShirt.ft-smallFaceCard {
	top: -18px !important;
	left: -3px !important;
}
/* the 'wall' */
.sectorShirt.ft-smallFaceCard img[src^="/Img/Avatar/hair/"] {
	border-bottom: solid 2px #79A777 !important;
}
.ft-match-lineup-tweaks-specialty-icon {
	display: block;
	position: absolute;
	left: 0; /* for rtl */
	top: -30px;
	background-color: #295223 !important;
	border: 1px solid #79A777 !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.ft-indicatorDiv {
	position: absolute;
	width: 106px;
	left: -6px; /* 0 for rtl */
	line-height: 1.2em;
}
.ft-indicatorDiv > div {
	display: inline-block;
	background-color: #ffcc00;
	border: 1px solid #79A777;
}
/* stamina */
div.sectorShirt + div > div {
	width: 4px !important;
	height: 50px !important;
	left: auto !important;
	right: -5px !important;
	top: -10px !important;
}
div.sectorShirt + div > div > div {
	width: 100% !important;
}
.ft-staminaText {
	display: inline-block;
	float: right;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	color: black;
	border: 1px solid black;
}
.statsPlayer {
	top: -6px !important;
	margin-right: 3px !important;
}
.goRight::after {
	left: 94px !important;
}
.goDown::after {
	top: 4px !important;
}
#playersBenchHome > div, #playersBenchAway > div {
	margin-bottom: 24px !important;
}
#playersBenchHome, #playersBenchAway {
	padding: 0 !important;
}
#playersBenchHome {
	margin-top: -30px !important;
}
#playersBenchAway {
	margin-bottom: -30px !important;
}
}
