@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

/* old lineup */
.field .box_highlighted.smallFaceCardBox {
	background-image:url("chrome://foxtrick/content/resources/img/box_lineup.png") !important;
	border: 1px solid #5f3;
}

.field .box_replaced.smallFaceCardBox, .field .box_lineup.smallFaceCardBox, .field .box_substitute.smallFaceCardBox {
	background-image:url("chrome://foxtrick/content/resources/img/box_lineup.png") !important;
}

.field  .smallFaceCardOuter {
	position: relative;
	top: -10px;
	left: 0px;
}

/* current linup */
#field .shirt .nr {
  z-index: 9;
  top: 31px !important;
  left: 0px !important;
}

}
