@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

/* Using display to style events so that users could also style in
 * non-table way.
 */

.ft-match-lineup td {
	vertical-align: top !important;
}

.ft-match-lineup li {
	padding-bottom: 2px !important;
	border-bottom: 1px solid #eee;
}

.ft-match-lineup a {
	text-decoration: none !important;
	color: #006db5 !important;
}

.ft-match-lineup-comment:before {
	content: "(";
}

.ft-match-lineup-comment {
	padding-left: 3px;
}

.ft-match-lineup-comment:after {
	content: ")";
}

.ft-match-report {
	border-spacing: 0 5px;
}

.ft-match-report-event {
	display: table-row;
}

.ft-match-report-event-minute {
	display: table-cell;
	width: 30px;
	font-weight: bold;
	vertical-align: top;
}

.ft-match-report-event-icon {
	display: table-cell;
	width: 22px;
}

.ft-match-report-event-icon-image {
	margin-top: 2px;
	margin-bottom: 2px;
}

.ft-match-report-event-content {
	display: table-cell;
	padding-left: 10px;
	vertical-align: top;
}
.ft-match-report-lineup,
.ft-match-report-match-report,
.ft-match-report-kick-off,
.ft-match-report-half-time,
.ft-match-report-full-time,
.ft-match-report-extra-time,
.ft-match-report-penalty-shoot-out,
.ft-match-report-result {
	color: white;
	background-color: #849D84;
	padding: 2px 0 2px 5px !important;
	border: 1px solid #ccc;
	margin: 5px 0;
	font-size: 115%;
	font-weight: bold;
}

.ft-match-report-event-content {
	border-left: 3px solid #fff;
}
.ft-match-report-event-home .ft-match-report-event-content {
	border-color: darkBlue;
}
.ft-match-report-event-away .ft-match-report-event-content {
	border-color: #FF9000;
}

}
