@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name) {

.ft-match-order-clone-1 {
	right:20px !important;
	top: -16px !important;
	background: #48f !important;
}
.ft-match-order-clone-2 {
	right:49px !important;
	top: -16px !important;
	background: #48f !important;
}
.ft-match-order-clone-3 {
	right:78px !important;
	top: -16px !important;
	background: #48f !important;
}

}