/* increase height of playerboxes for cards+specialties */
#orders .position, #orders .position .player, .player.ui-draggable-dragging {
	height: 49px !important;
}

/* show previously hidden cards on the bottom */
#orders #field .player .cards_health {
	display: block !important;
	top: 36px;
	width: 80px;
	position: relative;
}


/* in playerbox, cards on one side, specialties on the other */
html[dir="rtl"] #orders #field .player .cards_health {
	right:6px;
}
html[dir="rtl"] #orders #field .player .cards_health  img.specialty {
	float:left;
}
html[dir="ltr"] #orders #field .player .cards_health {
	left:6px;
}
html[dir="ltr"] #orders #field .player .cards_health  img.specialty {
	float:right;
}

/* specialties in list on the right with cards */
#field #list img.specialty {
	margin: 0 2px;
}
html[dir="rtl"] #field #list img.specialty {
	float:left;
	margin: 0 2px;
}
html[dir="ltr"] #field #list img.specialty {
	float:right;
	margin: 0 2px;
}


/* name and pos_abbr has to move up */
#orders .position .player .name, .player.ui-draggable-dragging .name {
	bottom: 13px !important;
}
#orders .pos_abbr {
	top: 10px;
	margin-top: 0px !important;
}


/* move bench players up a bit since boxes are larger now */
.p14, .p15, .p16, .p17, .p18 {
	top: 340px !important;
}
.p19, .p20 {
	top: 425px !important;
}


/* substitution box larger and adv. sub somewhat down */
#orders .substitution {
	min-height: 100px !important;
}
.substitution .advanced {
	margin: 40px 0 0 2px !important;
}

html[dir="ltr"] #fieldplayers .cards_health > img, #fieldplayers  .ft-specialty > img {
	float: right;
}
html[dir="rtl"] #fieldplayers .cards_health > img, #fieldplayers  .ft-specialty > img {
	float: left;
}

#orders #list .player.ui-draggable-dragging .cards_health {
	display: block !important;
	top: 36px;
	position: relative;
}
html[dir="ltr"] #orders #list .player.ui-draggable-dragging .cards_health {
	float: right;
	right: 5px;
}

html[dir="rtl"] #orders #list .player.ui-draggable-dragging .cards_health {
	float: left;
	left: 5px;
}
