.ft-match-player-home, .ft-match-player-away, .ft-match-player-minem,
.ft-match-player-hl {
	padding: 0 2px !important;
}

.ft-match-player-home {
	color: #849D84 !important;
	border: 1px solid #849D84;
	background-color: white;
}

.ft-match-player-away {
	border: 1px solid white;
	background: #849D84;
	color:white !important;
}

.ft-match-player-hl {
	background-color: hsl(270, 40%, 40%);
	color: white !important;
}

.ft-match-event-home > td:first-child {
	text-align: left !important;
}

.ft-match-event-away > td:first-child {
	text-align: right !important;
}
.main .RadTabStripVertical li.rtsLI {
	line-height: initial !important;
}
