.ft-match-report-team-home, .ft-match-report-team-away, .ft-match-report-team-mine {
	font-weight: bold;
}

/* link or text of home team */
.ft-match-report-team-home {
	border: 1px solid #849D84;
	color: #849D84 !important;
	background-color: white !important;
}

.sidebarBox .ft-match-report-team-home {
	line-height:1.7;
	padding: 2px !important
}

/* link or text of away team */
.ft-match-report-team-away {
	border: 1px solid white;
	background-color: #849D84;
	color: white !important;
}

.sidebarBox .ft-match-report-team-away {
	line-height:1.7;
	padding: 2px !important
}

/* link or text of my team */
.ft-match-report-team-mine {
}

/* normal events, involving players */
.ft-match-report-event-normal {
	background-color: #EEE;
}

/* special events, team events */
.ft-match-report-event-special {
}

/* separates different parts, eg half time */
.ft-match-report-separator {
	border-bottom: 1px solid #849D84;
	margin-bottom:30px !important;
	margin-top:10px !important;
}


/* goal scored by my team */
.ft-match-report-goal-mine {
}

/* goal scored by home team */
.ft-match-report-goal-home {
	border: 2px solid #849D84;
}

/* goal scored by away team */
.ft-match-report-goal-away {
	background-color: #849D84;
	color:white;
}

/* scoreboard, the "a" must be specified here to remove the underline */
tr>td a.ft-match-report-scoreboard {
	color: black !important;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
}
