#orders .position, #orders .position .player, .player.ui-draggable-dragging {
	height: 52px !important;
}

#orders #field .player .cards_health {
	display: block !important;
	top: 38px;
	left:6px;
	width: 80px;
	position: relative;
}

#orders .position .player .name, .player.ui-draggable-dragging .name {
	bottom: 14px !important;
}

#orders .pos_abbr {
	top: 10px;
	margin-top: 0px !important;
}

.p14, .p15, .p16, .p17, .p18 {
	top: 340px !important;
}

.p19, .p20 {
	top: 425px !important;
}

#orders .substitution {
	min-height: 100px !important;
}

.substitution .advanced {
	margin: 40px 0 0 2px !important;
}
