@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

.playerDiv .sectorShirt {
	margin-right: -12px !important;
}
.playerRating {
	right: 0 !important;
	float: left !important;
	width: 60px;
	top: 8px !important;
}
.playerRating > * {
	float: left;
	width: 20px;
}
.ft-4starDiv:first-child {
	margin-left: 10px;
}

/*.ft-starDiv {
	display: inline-block;
}
.ft-starDiv > * {
	float: left;
	width: 20px;
}*/

}
