@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name) {

div[class^="ad_"] {display: none !important;}

.ft-mobile #ctl00_ctl00_pnlMobileLink {display:none !important;}
.ft-mobile #top, .ft-mobile #footer {width: auto !important;}

.ft-mobile #menu {
	right: -10px !important;
	left: -10px !important;
	height: auto !important;
	width: 90px !important;	
	font-size: 1.1em !important;
	bottom: 24px !important;
}
.ft-mobile #menu a {
	border-bottom: 1px solid #176F21;
	border-top: 1px solid #479F51;
	margin: 0px !important;
	padding: 5px !important;
	float: none !important;
	height: auto !important;
	line-height: inherit !important;	
}
/* kick stage link to have same menu size */
.ft-mobile #menu a[href^="/Forum/Overview.aspx"], .ft-mobile  #ctl00_ctl00_ucOngoingEvents_pnlOngoingEvents { display:none !important;}

#mobile_header_center {
	background-color: #277F31;
	position: relative;
	width: 70px;
	z-index: 10020;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 -3px 
	rgba(0, 0, 0, .2) inset;
	-moz-box-shadow: 0 -3px rgba(0,0,0,.2) inset;
	-webkit-box-shadow: 0 -3px rgba(0, 0, 0, .2) inset;
}
#mobile_header_center_tab{
	width: 70px !important;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
#mobile_header_center  a {
	padding: 5px !important;
	display: block !important;
	color: white !important;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
}
#mobile_header_center.out    {
	top: 207px;
	-moz-transition: .5s top ease;
	-webkit-transition: .5s top ease;
	transition: .5s top ease;
}
#mobile_header_center  {
	top: 0px;
	-moz-transition: .5s top ease;
	-webkit-transition: .5s top ease;
	transition: .5s top ease;
}

.ft-mobile .mainWrapperWide, .ft-mobile .mainWrapperRegular, .ft-mobile .mainWrapperConf, .ft-mobile .mainWrapperFull {float:none !important; background-color:white}

.ft-mobile .mainRegular, .ft-mobile .mainWide, .ft-mobile .mainFull, .ft-mobile .mainConf, .ft-mobile .mainText2ColumnWrapper {width:auto !important;}

#mobile_header {height: 30px; position:relative;}
#mobile_header_left, #mobile_header_left_main {float: left;}
#mobile_header_right, #mobile_header_right_header {float:right;}

/*textarea.medium{width:400px;height:100px;}
.forumScrollContent {position:relative;width:501px;}
div.scEditSC .txtb{width:300px;}
.main .liveMatchContainer{float:left; width:490px;
.notebook,textarea.large{width:400px;
.treeNavUp, .treeNavDown 
*/
.ft-mobile .quickFacts, .ft-mobile .insertBody,
.ft-mobile .notebook, .ft-mobile textarea.large,
.ft-mobile a.featuredShopItem, .ft-mobile div.featuredShopItemText,
.ft-mobile #fbErrorBox, .ft-mobile .fbSendBox , .ft-mobile .sendBoxHeader 
 {width:auto !important;}

.hattrick.ft-mobile , .hattrickNoSupporter.ft-mobile , .ft-mobile #page,
.ft-mobile .mainWrapperRegular, .ft-mobile .mainWrapperConf, .ft-mobile .main 
{width:auto !important; float: none !important;}

.hattrick.ft-mobile , .hattrickNoSupporter.ft-mobile  {position:relative;}
.ft-mobile #page, .ft-mobile #footer {
	padding: 0px !important; 
	position:relative; 
	top:0px; 
 	-moz-transition: .5s top ease;
	-webkit-transition: .5s top ease;
	transition: .5s top ease;
}
.ft-mobile #sidebar, .ft-mobile .subMenu, .ft-mobile .subMenuConf  
{position:absolute; background-color:white; border: 2px solid #849D84; padding: 2px; top:0px}
.ft-mobile #header {
	z-index: 10030;
	background-color:white;
	border-bottom: 2px solid #849D84;
	padding-bottom: 5px;
 	-moz-transition: .5s top ease;
	-webkit-transition: .5s top ease;
	transition: .5s top ease;
}
.ft-mobile #logo, .ft-mobile #stageLogo 
{left:0px !important;	top:0px !important;}
.ft-mobile #sidebar  {
	z-index: 10010;
	right: 0px;
	-moz-transition: .5s right ease;
	-webkit-transition: .5s right ease;
	transition: .5s right ease;
}
.ft-mobile .subMenu, .ft-mobile .subMenuConf  {
	z-index: 10010;
	left: 0px;
 	-moz-transition: .5s left ease;
	-webkit-transition: .5s left ease;
	transition: .5s left ease;
}
.ft-mobile .subMenu.out {left: -135px;}
.ft-mobile .subMenuConf.out {left: -235px;}
.ft-mobile #sidebar.out {
	right: -190px;
	display: none;
}
.ft-touch-available.ft-mobile #page.out, .ft-touch-available.ft-mobile #footer.out, {top: -108px;}
.ft-mobile #mobile_header, .ft-mobile #content, .ft-mobile #bottom {
	position: relative;
	background-color:white;
}
.ft-mobile #content {
	margin-bottom:0px !important; 
	padding-top:0px !important;
	border-right: solid 1px #DDD;
	border-left: solid 1px #DDD;
}
.ft-touch-available.ft-mobile #content {
/*	overflow:hidden;*/
}
.ft-mobile #bottom {
	border-right: solid 1px #DDD;
	border-left: solid 1px #DDD;
	border-bottom: solid 1px #DDD;
}
/* forum read */
.ft-mobile .cfHeader, .ft-mobile .cfHeader.doubleLine, .ft-mobile .cfHeader.singleLine {height: auto !important;}
.ft-mobile .cfHeader .float_right {height: auto !important; float: none !important;}

/* forum overview */
.ft-mobile .frontPageList {width: 95% !important}
.ft-mobile .frontPageList td {padding: 2px !important}
.ft-mobile .fplLongThreadName, .ft-mobile .fplThreadInfo,
.ft-mobile .fplLongFolderName, .ft-mobile.fplFolderName,
.ft-mobile .fplMessageAuthor, .ft-mobile .fplThreadName {width: auto !important;}
.ft-mobile .fplPreview, .ft-mobile .fplRead {display:none;}

/* tables */ 
.ft-mobile table, .ft-mobile table td, .ft-mobile table td div {white-space:normal !important; word-wrap:break-word;}


/* lineup */
.ft-mobile #list  {margin: 0px !important;}

/* general */
.ft-mobile .nowrap {white-space:normal !important; word-wrap:break-word;}

/* league */
html .ft-mobile  table.ft_league_matches {margin-right: 0px !important;}
#ctl00_ctl00_CPContent_CPMain_repLeagueTable td {padding: 1px !important;}

/* office */
.ft-mobile .eventItem > .eventItemText, .ft-mobile .pmSpeechOuterContainer
.ft-mobile .pmNewSpeechOuterContainer
 {width: auto !important;}

.ft-mobile #order_tabs {margin-left: -5px !important;}
}