html[data-theme='simple'] .subMenu, html[data-theme='simple'] #sidebar, html[data-theme='simple'] .subMenuConf, html[data-theme='simple']  #online
	{display:none !important}
html[data-theme='simple'] #header
	{height:auto!important}
html[data-theme='simple'] #shortcuts
	{top:45px!important}
html[data-theme='simple'] #teamLinks, html[data-theme='simple'] #time, html[data-theme='simple'] #online, html[data-theme='simple'] #ft-local-time, html[data-theme='simple'] #ft_rapidid
	{margin-top:35px!important}
html[data-theme='simple'] #ticker
	{top:2px!important}
html[data-theme='simple'] #menu
	{position:relative !important; height:auto!important; float:left!important; margin: 3px 0!important}

html[data-fennec-theme='forum'][data-theme='simple'] .hattrick,
html[data-fennec-theme='forum'][data-theme='simple'] .hattrickNoSupporter,
html[data-fennec-theme='forum'][data-theme='simple'] #page ,
html[data-fennec-theme='forum'][data-theme='simple'] .main
	{width:440px!important}
/*	{width:530px!important} */


html[data-fennec-theme='default'][data-theme='simple'] .hattrick,
html[data-fennec-theme='default'][data-theme='simple'] .hattrickNoSupporter,
html[data-fennec-theme='default'][data-theme='simple'] #page
	{width:440px!important}
