@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

html[data-theme='simple'] .main, html[data-theme='simple'] .subMenu, html[data-theme='simple'] #header, html[data-theme='simple'] #bottom
{
	display:none !important
}

html[data-theme='simple'] .hattrick,
html[data-theme='simple'] .hattrickNoSupporter,
html[data-theme='simple'] #page
{
	width:190px!important;
}

}
