#ft-monitor-div {
	margin-bottom: 20px ;
	margin-top: 20px ;
}

#ft-monitor-container {
	clear: both;
}

#ft-monitor-live-links {
	background-color: #EDF1ED;
	border-bottom: solid 2px #DCE0DC;
}
#ft-monitor-live-links td {
	vertical-align: middle !important;
}
#ft-monitor-live-info {
	color: red;
	width: 100%;
}

.ft-monitor-frame {
	width: 48%;
	margin: 0 1%;
	float: left;
}

.ft-monitor-frame:nth-child(odd) {
	clear: left; /* two in a row */
}

.ft-monitor-frame  > h3 {
	color: #222;
	background-color: #EDF1ED;
	border-bottom: solid 2px #DCE0DC;
}

.ft-monitor-frame  > h3:hover  > div.ft_sort {
	display:inline;
}

.ft-monitor-frame > h3 > div.ft_sort {
	float:right;
	/*display:none; hiding controls is against accessibility*/
}

.ft-monitor-team-name {
	width: 85%;
	display: inline-block;
}
.teamicon + .ft-monitor-team-name  {
	width: 70%;
}
.flag + .ft-monitor-team-name {
	width: 75%;
}

.ft-monitor-remove {
	background-image: url("chrome://foxtrick/content/resources/img/cross_small.png");
	width: 12px;
	height: 12px;
	float: right;
	display: block;
	cursor: pointer;
}

.ft-monitor-remove:hover {
	background-image: url("chrome://foxtrick/content/resources/img/crossRed_small.png");
}

#ft-monitor-sidebar-box .hidden {
	display: none !important; /* need to overwrite */
}

.teamicon {
	padding: 0 5px 0 0;
	margin:0 0 -2px;
	max-height: 24px;
	max-width: 36px;
}

.ft-monitor-frame > h3 > a.flag + img {
	margin-top:-2px;
}
#eventList {
	min-height: 0px !important;
}

