@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

.ft-new-mail, .ft-new-forum-msg {
	color: red !important;
	font-weight: bold !important;
}

img.scNewMail {
	background: url("chrome://foxtrick/content/resources/img/new_mail.png") !important;
}

}
