#foxtrick-status-bar-img {
	width: 16px; height: 16px; cursor: pointer; list-style-image: url(chrome://foxtrick/skin/active.png);
}
#foxtrick-status-bar-img[status="enabled"] {
	list-style-image: url("chrome://foxtrick/skin/enabled.png");
}
#foxtrick-status-bar-img[status="disabled"] {
	list-style-image: url("chrome://foxtrick/skin/disabled.png");
}

#foxtrick-toolbar-preferences {
	list-style-image: url("chrome://foxtrick/skin/icon-24.png");
}

toolbar[iconsize="small"] #foxtrick-toolbar-preferences {
	list-style-image: url("chrome://foxtrick/skin/icon-16.png");
}
