.slider {
	position: relative;
	height: 4px;
	background: #eee;
	border: 1px solid #aaa;
}
.slider .handle {
	position: absolute;
	cursor: pointer;
}

.slider .foxtrick-bar {
	display:table-cell;
	width: 7px;
	height: 10px;
	background: #ccc;
	color: #FFF;
	line-height: 10px;
	text-align: center;
	margin-top: -6px;
	padding-top: 4px;
	border: 1px solid #aaa;
}

.slider .disabled {
	background: #898989;
}

.rounded-cornered {
	border-radius: 3px;
}

.ft-xp-walkover {
	text-decoration: line-through;
	background-color: #ff6666;
}

.ft-xp-incomplete {
	background-color: #ff6666;
}
.ft-xp-complete {
	background-color: #66ff66;
}
.ft-xp-skillup {
	background-color: #fcff66 !important;
}

.ft-xp-data-value {
	text-align:right;
}

#ft-xp-min-pts,
#ft-xp-max-pts {
	border-top: 1px solid #000;
}
#ft-xp-min,
#ft-xp-max {

.ft-desc {
	min-width: 200px;
}

.ft-slider-cell {
	display:table-cell;
	width:100%
}

.ft-table-cell {
	display:table-cell;
}

#ft-xp-percentage-value {
	min-width: 70px;
	text-align: right;
}

.ft-slider-option {
	padding-top: 20px;
}
}
