#ft-ppe-prefButtons {
	margin: 1em 0;
}
#ft-ppeBd-table th {
	text-align: center;
	border: solid #dce0dc 1px;
	cursor: auto !important;
}

#ft-ppeBd-table th, #ft-ppeBd-table td {
	vertical-align: middle;
}

#ft-ppeBd-table td, .ft-ppeBd-input {
	text-align: right;
}
#ft-ppeBd-table .ft-ppeBd-skill {
	text-align: left;
}
