span.myht1 {
	position: relative;
}
div.myht2 {
	display: none;
	position: absolute;
	background-color: #FFFFFF;
	border: solid 1px #267F30;
	padding: 0px;
	z-index: 999;
}
span.myht1:hover div.myht2 {
	display: block;
}
div.playerInfo {
	overflow: visible !important;
}
span.myht1 table>tr>td>a {
	font-weight: normal !important;
	text-decoration: underline !important;
	color: #3f7137 !important;
}
span.myht1:hover table>tr:hover {
	background-color: #C3E7C7 !important;
}
div.cfMessage, div.edited, div.cfHeader, div.feedItem, div.cfUserInfo, div.signature {
	overflow: visible !important;
}
div.message {
	overflow:auto;
}
#ticker div div.myht2, div.message span.myht1:hover div.myht2, div.signature-trunc span.myht1:hover div.myht2 {
	display: none;
}
