span.myht1 {
	position: relative;
}
li.ft-popup-list {
	display: none;
	position: absolute;
	background-color: #ffffff;
	border: solid 1px #267f30;
	padding: 0px;
	z-index: 10000;
	list-style-type: none;
}
span.myht1:hover li.ft-popup-list {
	display: block;
}
li.ft-popup-list > ul {
	white-space: nowrap;
	height: 20px;
	padding: 0px 2px !important;
	margin: 0px 0px;
}
li.ft-popup-list > ul  > a,  li.ft-popup-list > ul > span {
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
	display: block !important;
	font-weight: normal !important;
	text-decoration: underline !important;
	color: #3f7137 !important;
}
li.ft-popup-list > ul:hover {
	background-color: #c3e7c7 !important;
}
#ticker div li.ft-popup-list, div.message span.myht1:hover li.ft-popup-list, div.signature-trunc span.myht1:hover li.ft-popup-list {
	display: none;
}
div.cfMessage, div.edited, div.cfHeader, div.feedItem, div.cfUserInfo, div.signature, div.playerInfo {
	overflow: visible !important;
}
div.message {
	overflow:auto;
}
