.ft-popup-span {
	position: relative;
}
#sidebar .ft-popup-span {
	display:inline-block;
}

h1 > span.ft-popup-span {
	font-weight: inherit;
	font-size: inherit;
}


/* fix for vanishing links in rtl tables (working without now and cause problems with htev+match comments in matcheslist)
html[dir="rtl"] td .ft-popup-span {
	display:block;
}*/

ul.ft-popup-list {
	font-size: 11px;
	display: none;
	position: absolute;
	background-color: #ffffff;
	border: solid 2px #267f30;
	padding: 0px;
	z-index: 10002;
	list-style-type: none;
	margin:0px;
	padding: 3px 2px 3px 2px;
}
html[data-theme="standard"] ul.ft-popup-list {
	border-radius: 10px;
}

html[dir="ltr"] ul.ft-popup-list {
	left:  10px;
	right: -moz-initial;
	right: initial;
}
html[dir="rtl"] ul.ft-popup-list {
	right: 10px;
	left: -moz-initial;
	left: initial;
}

ul.ft-popup-list-up {
	bottom:12px; /* = text height */
}

ul.ft-popup-list-down {
	top:12px; /* = line height */
}
h1 ul.ft-popup-list-down {
	top: 27px;
}

.ft-popup-span:hover ul.ft-popup-list {
	display: block;
}

ul.ft-popup-list > li {
	white-space: nowrap;
	height: 20px;
	line-height: 20px;
	padding: 0px 2px;
	margin: 0px;
}

ul.ft-popup-list > li > a, ul.ft-popup-list > li > span {
	cursor: pointer;
	display: block;
	font-weight: normal;
	text-decoration: underline;
	color: #3f7137;
	padding: 0;
}

.sidebarBox span.ft-popup-span > a {
    white-space: nowrap;
}

html[dir="ltr"] ul.ft-popup-list > li > a, html[dir="ltr"] ul.ft-popup-list > li > span {
	text-align: left;
}

html[dir="rtl"] ul.ft-popup-list > li > a, html[dir="rtl"] ul.ft-popup-list > li > span {
	text-align: right;
}

ul.ft-popup-list > li:hover {
	background-color: #c3e7c7;
}

#ticker div ul.ft-popup-list, div.message span.ft-popup-span:hover ul.ft-popup-list, div.signature-trunc span.ft-popup-span:hover ul.ft-popup-list {
	display: none;
}

div.cfMessage, div.edited, div.cfHeader, div.feedItem, div.cfUserInfo, div.signature,
div.playerInfo, .alert, .tournamentInvite, .frontPageList, .teamName, .fplMessageAuthor {
	overflow: visible;
}

.tournamentInvite::after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
.HTMLToolbar  .alert {
	overflow: hidden !important;
}

div.message {
	overflow:auto;
}
