#shortcuts_list .entry, #forum_list .entry, #links_list .entry {
}

#shortcuts_list .entry:hover, #forum_list .entry:hover, #links_list .entry:hover {
    background-color: #cccccc;
}

#shortcuts_list .name, #forum_list .name, #links_list .name {
    font-weight: bold;
}

#shortcuts_list .description, #forum_list .description, #links_list .description {
    font-style: italic;
    font-size: 0.7em;
}
