body
{
	max-height: 540px; 
	font-size: 1em;
	margin: 0px;
	padding: 8px;
}

ul
{
	list-style-type: none;
	margin: 2px;
	margin-top: 0;
	padding: 0px;
}

ul.nav {
	border: 1px solid black;
	/*border-radius: 0 0 5px 5px;*/
	border-top: none;
}

ul li ul
{
	list-style-type: none;
	margin: 0px 0px 5px 20px;
	padding: 5px;
}

h3
{/*
	display:inline;*/
	margin: 0px 0 0;
	border-bottom: 1px solid black;
}

p
{
	margin: 2px 0;
}

input, button, select, textarea
{
	color: #2e2e2e;
	background-color: white;
	border: 1px solid #b4bac0;
	padding: 3px;
	margin: 0 5px 0 0;
}

input[disabled], button[disabled], select[disabled], textarea[disabled]
{
	background-color: #ccc;
}

button.active
{
	/*background-color: #eef;*/
	background-color: : #fff;
	border: 3px solid #a8a8a8;
}


html[dir="rtl"] input, html[dir="rtl"] button
{
	margin: 0 0 0 5px;
}

 #search * input {
	width: 200px;
}
input
{
	width: 95%;
}

input[type] /* only set width for text input */
{
	width: auto;
}

textarea {
	width: 99%;
	min-width: 50%;
	max-width: 99%;
	height: 6em;
}

th.col_checkbox {
	width: 5%;
}

th.col_filepicker {
	width: 10%;
}

th.col_textfield {
	width: 60%;
}

table.bordered, table.bordered td, table.bordered th {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

table {
	margin-top: 20px;
}

table.maxed {
	/*width: 100%;*/
}

table th:first-child {
	text-align: left;
}

html[dir="rtl"] table th:first-child {
	text-align: right;
}

table.center td {
	text-align: center;
}

.module
{
	/*border: 1px solid #ccc;*/
	margin:  5px;
	padding: 0 0 0 5px;
	/*border-bottom: 1px solid #000;*/
}

.module:hover
{
	/*background-color: #f8f8ff;
	border-color: black;*/
}

.module-link
{
	color: #333;
	text-decoration: none;
	font-size: 0.75em;
	margin: 0 0 0 2em;
}

html[dir="rtl"] .module-link
{
	margin: 0 2em 0 0;
}

.screenshot
{
	float: right;
	width: 16px;
	height: 16px;
	background: url("../img/screenshot.png") no-repeat 50% 50%;
}

html[dir="rtl"] .screenshot
{
	float: left;
}

.screenshot:hover
{
	background-image: url("../img/screenshot-hover.png");
}

.clear
{
	clear: both;
}

#version
{
	font-family: Georgia;
	font-style: italic;
	font-size: 0.5em;
	vertical-align: top;
}

#pagelist
{
	font-size: 0.5em;
}

#view-by li {
	float: left;
}


ul.nav li
{
	font-size: 0.85em;
	background-color: #fff;
	border-bottom: none;
	padding: 3px;
}

ul.nav li.hide
{
	display: none;
}

ul.nav li.active
{
	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

ul.nav li a
{
	text-decoration: none;
	color: #444;
	display: block;
	padding-left: 3px;
	padding-right: 3px;
}

ul.nav li:hover
{
	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

ul.nav li a:hover
{
	text-decoration: underline;
	
}

div {
	
}

div#pane
{
	-webkit-box-flex:1;
	-moz-box-flex: 1;
	box-flex: 1;

	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
}

div#main
{
	-webkit-box-flex:1;
	-moz-box-flex: 1;
	box-flex: 1;

	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;

	padding-left: 5px;
}

/*#fixed
{
	position: fixed;
	right: 20px;
	top: 20px;
}*/

/*html[dir="rtl"] #fixed
{
	right: auto;
	left: 20px;
}*/

/*#balloon
{
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #aaa;
	float: right;
}*/

/*html[dir="rtl"] #fixed
{
	float: left;
}*/

/*#balloon a {
	color: #a5b;
	text-decoration: none;
}*/

html[dir="rtl"] #save
{
	font-weight: bold;
	float:left;
}
#save
{
	font-weight: bold;
	float:right;
}

#note
{
	display: none;
	cursor: pointer;
	position: relative;
	z-index: 10;
	top: 20px;
	right: 20px;
	font-size: 2em;
	font-weight: bold;
	padding: 40px;
	color: #b3b3b3;
	background-color: #7da;
}

#dismiss-notice {
	font-size: 0.5em;
	margin: 0 auto;
	font-weight: normal;
}

html[dir="rtl"] #note
{
	right: auto;
	left: 20px;
}

html[dir="rtl"] .alert > p
{
	padding-left: 100px;
}
.alert > p 
{
	padding-right: 100px;	
}
.alert
{
	border: solid 1px orange;
	background-color: #FCF6DF;
	margin: 10px;
	padding: 10px 10px 10px 10px;
	display:none;
}

#alert
{
}

#content.ft-mobile {
	-webkit-box-orient: vertical !important;
	-moz-box-orient: vertical !important;
	box-orient: vertical !important;
}

#content.ft-mobile #navigation  {
	width: 100%;
	position: relative;
}
#content.ft-mobile .nav,
#content.ft-mobile #navigation li {
	text-align: center;
}


#content {
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-align: start;
	-moz-box-align: start;
	box-align: start;

/*	-webkit-box-direction: reverse;
	-moz-box-direction: reverse;
	box-direction: reverse;*/

	clear: both;
}

#header {
}

html[dir="rtl"] #search {
	float: left;
}

#search {
	float: right;
}

.hidden {
	display: none !important;
}

#breakcrumbs {
	border: 1px solid black;
}

.module > h3 {
	padding-top: 2px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #a7d3ed;
	/*border-top-right-radius: 5px;
	border-top-left-radius: 5px;*/
	border: 1px solid black;
	border-bottom: none;

	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

.module-content {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	padding: 5px;
	background-color: #fff;
}

div.nav{
	border: 1px solid black;
	/*border-radius: 5px 5px 0 0;*/
	margin: 2px;
	margin-bottom: 0;
	padding: 2px;

	display:block;
	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

#breadcrumbs {
	border: 1px solid black;
	/*border-radius: 5px 5px 5px 5px;*/
	margin: 2px;
	margin-bottom: 0;
	margin-top: 0;
	padding: 4px;

	display:block;
	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

#breadcrumbs a {
	
	margin: 1px;
	margin-bottom: 0;
	padding: 1px;
	text-decoration: none;
	color: #000;
}

#breadcrumbs a:hover {
	text-decoration: underline;
}

#breadcrumbs span {
	color: #fff;
}