@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

html[data-theme="standard"] #ft_rapidid { margin-top: 9px; margin-left: 7px; }
html[data-theme="simple"] #ft_rapidid { margin-top: 20px; margin-left: 5px; }

#ft_rapidid a { cursor: pointer; text-decoration: underline; }

html[data-theme="simple"] #ft_rapidid_form { font-size: 1.1em; }
html[data-theme="simple"] #ft_rapidid_container { font-size: 100%; }

html[data-theme="simple"] #ft_rapidid_form { z-index: 999; position: relative; bottom: 10px; background-color: white;}
html[data-theme="standard"] #ft_rapidid_form { position: relative; bottom: 6px; }

}
