@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

/* Remove left menu*/

html[data-theme="standard"][dir="ltr"] .mainWrapperRegular, 
html[data-theme="standard"][dir="ltr"] .mainWide {
    width: 954px !important;
}

html[data-theme="standard"][dir="rtl"] .mainWrapperRegular{
    width: 965px !important;
}
html[data-theme="standard"][dir="rtl"] .mainWide {
    width: 954px !important;
    margin: 0 11px 0 0;
}

html[data-theme="simple"][dir="ltr"] .mainWrapperRegular, 
html[data-theme="simple"][dir="ltr"] .mainWide {
    width:765px !important;
}

html[data-theme="simple"][dir="rtl"] .mainWrapperRegular{
    width:765px !important;
}

html[data-theme="simple"][dir="rtl"] .mainWide {
    width:765px !important;
    margin: 0 !important;
}

html[data-theme="standard"][dir="ltr"] .mainWrapperWide {
	width:954px !important;
	float:none !important;
}

html[data-theme="standard"][dir="rtl"] .mainWrapperWide {
    width:791px !important;
    float:none !important;
}

html[data-theme="simple"] .mainWrapperWide {
    width:765px !important;
    float:none !important;
}

html[data-theme="standard"][dir="ltr"] .mainRegular {
    width:743px !important;
}

html[data-theme="standard"][dir="rtl"] .mainRegular {
	width:739px !important;
    margin: 0 !important;
}

html[data-theme="simple"][dir="ltr"] .mainRegular {
    width:575px !important;
}

html[data-theme="simple"][dir="rtl"] .mainRegular {
    width:575px !important;
     margin: 0 !important;
}

html[data-theme="simple"] .subMenu,
html[data-theme="standard"] .subMenu {
	display:none !important;
}

html[data-theme="standard"][dir="rtl"] #menu {
    padding-right: 0;
    padding-left: 0;
}


}
