@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

/* Remove left menu*/

.mainWrapperRegular, .mainWide {
	width:954px !important;
}
.mainWrapperWide {
	width:954px !important;
	float:none !important;
}
.mainRegular {
	width:743px !important;
}

.subMenu {
	display:none !important;
}

}
