@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

/* Remove left menu*/

html[data-theme="standard"][dir="ltr"] .mainWrapperRegular, .mainWide {
    width:954px !important;
}

html[data-theme="standard"][dir="rtl"] .mainWrapperRegular, .mainWide {
    width:979px !important;
}

html[data-theme="standard"][dir="ltr"] .mainWrapperWide {
	width:954px !important;
	float:none !important;
}

html[data-theme="standard"][dir="rtl"] .mainWrapperWide {
    width:979px !important;
    float:none !important;
}

html[data-theme="standard"] .mainRegular {
	width:743px !important;
}

html[data-theme="standard"] .subMenu {
	display:none !important;
}

html[data-theme="simple"] .mainWrapperRegular, .mainWide {
    width:765px !important;
}

html[data-theme="simple"] .mainWrapperWide {
    width:765px !important;
    float:none !important;
}
html[data-theme="simple"] .mainRegular {
    width:575px !important;
}

html[data-theme="simple"] .subMenu {
    display:none !important;
}

}
