.ft_seasonstats_td {
    padding: 0 1px;
}
.ft_seasonstats_border_left {
	border-left: 1px solid #849D84;
}

#foxtrick_seasonstats_content th {
	border-bottom: 2px solid #849D84;
}

#ft_season_selectboxID {
	float: right;
	margin-top: 20px;
}
html[data-theme="simple"] #ft_season_selectboxID {
	margin-top: 4px;
}
