@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

.ft_seasonstats_td {
    padding: 0 1px !important;
}
.ft_seasonstats_border_left {
	border-left: 1px solid #849D84 !important;
}

#foxtrick_seasonstats_content th {
	border-bottom: 2px solid #849D84 !important;
}

}
