html[dir="ltr"] .ft_skilltablediv { margin: 35px 0 35px -8px; }
html[dir="rtl"] .ft_skilltablediv { margin: 35px -8px 35px 0; }
.ft_skilltablediv.transfer { margin: 35px 0; }
.ft_skilltablediv h2 { margin: 10px 0 !important; }
.ft_skilltable { width: auto !important; max-width: 100%; margin: 0.1em auto 0.5em auto; white-space: nowrap; border-collapse: collapse; border: 1px solid #dce0dc; }
.ft_skilltable td:nth-child(even) { background-color: #eeeeee; }
.ft_skilltable td:nth-child(odd) { background-color: white; }
.ft_skilltable th { text-align: center !important; }
.ft_skilltable th, .ft_skilltablediv table td { padding: 1px 2px !important; vertical-align: middle !important; }
.ft_skilltable_container a, .ft_skilltable_links a { cursor: pointer; }
.ft_skilltable_wrapper, .ft_skilltable_customizewrapper { max-width: 100%; overflow: auto; }
.ft_skilltable_links { margin-bottom: 0.5em !important; }
.ft_skilltable_links a { display: none; margin: 0 0.5em 0 0; }
.ft_skilltable_links .secondary { float: right; }
.ft_skilltable_links .customize_item { display: inline; }
.ft_skilltable_links.customizing a { display: inline; }
.ft_skilltable_links.customizing .customize_item { display: none; }
.ft_skilltable_container { background-color: #fff; }
.ft_skilltable_container.on_top { position: absolute; z-index: 100; padding: 1em; border: 2px solid #888; }
.ft_skilltable th { cursor: pointer; }
.ft_skilltable td { border-bottom: 1px solid #dce0dc; }
.ft_skilltable td.align-right { text-align: right !important; }
.ft_skilltable td.align-left { text-align: left !important; }
.ft_skilltable td.latest-match { font-weight: bold; }
.ft_skilltable td.second-latest-match { font-style: italic; }
.ft_skilltable td.maxed { font-weight: bold; }
html[dir="ltr"] .ft_skilltable td.status img:nth-child(1) { margin-left: 0; }
html[dir="rtl"] .ft_skilltable td.status img:nth-child(1) { margin-right: 0; }
html[dir="ltr"] .ft_skilltable td.status img { margin-left: 0.5em; }
html[dir="rtl"] .ft_skilltable td.status img { margin-left: 0.5em; }
html[dir="rtl"] .ft_skilltable td.formatted-num { direction: ltr; }
#ft_skilltable img { vertical-align: middle; }
