/* Order by ascending priority since an element may have more than one class
   so that the last declared one wins. */
.ft-staff-icon {
	width: 18px;
	height: 16px;
	background-position: 50% 50%;
	vertical-align: top !important;
	background-repeat: no-repeat;
}
a.ft-staff-style {
	display: inline-block;
	min-height: 16px;
	padding:1px;
	font-weight:700;
	text-decoration:none;
}
.ft-staff-icon.ft-staff-supported {
	background-image: url("chrome://foxtrick/content/resources/img/staff/supported.png");
}

.ft-staff-icon.ft-staff-supporter {
	background-image: url("chrome://foxtrick/content/resources/img/staff/supporter.png");
}

.ft-staff-icon.ft-staff-htls {
	background-image: url("chrome://foxtrick/content/resources/img/staff/htls.png");
}
.ft-staff-icon.ft-staff-ho {
	background-image: url("chrome://foxtrick/content/resources/img/staff/ho.png");
}
.ft-staff-icon.ft-staff-hy {
	background-image: url("chrome://foxtrick/content/resources/img/staff/hyouthclub.png");
}

.ft-staff-icon.ft-staff-foxtrick{
	background-image: url("chrome://foxtrick/content/resources/img/staff/foxtrick.png");
}

.ft-staff-icon.ft-staff-chpp-holder {
	background-image: url("chrome://foxtrick/content/resources/img/staff/chpp.png");
	width: 24px;
}

.ft-staff-icon.ft-staff-editor {
	background-image: url("chrome://foxtrick/content/resources/img/staff/editor.png");
}

a.ft-staff-chpp, a.ft-staff-chpp:hover, option.ft-staff-chpp {
	background-color:green;
	color:white;
}

a.ft-staff-la, a.ft-staff-la:hover, option.ft-staff-la {
	background-color:white;
	color:green;
}

a.ft-staff-mod, a.ft-staff-mod:hover, option.ft-staff-mod {
	background-color:yellow;
	color:black;
}

a.ft-staff-gm, a.ft-staff-gm:hover, option.ft-staff-gm {
	background-color:orange;
	color:black;
}

a.ft-staff-ht, a.ft-staff-ht:hover, option.ft-staff-ht {
	background-color: red;
	color:white;
}

/* select options */
.ft-staff-official {
	background-color: #FFBA00;
	color: black;
}

.ft-staff-seperator {
	background-color: #DDD;
	color: black;
}

.boxBody .teamInfo a:hover,
.boxBody #ctl00_ctl00_CPContent_CPMain_pnlMySupporters a:hover,
#sidebar a:hover,
.feedItem .shy a:hover {
	text-decoration:underline;
}

.ft-staff-marker-opts {
	text-align: center;
}

#sidebar a.ft-no-popup {
	display: inline;
}

#ctl00_ctl00_CPContent_CPMain_ucForumSneakpeek_updSneakpeek .frontPageList {
	margin-left: -18px;
}
#ctl00_ctl00_CPContent_CPMain_ucForumSneakpeek_updSneakpeek .fplThreadInfo {
	width: 35px;
	text-overflow: ellipsis;
}
#ctl00_ctl00_CPContent_CPMain_ucForumSneakpeek_updSneakpeek .fplThreadName {
	width: 140px;
	text-overflow: ellipsis;
}
#ctl00_ctl00_CPContent_CPMain_ucForumSneakpeek_updSneakpeek .fplMessageAuthor {
	width: 175px;
}
.fplPreview, .fplRead {
	width: 12px;
	position: relative;
	z-index: 1;
}
