/* Order by ascending priority since an element may have more than one class
   so that the last declared one wins. */

.ft-staff-hty {
	background-image: url("chrome://foxtrick/content/resources/img/staff/hyouthclub.png");
	background-repeat: no-repeat;
	padding: 1px 1px 1px 18px !important;
}

.ft-staff-foxtrick {
	background-image: url("chrome://foxtrick/content/resources/img/staff/foxtrick.png");
	background-repeat: no-repeat;
	padding: 1px 1px 1px 18px !important;
}

.ft-staff-chpp-holder {
	background-image: url("chrome://foxtrick/content/resources/img/staff/chpp.png");
	background-repeat: no-repeat;
	padding: 1px 1px 1px 24px !important;
}

.ft-staff-editor {
	background-color: #7BB300;
	color: white !important;
}

.ft-staff-chpp {
	background-color: green;
	color: white !important;
}

.ft-staff-la {
	background-color: white;
	color: green !important;
}

.ft-staff-mod {
	background-color: yellow;
	color: black !important;
}

.ft-staff-gm {
	background-color: orange;
	color: black !important;
}

.ft-staff-ht {
	background-color: red;
}
