/* Order by ascending priority since an element may have more than one class
   so that the last declared one wins. */
.ft-staff-icon {
	width: 18px;
	height: 16px;
	background-position: 50% 50%;
	vertical-align: top !important;
	background-repeat: no-repeat;
}
a.ft-staff-style {
	display: inline-block;
	min-height: 16px;
}
.ft-staff-icon.ft-staff-supported {
	background-image: url("chrome://foxtrick/content/resources/img/staff/supported.png");
}

.ft-staff-icon.ft-staff-supporter {
	background-image: url("chrome://foxtrick/content/resources/img/staff/supporter.png");
}

.ft-staff-icon.ft-staff-htls {
	background-image: url("chrome://foxtrick/content/resources/img/staff/htls.png");
}
.ft-staff-icon.ft-staff-ho {
	background-image: url("chrome://foxtrick/content/resources/img/staff/ho.png");
}
.ft-staff-icon.ft-staff-hy {
	background-image: url("chrome://foxtrick/content/resources/img/staff/hyouthclub.png");
}

.ft-staff-icon.ft-staff-foxtrick{
	background-image: url("chrome://foxtrick/content/resources/img/staff/foxtrick.png");
}

.ft-staff-icon.ft-staff-chpp-holder {
	background-image: url("chrome://foxtrick/content/resources/img/staff/chpp.png");
	width: 24px;
}

.ft-staff-icon.ft-staff-editor {
	background-image: url("chrome://foxtrick/content/resources/img/staff/editor.png");
}

.ft-staff-chpp {
	background-color:green;
	color:white !important;
	font-weight:700;
	padding:1px;
	text-decoration:none;
}


.ft-staff-la {
	background-color:white;
	color:green !important;
	font-weight:700;
	padding:1px;
	text-decoration:none;
}

.ft-staff-mod {
	background-color:yellow;
	color:black !important;
	font-weight:700;
	padding:1px;
	text-decoration:none;
}

.ft-staff-gm {
	background-color:orange;
	color:black !important;
	font-weight:700;
	padding:1px;
	text-decoration:none;
}

.ft-staff-ht {
	background-color: red;
	color:white !important;
	font-weight:700;
	padding:1px;
	text-decoration:none;
}

.ft-staff-official {
	background-color: #FFBA00;
}

.ft-staff-seperator {
	background-color: #DDD;
}

.boxBody .teamInfo a:hover,
.boxBody #ctl00_ctl00_CPContent_CPMain_pnlMySupporters a:hover,
#sidebar a:hover,
.feedItem .shy a:hover {
	text-decoration:underline;
}

.ft-staff-marker-opts {
	text-align: center;
}

#sidebar a.ft-no-popup {
	display: inline !important;
}
