/* TeamStats */
#ft-team-stats-box table {
	table-layout:fixed;
	width:180px;
}

#ft-team-stats-box table tr+tr td {
	table-layout:fixed;
	width:90px;
	overflow:hidden;
}

#ft-team-stats-box table th {
	text-decoration: underline;
	padding-bottom: 0.5em !important;
	padding-top: 1em !important;
}

#ft-team-stats-box table td {
	font-size: 0.9em !important;
}
