/* Ticker colors by htbaumanns*/
@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {

/* Welcoming - GREEN */
#ticker a[href="/MyHattrick/"] {color:#277F31; background-color:#ACEFB3;}

/* - ORANGE */
#ticker a[href*="teamId"] {color:#5F2A00; background-color:#E7CBB4;}

/* Forum - Posting reply to me - BLUE */
#ticker a[href*="/Forum/"] {color:#413FFF; background-color:#CFD0FF;}

/* Player - Player on Transfer market - YELLOW */
#ticker a[href*="/Players/"] {color:#000; background-color:#F6FFA7;}

/* Challenges - GRAY */
#ticker a[href*="/Challenges/"] {color:#000; background-color:#BFBFBF;}

/* ??? - GRAY */
#ticker a[href*="/Myhattrick/"] {color:#000; background-color:#A7A7A7;}

/* Inbox - I've got mail - LILA */
#ticker a[href*="/Inbox/"] {color:#000; background-color:#E7B7FF;}

/* Guestbook - AQUA */
#ticker a[href*="/Manager/"] {color:#000; background-color:#8FFFFD;}

/* small margins */
#ticker a {margin:2px;}

/* Hovering no background */
#ticker a:hover {color:#000 !important; background-color: transparent !important;}

}