@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name) {
/* Module TickerColoring */

/* ticker links */
.ft-ticker-link {
	margin: 2px;
	color: black;
}

/* on mouse hover */
.ft-ticker-link:hover {
	background-color: transparent;
}

/* login welcome */
.ft-ticker-welcome {
	background-color: #dfefc2;
}

/* supporter login */
.ft-ticker-supporter {
	background-color: #ffe8cf;
}

/* forum reply */
.ft-ticker-forum {
	background-color: #dfeeff;
}

/* transfer */
.ft-ticker-transfer {
	background-color: #fffbcf;
}

/* challenge */
.ft-ticker-challenge {
	background-color: #ffdfe0;
}

/* guestbook */
.ft-ticker-guestbook {
	background-color: #dffffd;
}

/* mail */
.ft-ticker-mail {
	background-color: #eedfff;
}

/* My Hattrick message */
.ft-ticker-myht {
	background-color: #dfdfdf;
}

}