html[dir="ltr"] .ft-transfer-history-filter-container {
	float:right;
}
html[dir="rtl"] .ft-transfer-history-filter-container {
	float:left;
}
html[dir="ltr"] .ft-transfer-history-filter-label {
	margin-right: 10px;
}
html[dir="rtl"] .ft-transfer-history-filter-label {
	margin-left: 10px !important;
}
