/* user-content-example.css
 *
 * This file is a list of CSS statements for styling FoxTrick that satisfies
 * user's preferences. There are comments that describes what module each
 * statement belongs to and their meanings.
 *
 * Generally, you need to have the basic CSS knowledge to modify the values.
 *
 * After adjusting the values and saving it to a file, you could use
 * the SkinPlugin module of FoxTrick to load the CSS file in order to have the
 * user style in effect.
 */


/* Module htmsstatistics */

/* the bar indicating win probability */
.ft-htms-stats-win {
	background-color: green;
}

/* the bar indicating draw probability */
.ft-htms-stats-draw {
	background-color: gray;
}

/* the bar indicating loss probability */
.ft-htms-stats-loss {
	background-color: red;
}
