@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {

div.youthnotes .alert {
padding:0px !important;
float:left !important;
width:425px !important;
}

/* Youthnote width */
div.youthnotes .alert .mainBox {
width:415px !important;
float:left !important;
margin-top:-5px !important;
overflow:hidden !important;
}

/* Edit youthnote input width */
div.youthnotes input {
width:105px !important;
}

/* Youthnote width */
/* too width overflow */
div.youthnotes .mainBox {
margin-top:-5px !important;
overflow:hidden !important;
}

div.youthnotes {
white-space:nowrap !important;
width:430px !important;
}

}