@-moz-document domain(hattrick.org), domain(hattrick.interia.pl), domain(hattrick.ws) {

#ft_youthskilltable{ 
	margin-top:35px;
	margin-bottom:35px;
}

#ft_youthskilltable h2 { 
	cursor: pointer;
}	

.ft_table_even {
	background-color:#eeeeee;
	text-align:center !important;
}

.ft_table_odd {
	text-align:center !important;
}

.ft_table_skill_maxed {
	font-weight: bold;
}

.ft_skilltable_blockend  td {
	border-bottom: 1px solid #dddddd
}

}

