@-moz-document domain(hattrick.org), domain(hattrick.uol.com.br), domain(hattrick.interia.pl), domain(hattrick.ws), domain(hat-trick.net), domain(hattrick.name), domain(hattrick.fm) {

.ft-hy-spec {
	color: red;
}
.ft-skillbar-bg {
	background: url(chrome://foxtrick/content/resources/img/skillbars/bg.png) top left no-repeat;
	width: 93px;
	height: 14px;
}
.ft-skillbar-ht-pot, .ft-skillbar-hy-pot, .ft-skillbar-ht-cur, .ft-skillbar-hy-cur,
.ft-skillbar-maxed, .ft-skillbar-hy-pred {
	position: absolute;
	left: 1px;
	top: 1px;
    width: 0;
	height: 12px;
}
.ft-skillbar-hy-pot {
    background: url(chrome://foxtrick/content/resources/img/skillbars/hy-pot.png) top left no-repeat;
}
.ft-skillbar-ht-pot {
    background: url(chrome://foxtrick/content/resources/img/skillbars/ht-pot.png) top left no-repeat;
}
.ft-skillbar-hy-pred {
    background: url(chrome://foxtrick/content/resources/img/skillbars/hy-pred.png) top left no-repeat;
}
.ft-skillbar-hy-cur {
    background: url(chrome://foxtrick/content/resources/img/skillbars/hy-cur.png) top left no-repeat;
}
.ft-skillbar-ht-cur {
    background: url(chrome://foxtrick/content/resources/img/skillbars/ht-cur.png) top left no-repeat;
}
.ft-skillbar-maxed {
    background: url(chrome://foxtrick/content/resources/img/skillbars/maxed.png) top left no-repeat;
}

}
