#ft-hy-skills-info ul {
	margin: 5px 0 !important;
}

.ft-hy-spec {
	color: red;
}
.ft-hy-top3-skill {
	color: #f42525;
}
.ft-skillbar-bg {
	background: url(chrome://foxtrick/content/resources/img/skillbars/bg.png) top left no-repeat;
	width: 93px;
	height: 14px;
}
.ft-skillbar {
	position: absolute;
	top: 1px;
	width: 0;
	height: 12px;
}
html[dir="ltr"] .ft-skillbar {
	left: 1px;
}
html[dir="rtl"] .ft-skillbar {
	right: 1px;
}
html[dir="ltr"] .ft-skillbar-hy {
	background-position: -2px 0;
}
html[dir="rtl"] .ft-skillbar-hy {
	background-position: 2px 0;
}
.ft-skillbar-hy-pot {
	background-image: url(chrome://foxtrick/content/resources/img/skillbars/hy-pot.png);
}
.ft-skillbar-hy-pred {
	background-image: url(chrome://foxtrick/content/resources/img/skillbars/hy-pred.png);
}
.ft-skillbar-hy-cur {
	background-image: url(chrome://foxtrick/content/resources/img/skillbars/hy-cur.png);
}
.ft-skillbar-ht-pot {
	background-image: url(chrome://foxtrick/content/resources/img/skillbars/ht-pot.png);
}
.ft-skillbar-ht-cur {
	background-image: url(chrome://foxtrick/content/resources/img/skillbars/ht-cur.png);
}
.ft-skillbar-maxed {
	background-image: url(chrome://foxtrick/content/resources/img/skillbars/maxed.png);
}
.ft-skillbar-singlet {
	width: 12px;
	position: inherit;
	position: initial;
	position: -moz-initial;
	margin: 0 5px;
	vertical-align: text-top;
	background-position: -2px 0;
}
