

.threadItem td div.ignore,
.threadItem td div.unsubscribe,
.threadItem td div.unignore {
	margin: 0 0 0 -1px !important;
}

.threadItem td div.url {
	width: 130px !important;
}

.threadItem td div.threadInfo {
	width: 60px !important;
}
