/* honesty */

a[href*="gameRules.asp?find=labels&labeltype=honesty&labellevel=0"]:after {
	content: " " url(red_1.jpg);
}
a[href*="gameRules.asp?find=labels&labeltype=honesty&labellevel=1"]:after {
	content: " " url(orange_2.jpg);
}
a[href*="gameRules.asp?find=labels&labeltype=honesty&labellevel=2"]:after {
	content: " " url(yellow_3.jpg);
}
a[href*="gameRules.asp?find=labels&labeltype=honesty&labellevel=3"]:after {
	content: " " url(lightgreen_4.jpg);
}
a[href*="gameRules.asp?find=labels&labeltype=honesty&labellevel=4"]:after {
	content: " " url(darkgreen_5.jpg);
}
a[href*="gameRules.asp?find=labels&labeltype=honesty&labellevel=5"]:after {
	content: " " url(blue_6.jpg);
}

/* aggressivity */

a[href*="gameRules.asp?find=labels&labeltype=aggressiveness&labellevel=4"]:after {
	content: " " url(red_1.jpg);
}
a[href*="gameRules.asp?find=labels&labeltype=aggressiveness&labellevel=3"]:after {
	content: " " url(orange_2.jpg);
}
a[href*="gameRules.asp?find=labels&labeltype=aggressiveness&labellevel=2"]:after {
	content: " " url(yellow_3.jpg);
}
a[href*="gameRules.asp?find=labels&labeltype=aggressiveness&labellevel=1"]:after {
	content: " " url(lightgreen_4.jpg);
}
a[href*="gameRules.asp?find=labels&labeltype=aggressiveness&labellevel=0"]:after {
	content: " " url(darkgreen_5.jpg);
}


/* gentleness */

a[href*="gameRules.asp?find=labels&labeltype=gentleness&labellevel=0"]:after {
    content: " " url(red_1.jpg);
}
a[href*="gameRules.asp?find=labels&labeltype=gentleness&labellevel=1"]:after {
	content: " " url(orange_2.jpg);	
}
a[href*="gameRules.asp?find=labels&labeltype=gentleness&labellevel=2"]:after {
	content: " " url(yellow_3.jpg);
}
a[href*="gameRules.asp?find=labels&labeltype=gentleness&labellevel=3"]:after {
	content: " " url(lightgreen_4.jpg);
}
a[href*="gameRules.asp?find=labels&labeltype=gentleness&labellevel=4"]:after {
    content: " " url(darkgreen_5.jpg);
}
a[href*="gameRules.asp?find=labels&labeltype=gentleness&labellevel=5"]:after {
	content: " " url(blue_6.jpg);
}
