/* honesty */

a[href*="gameRules.asp?find=labels&lt=honesty&ll=0"]:after {
	content: " " url(red_1.jpg);
}
a[href*="gameRules.asp?find=labels&lt=honesty&ll=1"]:after {
	content: " " url(orange_2.jpg);
}
a[href*="gameRules.asp?find=labels&lt=honesty&ll=2"]:after {
	content: " " url(yellow_3.jpg);
}
a[href*="gameRules.asp?find=labels&lt=honesty&ll=3"]:after {
	content: " " url(lightgreen_4.jpg);
}
a[href*="gameRules.asp?find=labels&lt=honesty&ll=4"]:after {
	content: " " url(darkgreen_5.jpg);
}
a[href*="gameRules.asp?find=labels&lt=honesty&ll=5"]:after {
	content: " " url(blue_6.jpg);
}

/* aggressivity */

a[href*="gameRules.asp?find=labels&lt=aggressiveness&ll=4"]:after {
	content: " " url(red_1.jpg);
}
a[href*="gameRules.asp?find=labels&lt=aggressiveness&ll=3"]:after {
	content: " " url(orange_2.jpg);
}
a[href*="gameRules.asp?find=labels&lt=aggressiveness&ll=2"]:after {
	content: " " url(yellow_3.jpg);
}
a[href*="gameRules.asp?find=labels&lt=aggressiveness&ll=1"]:after {
	content: " " url(lightgreen_4.jpg);
}
a[href*="gameRules.asp?find=labels&lt=aggressiveness&ll=0"]:after {
	content: " " url(darkgreen_5.jpg);
}


/* gentleness */

a[href*="gameRules.asp?find=labels&lt=gentleness&ll=0"]:after {
    content: " " url(red_1.jpg);
}
a[href*="gameRules.asp?find=labels&lt=gentleness&ll=1"]:after {
	content: " " url(orange_2.jpg);	
}
a[href*="gameRules.asp?find=labels&lt=gentleness&ll=2"]:after {
	content: " " url(yellow_3.jpg);
}
a[href*="gameRules.asp?find=labels&lt=gentleness&ll=3"]:after {
	content: " " url(lightgreen_4.jpg);
}
a[href*="gameRules.asp?find=labels&lt=gentleness&ll=4"]:after {
    content: " " url(darkgreen_5.jpg);
}
a[href*="gameRules.asp?find=labels&lt=gentleness&ll=5"]:after {
	content: " " url(blue_6.jpg);
}
