div.foxtrickCopy {
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url('chrome://foxtrick/content/resources/img/copy_small.png') 50% no-repeat;
}

div.foxtrickCopy:hover {
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url('chrome://foxtrick/content/resources/img/copy_yellow_small.png') 50% no-repeat;
}

div.foxtrickHelp {
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url('chrome://foxtrick/content/resources/img/Aiga_information_green.png') 50% no-repeat;
}

div.foxtrickHelp:hover {
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url('chrome://foxtrick/content/resources/img/Aiga_information_yellow.png') 50% no-repeat;
}


div.foxtrickExport {
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url('chrome://foxtrick/content/resources/img/Aiga_downarrow_green.png') 50% no-repeat;
}

div.foxtrickExport:hover {
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url('chrome://foxtrick/content/resources/img/Aiga_downarrow_yellow.png') 50% no-repeat;
}
