

a.copyicon {
	cursor: pointer; 
	position:absolute;
	 top:11px;
	 z-index:99;	
}

#hattrickNoSupporter   a.ci_first { right:14px;}
#hattrick   a.ci_first {right:50px;}

#hattrickNoSupporter   a.ci_second { right:54px;}
#hattrick   a.ci_second {right:90px;}

#hattrickNoSupporter   a.ci_third {right:94px;}
#hattrick   a.ci_third{right:130px;}

#hattrickNoSupporter   a.ci_forth{right:134px;}
#hattrick   a.ci_forth{right:170px;}

.copyicon img {
	padding: 0px 5px 0px 0px; 
	height:36px; 
	width:34px; 
}

.copyplayerad img {
	background: transparent url(chrome-extension://kfdfmelkohmkpmpgcbbhpbhgjlkhnepg/resources/img/copyplayerad.png) no-repeat scroll 0 0;
}

.copyplayerscource img {
	background: transparent url(chrome-extension://kfdfmelkohmkpmpgcbbhpbhgjlkhnepg/resources/img/youthplayersource.png) no-repeat scroll 0 0;
}

.copyratingshome img {
	background: transparent url(chrome-extension://kfdfmelkohmkpmpgcbbhpbhgjlkhnepg/resources/img/copyratingshome.png) no-repeat scroll 0 0;
}

.copyratingsaway img {
	background: transparent url(chrome-extension://kfdfmelkohmkpmpgcbbhpbhgjlkhnepg/resources/img/copyratingsaway.png) no-repeat scroll 0 0;
}


}

