

.bookmarkMessage img {
	background:transparent url('chrome-extension://kfdfmelkohmkpmpgcbbhpbhgjlkhnepg/resources/linkicons/bookmark_post.png') no-repeat scroll 
	0 0!important
}
.cfWrapper .bookmarkMessage {
top:0px!important;
margin-left:3px!important;
float:right!important;
}
.bookmarkMessage img{
width:12px!important;
height:13px!important;
}
