

.threadItem td div.ignore,
.threadItem td div.unsubscribe,
.threadItem td div.unignore {
	margin: 0 -1px 0 2px !important;
}

.threadItem td div.url {
	width: 175px !important;
}

#myForums  {
	padding: 8px 7px 15px !important;
}

