

#ctl00_CPMain_plyRightBack_ddlBehaviour option {background-color:#8f8; }
#ctl00_CPMain_plyDef1_ddlBehaviour  option{background-color:#88f; }
#ctl00_CPMain_plyDef2_ddlBehaviour  option{background-color:#88f; }
#ctl00_CPMain_plyLeftBack_ddlBehaviour  option {background-color:#8f8; }
#ctl00_CPMain_plyRightWing_ddlBehaviour option {background-color:#fd8; }
#ctl00_CPMain_plyMid1_ddlBehaviour option {background-color:#ff8; }
#ctl00_CPMain_plyMid2_ddlBehaviour option {background-color:#ff8; }
#ctl00_CPMain_plyLeftWing_ddlBehaviour option {background-color:#fd8; }
#ctl00_CPMain_plyForward1_ddlBehaviour option {background-color:#f88; }
#ctl00_CPMain_plyForward2_ddlBehaviour option {background-color:#f88; }
#startlineup div.orderdropbox   option[value="5"] {background-color:#f88; }  /*extra forward*/
#startlineup div.orderdropbox   option[value="6"] {background-color:#ff8; } /*extra IM*/
#startlineup div.orderdropbox   option[value="7"] {background-color:#88f; } /*extra CD*/
/*
#ctl00_CPMain_plyRightBack_ddlBehaviour option[selected] {background-color:#8f8 !important; }
#ctl00_CPMain_plyDef1_ddlBehaviour option[selected] {background-color:#88f !important; }
#ctl00_CPMain_plyDef2_ddlBehaviour option[selected] {background-color:#88f !important; }
#ctl00_CPMain_plyLeftBack_ddlBehaviour option[selected] {background-color:#8f8 !important; }
#ctl00_CPMain_plyRightWing_ddlBehaviour option[selected] {background-color:#fd8 !important; }
#ctl00_CPMain_plyMid1_ddlBehaviour option[selected] {background-color:#ff8 !important; }
#ctl00_CPMain_plyMid2_ddlBehaviour option[selected] {background-color:#ff8 !important; }
#ctl00_CPMain_plyLeftWing_ddlBehaviour option[selected] {background-color:#fd8 !important; }
#ctl00_CPMain_plyForward1_ddlBehaviour option[selected] {background-color:#f88 !important; }
#ctl00_CPMain_plyForward2_ddlBehaviour option[selected] {background-color:#f88 !important; }
#startlineup div.orderdropbox   option[value="5"][selected] {background-color:#f88 !important; } 
#startlineup div.orderdropbox   option[value="6"][selected] {background-color:#ff8 !important; } 
#startlineup div.orderdropbox   option[value="7"][selected] {background-color:#88f !important; } 
*/
