@namespace url(http://www.w3.org/1999/xhtml);


#aspnetForm[action^=Read] div[class='main mainConf'] div.cfHeader {min-height:14px; height:0px !important; float:none  !important;}
#aspnetForm[action^=Read] div[class='main mainConf'] div.cfHeader > div[class='float_right right'] {
	position:relative; margin-right:0px; top:0px; float:none  !important;  padding-left:3px !important; overflow:visible;}
#aspnetForm[action^=Read] div[class='main mainConf'] div.cfHeader > div.float_right > div.float_right {display:none;}
div.cfHeader br {display:none !important; padding: 2px;}
.cfHeader a[class="flag inner"] img { margin: 0 0px 2px 0 !important; }
div[class="cfHeader doubleLine"] b:after {content:" " !important;}
.cfHeader a[class="bookmarkMessage"] img{margin: 0 0px -2px 0 !important;}
.cfHeader a[class="flag inner"] img { border: 0px solid #DDDDDD !important; }
.cfHeader, .cfHeader img, .cfHeader a,  .cfHeader .float_right  {
	padding-left:0px;  padding-right:0px;font-size:10px;padding-right:0px;line-height: 12px !important;}

